In [1]:
# Importar librerías necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn import datasets
from io import StringIO
from sklearn.tree import export_graphviz
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import metrics
%matplotlib inline

In [3]:
Comercios = pd.read_excel('Comercios_municipios.xls')

In [5]:
Comercios

,,Total,B_E Industria,F Construcción,"Comercio, transporte y hostelería",J Información y comunicaciones,K Actividades financieras y de seguros,L Actividades inmobiliarias,Actividades profesionales y técnicas,"Educación, sanidad y servicios sociales",Otros servicios personales,Total servicios
0,,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019
1,Total Nacional,3363197,199076,422350,1215680,68158,77396,179484,622015,272124,306914,1526091
2,01 Araba/Álava,18678,1942,2397,7099,359,326,221,3132,1493,1709,7240
3,01001 Alegría-Dulantzi,148,20,26,59,,,,,,,43
4,01002 Amurrio,600,63,95,251,6,9,7,90,40,39,191
...,...,...,...,...,...,...,...,...,...,...,...,...
8187,50903 Villamayor de Gállego,166,17,18,62,,,,,,,69
8188,51 Ceuta,3789,82,290,1956,33,47,129,530,313,409,1461
8189,51001 Ceuta,3789,82,290,1956,33,47,129,530,313,409,1461
8190,52 Melilla,5304,117,377,3201,49,46,97,593,403,421,1609
8191,52001 Melilla,5304,117,377,3201,49,46,97,593,403,421,1609

In [14]:
#borro la primera línea que es el año de los datos y no es informativa

Comercios = Comercios.drop([0])

In [9]:
#Como quiero poner nombre a la primera columna, primero veo como la tiene nombrada el df:
Comercios.columns

Index([' ', 'Total', 'B_E Industria', 'F Construcción',
       'Comercio, transporte y hostelería', 'J Información y comunicaciones',
       'K Actividades financieras y de seguros', 'L Actividades inmobiliarias',
       'Actividades profesionales y técnicas',
       'Educación, sanidad y servicios sociales', 'Otros servicios personales',
       'Total servicios'],
      dtype='object')

In [10]:
# Ahora, puedo utilizar un replace o renombrar todas las columnas (copia y pego con el nombre que queramos en la columna que queramos)

# Opción de replace:
Comercios.rename(columns={' ':'Region'}, inplace=True)

#Opción copia pega:
# Comercios.columns = ['Region', 'Total', 'B_E Industria', 'F Construcción',
#       'Comercio, transporte y hostelería', 'J Información y comunicaciones',
#       'K Actividades financieras y de seguros', 'L Actividades inmobiliarias',
#       'Actividades profesionales y técnicas',
#       'Educación, sanidad y servicios sociales', 'Otros servicios personales',
#       'Total servicios']

In [15]:
Comercios

,Region,Total,B_E Industria,F Construcción,"Comercio, transporte y hostelería",J Información y comunicaciones,K Actividades financieras y de seguros,L Actividades inmobiliarias,Actividades profesionales y técnicas,"Educación, sanidad y servicios sociales",Otros servicios personales,Total servicios
1,Total Nacional,3363197,199076,422350,1215680,68158,77396,179484,622015,272124,306914,1526091
2,01 Araba/Álava,18678,1942,2397,7099,359,326,221,3132,1493,1709,7240
3,01001 Alegría-Dulantzi,148,20,26,59,,,,,,,43
4,01002 Amurrio,600,63,95,251,6,9,7,90,40,39,191
5,01003 Aramaio,50,8,7,16,,,,,,,19
...,...,...,...,...,...,...,...,...,...,...,...,...
8187,50903 Villamayor de Gállego,166,17,18,62,,,,,,,69
8188,51 Ceuta,3789,82,290,1956,33,47,129,530,313,409,1461
8189,51001 Ceuta,3789,82,290,1956,33,47,129,530,313,409,1461
8190,52 Melilla,5304,117,377,3201,49,46,97,593,403,421,1609
8191,52001 Melilla,5304,117,377,3201,49,46,97,593,403,421,1609

In [19]:
Comercios.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8191 entries, 1 to 8191
Data columns (total 12 columns):
Region                                     8191 non-null object
Total                                      8191 non-null object
B_E Industria                              8191 non-null object
F Construcción                             8191 non-null object
Comercio, transporte y hostelería          8191 non-null object
J Información y comunicaciones             8191 non-null object
K Actividades financieras y de seguros     8191 non-null object
L Actividades inmobiliarias                8191 non-null object
Actividades profesionales y técnicas       8191 non-null object
Educación, sanidad y servicios sociales    8191 non-null object
Otros servicios personales                 8191 non-null object
Total servicios                            8191 non-null object
dtypes: object(12)
memory usage: 831.9+ KB

In [16]:
# Guardamos en formato csv:
Comercios.to_csv('Economia_Comercios_2019.csv', header=False, index=False)