In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
import unidecode
import os

#### Funciones

In [2]:
def doClean(text):   
    
    # Quitar las expresiones tras la barra /
    a = re.sub('\/.*', '', text)
    # Quitar las aclaraciones entre paréntesis
    a = re.sub('\(.*\)', '', a)
    # Quitar acentos 
    a = unidecode.unidecode(a)
    # Quitar aquello que no sean palabras o cosa que se le parezca
    a = re.sub('\W', ' ', a) 
    # Quitar espacios extra en caso de haber
    a = re.sub('\s+', ' ', a)
    # Pasar el texto a minúsulas
    a = a.lower() 
    # Quitar espacio izq
    a = a.lstrip()
    # Quitar espacio derecha
    a = a.rstrip()
    a = re.sub(' ', '_', a)
    #a = a.strip() 
    
    return a

#### Carga de ficheros

In [3]:
os.getcwd()

'/home/patcalsi/projects/Exodus_urbano/data/patri'

In [18]:
centros_salud = pd.read_csv("ficheros_originales/sociedad_sanidad_centros_salud_2019.txt", sep='|', encoding='latin1')

In [22]:
centros_salud.columns

Index(['Unnamed: 0', ' IDCENTR ',
       '                        NOMBRE                         ',
       '  IDAREA   ', ' IDZONAB ', ' TIPOC ', '     DIRECCION     ',
       '     LOCALIDAD     ', '     TELEFONO      ', ' ESDOCE ',
       '       CODMU       ', '        CP         ', '     D_GESTION     ',
       '   C_GESTION_ID    ', 'Unnamed: 14'],
      dtype='object')

In [25]:
centros_salud.head()

,Unnamed: 0,IDCENTR,NOMBRE,IDAREA,IDZONAB,TIPOC,DIRECCION,LOCALIDAD,TELEFONO,ESDOCE,CODMU,CP,D_GESTION,C_GESTION_ID,Unnamed: 14,cp
0,NaN,117937,ALEGRÍA-DULANTZI ...,8664,22758,2,"IRURAIZ, Nº 2",ALEGRÍA-DULANTZI,945400890,N,10014,1240,SERVICIO VASCO DE,1,NaN,01240
1,NaN,118043,AMURRIO ...,8669,22808,1,"FELIX MURGA, Nº 8",AMURRIO,945025900,S,10029,1470,SERVICIO VASCO DE,1,NaN,01470
2,NaN,117654,ARAMAIONA ...,8732,23468,2,"NARDEAGA, S/N",ARAMAIO,945445340,N,10035,1160,SERVICIO VASCO DE,1,NaN,01160
3,NaN,118044,ARTZINIEGA ...,8669,22808,2,"PLAZA DE ARRIBA,",ARTZINIEGA,945396563,N,10040,1474,SERVICIO VASCO DE,1,NaN,01474
4,NaN,117944,DURANA ...,8664,25350,2,PLAZA DE LA,DURANA,945385001,N,10088,1520,SERVICIO VASCO DE,1,NaN,01520

In [24]:
centros_salud['cp'] = centros_salud['        CP         '].apply(lambda x: '{:05d}'.format(x))

##### Comprobacion duplicados

In [26]:
centros_salud[centros_salud.duplicated(subset=[' IDCENTR '])]

Empty DataFrame
Columns: [Unnamed: 0,  IDCENTR ,                         NOMBRE                         ,   IDAREA   ,  IDZONAB ,  TIPOC ,      DIRECCION     ,      LOCALIDAD     ,      TELEFONO      ,  ESDOCE ,        CODMU       ,         CP         ,      D_GESTION     ,    C_GESTION_ID    , Unnamed: 14, cp]
Index: []

In [27]:
centros_salud[centros_salud['cp'].isnull()]

Empty DataFrame
Columns: [Unnamed: 0,  IDCENTR ,                         NOMBRE                         ,   IDAREA   ,  IDZONAB ,  TIPOC ,      DIRECCION     ,      LOCALIDAD     ,      TELEFONO      ,  ESDOCE ,        CODMU       ,         CP         ,      D_GESTION     ,    C_GESTION_ID    , Unnamed: 14, cp]
Index: []

In [28]:
centros_salud_num = centros_salud.groupby(by='cp', as_index=False)[' IDCENTR '].count()

In [32]:
centros_salud_num.columns = ['cp', 'num_centros_salud']

##### Creación y exportación de fichero maestro

In [33]:
centros_salud_num.head()

      cp  num_centros_salud
0  01001                  1
1  01002                  2
2  01003                  1
3  01004                  1
4  01006                  1

In [34]:
centros_salud_num.to_csv("sociedad_sanidad_centros_salud_2019_limpio.csv")