In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
import unidecode
import os

#### Funciones

In [3]:
def doClean(a):   
    
    # Quitar las expresiones tras la barra /
    a = re.sub('\/.*', '', a)
    # Quitar las aclaraciones entre paréntesis
    a = re.sub('\(.*\)', '', a)
    # Quitar acentos 
    a = unidecode.unidecode(a)
    # Quitar aquello que no sean palabras o cosa que se le parezca
    a = re.sub('\W', ' ', a) 
    # Quitar espacios extra en caso de haber
    a = re.sub('\s+', ' ', a)
    # Pasar el texto a minúsulas
    a = a.lower() 
    # Quitar espacio izq
    a = a.lstrip()
    # Quitar espacio derecha
    a = a.rstrip()
    a = re.sub(' ', '_', a)
    #a = a.strip() 
    
    return a

#### Carga de ficheros

In [48]:
os.getcwd()

'/home/patcalsi/projects/Exodus_urbano/data/patri'

In [66]:
list_coles_name = os.listdir('./colegios')

In [67]:
lista_coles = []

for filename in list_coles_name:
    df = pd.read_excel("colegios/"+filename, dtype={'C. Postal':object})
    lista_coles.append(df)

colegios = pd.concat(lista_coles, axis=0, ignore_index=True)

In [133]:
colegios.to_csv("sociedad_educacion_colegios_2020.csv")

In [68]:
colegios.shape

(38236, 9)

In [69]:
colegios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38236 entries, 0 to 38235
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Provincia                38236 non-null  object
 1   Localidad                38236 non-null  object
 2   Denominación genérica    32080 non-null  object
 3   Denominación específica  38236 non-null  object
 4   Código                   38236 non-null  int64
 5   Naturaleza               38236 non-null  object
 6   Domicilio                38236 non-null  object
 7   C. Postal                38236 non-null  object
 8   Teléfono                 26759 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.6+ MB

In [70]:
colegios.head()

,Provincia,Localidad,Denominación genérica,Denominación específica,Código,Naturaleza,Domicilio,C. Postal,Teléfono
0,Cádiz,Alcalá de los Gazules,Centro de Educación de Adultos,Río Verde,11500501,Centro público,"Lepanto, 7",11180,9.5642e+08
1,Cádiz,Alcalá de los Gazules,Centro Docente Privado,Escuelas Profesionales de la Sagrada Familia,11000022,Centro privado,"Sánchez Aguayo, 2",11180,NaN
2,Cádiz,Alcalá de los Gazules,Centro Docente Privado,"Jesús, María y José",11000034,Centro privado,"Ángel de Viera, 1",11180,NaN
3,Cádiz,Alcalá de los Gazules,Colegio de Educación Infantil y Primaria,Juan Armario,11000010,Centro público,"San Antonio, s/n",11180,NaN
4,Cádiz,Alcalá de los Gazules,Escuela Hogar,"ESCUELA HOGAR JESUS, MARIA Y JOSE",11000061,Centro público,ANGEL DE VIERA 1,11180,9.5642e+08

In [71]:
colegios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38236 entries, 0 to 38235
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Provincia                38236 non-null  object
 1   Localidad                38236 non-null  object
 2   Denominación genérica    32080 non-null  object
 3   Denominación específica  38236 non-null  object
 4   Código                   38236 non-null  int64
 5   Naturaleza               38236 non-null  object
 6   Domicilio                38236 non-null  object
 7   C. Postal                38236 non-null  object
 8   Teléfono                 26759 non-null  object
dtypes: int64(1), object(8)
memory usage: 2.6+ MB

In [72]:
colegios.nunique()

Provincia                     52
Localidad                   6190
Denominación genérica        222
Denominación específica    25788
Código                     34346
Naturaleza                     2
Domicilio                  31917
C. Postal                   6336
Teléfono                   22894
dtype: int64

In [73]:
colegios['Provincia'].sort_values().unique()

array(['A Coruña', 'Albacete', 'Alicante/Alacant', 'Almería',
       'Araba/Álava', 'Asturias', 'Badajoz', 'Barcelona', 'Bizkaia',
       'Burgos', 'Cantabria', 'Castellón/Castelló', 'Ceuta',
       'Ciudad Real', 'Cuenca', 'Cáceres', 'Cádiz', 'Córdoba', 'Gipuzkoa',
       'Girona', 'Granada', 'Guadalajara', 'Huelva', 'Huesca',
       'Illes Balears', 'Jaén', 'La Rioja', 'Las Palmas', 'León',
       'Lleida', 'Lugo', 'Madrid', 'Melilla', 'Murcia', 'Málaga',
       'Navarra', 'Ourense', 'Palencia', 'Pontevedra', 'Salamanca',
       'Santa Cruz de Tenerife', 'Segovia', 'Sevilla', 'Soria',
       'Tarragona', 'Teruel', 'Toledo', 'Valencia/València', 'Valladolid',
       'Zamora', 'Zaragoza', 'Ávila'], dtype=object)

In [74]:
n_values = [colegios[a].unique() for a in colegios.columns]
n_values

[array(['Cádiz', 'Madrid', 'Murcia', 'Lleida', 'Córdoba', 'Illes Balears',
        'Barcelona', 'Las Palmas', 'Navarra', 'Castellón/Castelló',
        'Melilla', 'Salamanca', 'Badajoz', 'Santa Cruz de Tenerife',
        'Teruel', 'Huelva', 'Soria', 'Tarragona', 'Jaén', 'Araba/Álava',
        'Bizkaia', 'Ourense', 'Cáceres', 'Huesca', 'Girona', 'Gipuzkoa',
        'A Coruña', 'La Rioja', 'Cuenca', 'Sevilla', 'Burgos', 'Asturias',
        'Granada', 'Valencia/València', 'León', 'Alicante/Alacant',
        'Zaragoza', 'Zamora', 'Almería', 'Guadalajara', 'Pontevedra',
        'Ávila', 'Segovia', 'Málaga', 'Toledo', 'Ciudad Real', 'Ceuta',
        'Albacete', 'Valladolid', 'Lugo', 'Cantabria', 'Palencia'],
       dtype=object),
 array(['Alcalá de los Gazules', 'Alcalá del Valle', 'Algar', ...,
        'Villamuriel de Cerrato', 'Villarramiel', 'Villaviudas'],
       dtype=object),
 array(['Centro de Educación de Adultos', 'Centro Docente Privado',
        'Colegio de Educación Infantil y Primaria', 'Escuela Hogar',
        'Escuela Infantil', 'Instituto de Educación Secundaria',
        'Centro Autorizado de Enseñanzas Deportivas',
        'Centro Específico de Educación Especial',
        'Centro Privado de Educación Infantil',
        'Colegio de Educación Primaria',
        'Conservatorio Profesional de Música', 'Escuela de Arte',
        'Escuela Municipal de Música y Danza',
        'Escuela Oficial de Idiomas',
        'Sección de Instituto Provincial de Formación de Adultos',
        'Colegio Público Rural', 'Escuela Municipal de Música',
        'Conservatorio Elemental de Música', 'Centro de Convenio',
        'Centro Docente Privado de Educación Especial',
        'Conservatorio Profesional de Danza',
        'Instituto Provincial de Formación de Adultos',
        'Escuela Autorizada de Música',
        'Centro Docente Privado Extranjero',
        'Sección de Educación Secundaria Obligatoria',
        'Centro Público Integrado de Formación Profesional',
        'Escuela Municipal de Danza',
        'Centro Público de Enseñanza a Distancia',
        'Centro Público de Educación de Personas Adultas',
        'Centro Privado de Educación Infantil Primaria y Secundaria',
        'Centro Privado Autorizado de Enseñanzas Deportivas',
        'Escuela Municipal de Educación Infantil',
        'Extensión de Escuela Oficial de Idiomas',
        'Centro de Educación Especial',
        'Centro Privado Autorizado Elemental de Danza',
        'Centro Privado de Educación de Personas Adultas',
        'Centro Privado de Formación Profesional Específica',
        'Centro Privado de Formación Profesional',
        'Escuela Pública de Música', 'Colegio Rural Agrupado',
        'Centro Privado de Educación Infantil, Primaria, Secundaria y Educación Especial',
        'Centro Privado Concertado de Educación Infantil, Primaria, Secundaria y Educación Especial',
        'Aula Hospitalaria', 'Centro Docente de Formación Militar',
        'Centro Privado Autorizado Elemental de Música',
        'Centro Privado de Educación Infantil y Primaria',
        'Centro Privado de Preescolar',
        'Centro Privado de Educación Especial',
        'Centro Público de Educación Infantil y Básica',
        'Centro Integrado de Formación y Experiencias Agrarias',
        'Instituto de Educación Secundaria Obligatoria',
        'Centro Docente Privado Extranjero en España',
        'Centro Autorizado de Enseñanzas Artísticas Profesionales de Artes Plásticas y Diseño',
        'Centro Privado Autorizado Profesional de Música',
        'Centro Privado Autorizado Superior de Diseño',
        'Centro Privado Integrado de Formación Profesional',
        'Conservatorio Superior de Música',
        'Escuela Superior de Arte Dramático', 'Escuela Superior de Diseño',
        nan, 'Escola de Capacitació Agrària',
        "Escola de Formació de Tècnics d'Esport",
        "Escola Oficial d'Idiomes", 'Aula de Educación de Adultos',
        "Col.legi Públic d'Educació Infantil i Primària",
        "Institut d'Educació Secundària (IES)",
        "Escola d'Educació Infantil",
        'Centre Privat amb diversos Ensenyaments de Regim General',
        "Centre Públic d'Educació de Persones Adultes (Presencial)",
        "Centre Privat d'Educació Infantil",
        'Centre Privat de Formació Professional Específica',
        "Escola Oficial d'Idiomes (EOI)",
        'Centro Privado de Educación Secundaria Obligatoria',
        'Conservatori Professional de Música i de Dansa',
        'Centro Privado de Educación Primaria y Secundaria',
        "Centre Privat d'Educació Especial",
        'Conservatori Professional de Música',
        'Centre Privat Integrat de Música i Ensenyaments de Règim General',
        'Centre Docent Privat Estranger a Espanya',
        'Centre Públic Integrat de Música i Ensenyaments de Règim General',
        "Col.legi Públic d'Educació Primària",
        "Centre Privat d'Arts Plástiques i Disseny",
        'Centre Privat de Grau Elemental de Dansa',
        'Centre Privat de Grau Elemental de Música',
        "Centre Privat d'Educació de Persones Adultes (Presencial)",
        "Centre Privat d'Educació Primària",
        "Centre Privat d'Educació Secundària",
        "Centre Públic d'Ensenyament a Distància",
        'Centro Docente Extranjero de Enseñanzas Profesionales de Diseño',
        'Centro Privado de Educación Secundaria',
        'Colegio de Educación Infantil Primaria y Primer Ciclo de ESO',
        'Escola Superior de Disseny',
        "Ampliació d'Escola Oficial d'Idiomes", "Escola d'Art",
        "Col·legi d'Educació Especial", "Aula de Formació d'adults",
        "Centre de Formació d'Adults", "Escola d'Arts",
        "Centre de Formació de Tècnics d'Esport",
        "Col·legi d'Educació Infantil i Primària",
        'Centro Privado Docente Extranjero para Alumnado Español y Extranjero',
        'Centro de Educación Obligatoria',
        'Centro de Educación de Personas Adultas',
        'Centro Privado Docente Extranjero para Alumnado Extranjero',
        'Escuela Pública de Música y Danza',
        'Conservatorio Insular de Música de Grado Elemental',
        'Instituto de Formación Profesional Marítimo Pesquera',
        'Instituto de Formación Profesional Agraria',
        'Centro Autorizado de Música de Grados Elemental y Medio',
        'Centro Autorizado Superior de Arte dramático',
        'Centro de Educación a Distancia',
        'Escuela de Arte y Superior de Diseño',
        'Centro Privado de Educación Infantil y Secundaria',
        'Colegio Público de Educación Infantil y Primaria/Haur eta Lehen Hezkuntzako Ikastetxe Publikoa',
        'Centro Integrado Politécnico/Ikastetxe Integratu Politeknikoa',
        'Instituto de Educación Secundaria/Bigarren Hezkuntzako Institutua',
        'Instituto de Educación Secundaria Obligatoria/Derrigorrezko Bigarren Hezkuntzako Institutua',
        'Centro Privado de Educación Infantil, Primaria y ESO',
        'Centro Integrado', 'Escuela Privada de Música',
        'Centro Integrado Politécnico',
        'Centro Integrado Superior de Energías Renovables',
        'Escuela de Educación Infantil/Haur Hezkuntzako Eskola',
        'Centro Integrado Privado',
        'Centro Integrado en Administración, Comercio e Informática',
        'Centro Integrado/Ikastetxe Integratua',
        'Centro Privado de Educación Primaria y ESO',
        'Escuela Privada de Música y Danza', 'Escuela Pública de Danza',
        'Escuela Privada de Danza',
        'Colegio Rural Agrupado de Ed. Inf. y Primaria/Haur eta Lehen Hezkuntzako Herri Ikastetxe Bateratua',
        'Centro Docente Público de Formación Básica de Personas Adultas',
        'Centro Privado de Educación Infantil de Primer Ciclo',
        'Escuela Infantil de Primer Ciclo',
        'Sección de Instituto de Educación Secundaria',
        'Centro Autorizado de Enseñanzas Artísticas Profesionales de Danza',
        'Centro Autorizado de Enseñanzas Artísticas Profesionales de Música',
        'Centro Docente Privado de Formación Básica de Personas Adultas',
        'Centro Público Integrado', 'Escuela Superior de Cerámica',
        'Escuela de Música', 'Escuela de Capacitación Agraria',
        'Colegio de Educación Obligatoria',
        'Centro privado autorizado de enseñanzas deportivas de fútbol',
        'Centro Privado Autorizado de Enseñanzas Deportivas de Hípica',
        'Escuela Superior de Conservación y Restauración de Bienes Culturales',
        'Residencia de Secundaria',
        'Centro Privado Autorizado Profesional de Danza',
        'Centro Autorizado de Música de Grado Elemental',
        'Centro Autorizado de Danza de Grado Elemental',
        'Centro Privado Autorizado de Enseñanzas Deportivas y Formación Profesional',
        'Extensión de Escuela Superior de Diseño',
        'Escuela Autorizada de Danza',
        'Centro Autorizado de Música Profesional',
        'Centro Privado de Educación Primaria', 'PARTZUERGOKO HAUR ESKOLA',
        'Centro Privado Autorizado de Artes Plásticas y Diseño',
        'Instituto de Formación Profesional',
        'Instituto Municipal de Formación Profesional Básica',
        'ARTE DRAMATIKO ETA DANTZA GOI ESKOLA',
        'Centro Privado de Educación de Persoas Adultas',
        'Centro Público de Enseñanzas Deportivas', 'HAUR-ESKOLA  PRIBATUA',
        'Centro Autorizado de Música Elemental',
        'Colexio de Educación Infantil e Primaria', 'Centro Privado',
        'Instituto de Educación Secundaria (IES)',
        'Escola de Educación Infantil', 'Colexio de Educación Especial',
        'Escola Privada de Música', 'Escola Pública de Música',
        'Centro Integrado de Formación Profesional',
        'Centro Público de Educación de Persoas Adultas',
        'Escola Oficial de Idiomas', 'Conservatorio Elemental de Danza',
        'Conservatorio Municipal Elemental de Música',
        'Instituto de Bachillerato',
        'Centro Privado Autorizado Superior de Música',
        'Conservatorio Municipal Profesional de Música',
        'Colexio de Educación Primaria',
        'Centro Privado Autorizado de Artes Plásticas e Deseño',
        'Centro Privado Autorizado Elemental  de Danza', 'Centro Público',
        'Escuela Naútico Pesquera', 'Escola de Capacitación Agraria',
        'Centro Privado Estranxeiro en España',
        'Escuelas Familiares Agrarias', 'Escola Pública de Danza',
        'Escola Privada de Danza',
        'Centro Público de Educación General Básica',
        'Centro Autorizado de Artes Plásticas y Diseño',
        'Escuela Autorizada de Música y Danza',
        'Centro Autorizado Superior de Artes Plásticas y Diseño',
        'Centro Autorizado de Danza Elemental',
        'Escuela de Arte y Superior de Diseño y Conservación y Restauración de Bienes Culturales',
        'Centro Privado Integrado de Música y Enseñanzas de Régimen General',
        'Escuela de Arte y Superior de Cerámica',
        'Escuela de Viticultura y Enología',
        'Conservatorio Superior de Danza',
        'Centro Privado Autorizado de Enseñanzas Deportivas de Invierno',
        'Centro Privado de Bachillerato',
        'Instituto de Formación Profesional Superior',
        'Centro Privado Autorizado de Enseñanzas Deportivas de Salvamento y Socorrismo',
        'Instituto Gallego de Formación Acuícola', 'Escola-Fogar',
        'Escuela de Educación Infantil, Casa de Niños',
        'Centro de Educación de Personas Adultas en Establecimientos Penitenciarios',
        'Escuela Municipal de Educación de Personas Adultas',
        'Unidad de Formación e Inserción Laboral',
        'Centro Privado Autorizado Superior de Danza',
        'Centro Autorizado Profesional de Música y Danza',
        'Centro Autorizado Superior de Arte Dramático',
        'Centro Integrado de Enseñanzas Artísticas Profesionales de Música y de Educación Secundaria',
        'Centro Regional de Enseñanzas Integradas',
        'Escuela Superior de Canto',
        'Instituto de Formación Profesional Específica',
        'Centro Público Integrado de Música y Enseñanzas de Régimen General',
        'Escuela de Arte y Superior de Conservación y Restauración de Bienes Culturales',
        'Centro Privado Autorizado Superior del Vidrio',
        'Escuela de Música y Danza', 'Escuela de Danza',
        'Colegio de Educación Infantil, Primaria y Secundaria',
        'Centro Docente Privado de Educación de Adultos'], dtype=object),
 array(['Río Verde', 'Escuelas Profesionales de la Sagrada Familia',
        'Jesús, María y José', ..., 'PRADERA DE LA AGUILERA',
        'LEONOR DE CASTILLA', 'GLICERIO MARTIN'], dtype=object),
 array([11500501, 11000022, 11000034, ..., 34002861, 34007172, 34002897]),
 array(['Centro público', 'Centro privado'], dtype=object),
 array(['Lepanto, 7', 'Sánchez Aguayo, 2', 'Ángel de Viera, 1', ...,
        'AV.DE JOSE HERRERO NIETO ,7', 'AVENIDA JOSÉ HERRERO NIETO, Nº 3',
        'VILLAVIUDAS'], dtype=object),
 array(['11180', '11693', '11639', ..., '34190', '34350', '34249'],
       dtype=object),
 array([956420202.0, nan, 956420010.0, ..., '979 776 920', '979 837 140',
        '979 788 028'], dtype=object)]

In [75]:
colegios.isnull().sum()

Provincia                      0
Localidad                      0
Denominación genérica       6156
Denominación específica        0
Código                         0
Naturaleza                     0
Domicilio                      0
C. Postal                      0
Teléfono                   11477
dtype: int64

##### tratamiento

In [78]:
# se elimina el Código 28700519,repetido 3890
colegios = colegios.drop_duplicates(subset='Código')

In [79]:
colegios['municipio_limpio'] = colegios['Localidad'].apply(doClean)

In [83]:
colegios['provincia'] = colegios['Provincia'].apply(doClean)

In [84]:
colegios['codigo_postal'] = colegios['C. Postal']

In [119]:
colegios.head(2)

,Provincia,Localidad,Denominación genérica,Denominación específica,Código,Naturaleza,Domicilio,C. Postal,Teléfono,municipio_limpio,provincia,codigo_postal
0,Cádiz,Alcalá de los Gazules,Centro de Educación de Adultos,Río Verde,11500501,Centro público,"Lepanto, 7",11180,9.5642e+08,alcala_de_los_gazules,cadiz,11180
1,Cádiz,Alcalá de los Gazules,Centro Docente Privado,Escuelas Profesionales de la Sagrada Familia,11000022,Centro privado,"Sánchez Aguayo, 2",11180,NaN,alcala_de_los_gazules,cadiz,11180

In [120]:
colegios[colegios['municipio_limpio']=='altura']

,Provincia,Localidad,Denominación genérica,Denominación específica,Código,Naturaleza,Domicilio,C. Postal,Teléfono,municipio_limpio,provincia,codigo_postal
8837,Castellón/Castelló,Altura,Colegio de Educación Infantil y Primaria,VIRGEN DE GRACIA,12000303,Centro público,CL RIVAS S/N,12410,9.64336e+08,altura,castellon,12410
8838,Castellón/Castelló,Altura,Escuela Privada de Música,UNIÓN MUSICAL Y CULTURAL,12006366,Centro privado,PZ HONDA 15,12410,9.64146e+08,altura,castellon,12410

In [121]:
colegios_group = colegios.groupby(by=['codigo_postal', 'municipio_limpio', 'provincia', 'Naturaleza'], as_index=False)['Código'].count()

In [122]:
colegios_group.head()

  codigo_postal municipio_limpio   provincia      Naturaleza  Código
0         00000         a_coruna    a_coruna  Centro privado       6
1         00000      a_pontenova        lugo  Centro público       1
2         00000             abad  pontevedra  Centro privado       1
3         00000           alivia    a_coruna  Centro público       1
4         00000  aranda_de_duero      burgos  Centro público       1

In [123]:
colegios_group = colegios_group.pivot_table(index=['codigo_postal', 'municipio_limpio', 'provincia'], columns='Naturaleza',  values=['Código'], aggfunc='sum').reset_index()

In [124]:
colegios_group.head()

           codigo_postal municipio_limpio   provincia         Código  \
Naturaleza                                            Centro privado
0                  00000         a_coruna    a_coruna            6.0
1                  00000      a_pontenova        lugo            NaN
2                  00000             abad  pontevedra            1.0
3                  00000           alivia    a_coruna            NaN
4                  00000  aranda_de_duero      burgos            NaN


Naturaleza Centro público
0                     NaN
1                     1.0
2                     NaN
3                     1.0
4                     1.0

In [125]:
colegios_group.columns = ['codigo_postal', 'municipio_limpio', 'provincia' ,'num_colegios_privados', 'num_colegios_publicos']

In [126]:
colegios_group.shape

(7838, 5)

In [127]:
colegios_group[colegios_group.duplicated(subset=['municipio_limpio', 'provincia'])]

,codigo_postal,municipio_limpio,provincia,num_colegios_privados,num_colegios_publicos
46,01001,vitoria_gasteiz,araba,1.0,3.0
47,01002,vitoria_gasteiz,araba,3.0,11.0
48,01003,vitoria_gasteiz,araba,3.0,8.0
49,01004,vitoria_gasteiz,araba,1.0,1.0
50,01005,vitoria_gasteiz,araba,7.0,NaN
...,...,...,...,...,...
7833,52002,melilla,melilla,2.0,5.0
7834,52003,melilla,melilla,NaN,3.0
7835,52004,melilla,melilla,2.0,3.0
7836,52005,melilla,melilla,3.0,9.0
7837,52006,melilla,melilla,2.0,6.0

In [128]:
colegios_group.drop_duplicates(subset=['codigo_postal', 'municipio_limpio', 'provincia'], inplace=True)

In [129]:
colegios_group.shape

(7838, 5)

##### Creación y exportación de fichero maestro

In [130]:
colegios_group.head()

,codigo_postal,municipio_limpio,provincia,num_colegios_privados,num_colegios_publicos
0,00000,a_coruna,a_coruna,6.0,NaN
1,00000,a_pontenova,lugo,NaN,1.0
2,00000,abad,pontevedra,1.0,NaN
3,00000,alivia,a_coruna,NaN,1.0
4,00000,aranda_de_duero,burgos,NaN,1.0

In [134]:
colegios_group.to_csv("sociedad_educacion_colegios_2020_limpio.csv")