In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
import unidecode
import os

#### Funciones

In [2]:
def doClean(text):   
    
    # Quitar las expresiones tras la barra /
    a = re.sub('\/.*', '', text)
    # Quitar las aclaraciones entre paréntesis
    a = re.sub('\(.*\)', '', a)
    # Quitar acentos 
    a = unidecode.unidecode(a)
    # Quitar aquello que no sean palabras o cosa que se le parezca
    a = re.sub('\W', ' ', a) 
    # Quitar espacios extra en caso de haber
    a = re.sub('\s+', ' ', a)
    # Pasar el texto a minúsulas
    a = a.lower() 
    # Quitar espacio izq
    a = a.lstrip()
    # Quitar espacio derecha
    a = a.rstrip()
    a = re.sub(' ', '_', a)
    
    return a

#### Carga de ficheros

In [3]:
os.getcwd()

'/home/patcalsi/projects/Exodus_urbano/data/patri'

In [4]:
usos_suelo = pd.read_csv("sociedad_usos_suelo_2019.csv", sep=';')

In [5]:
usos_suelo.head(5)

,AREF,C_INE,C_COMUNI,CODI,CCAA_C_COMUNI,NOM_COMUNI,C_PROVIN,PROVINCIA,CODIGOYNOMBREPROV,C_TIPOFICH,...,UU_SINGULAR,V_CAT_SINGULAR,UU_RELIGIOSO,V_CAT_RELIGIOSO,UU_ESPECTACULOS,V_CAT_ESPECTACULOS,UU_RES,V_CAT_RES,UU_SANIDAD,V_CAT_SANIDAD
0,2019,2001,6,22001,8,Castilla - La Mancha,2,Albacete,02 Albacete,0,...,2,"519,581",1,"73,320",0,0,482,"14,496,564",1,"576,497"
1,2019,2002,6,22002,8,Castilla - La Mancha,2,Albacete,02 Albacete,0,...,2,"500,208",2,"79,018",0,0,574,"17,234,864",1,"15,481"
2,2019,2003,6,22900,8,Castilla - La Mancha,2,Albacete,02 Albacete,0,...,42,"108,514,522",56,"22,438,466",9,"18,213,307","85,498","6,103,101,797",178,"238,226,066"
3,2019,2004,6,22004,8,Castilla - La Mancha,2,Albacete,02 Albacete,0,...,1,"57,576",1,"14,448",1,"36,856",495,"9,829,783",0,0
4,2019,2005,6,22005,8,Castilla - La Mancha,2,Albacete,02 Albacete,0,...,1,"80,860",1,"100,419",0,0,726,"23,307,520",1,"38,248"

In [6]:
usos_suelo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7610 entries, 0 to 7609
Data columns (total 44 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   AREF                7610 non-null   int64
 1   C_INE               7610 non-null   int64
 2   C_COMUNI            7610 non-null   int64
 3   CODI                7610 non-null   int64
 4   CCAA_C_COMUNI       7610 non-null   int64
 5   NOM_COMUNI          7610 non-null   object
 6   C_PROVIN            7610 non-null   int64
 7   PROVINCIA           7610 non-null   object
 8   CODIGOYNOMBREPROV   7610 non-null   object
 9   C_TIPOFICH          7610 non-null   int64
 10  MUNINENOMBRE        7610 non-null   object
 11  ULT_REVISION        7610 non-null   object
 12  UURBANAS            7610 non-null   object
 13  V_CATASTRAL         7610 non-null   object
 14  V_CONSTRUCCION      7610 non-null   object
 15  V_SUELO             7610 non-null   object
 16  SUPERF_URB          7610 non-null   object
 17  PARCELAS_URB        7610 non-null   object
 18  UU_ALMACEN          7610 non-null   object
 19  V_CAT_ALMACEN       7610 non-null   object
 20  UU_COMERCIAL        7610 non-null   object
 21  V_CAT_COMERCIAL     7610 non-null   object
 22  UU_CULTURAL         7610 non-null   object
 23  V_CAT_CULTURAL      7610 non-null   object
 24  UU_HOSTELERIA       7610 non-null   object
 25  V_CAT_HOSTELERIA    7610 non-null   object
 26  UU_INDUSTRIAL       7610 non-null   object
 27  V_CAT_INDUSTRIAL    7610 non-null   object
 28  UU_DEPORTIVO        7610 non-null   object
 29  V_CAT_DEPORTIVO     7610 non-null   object
 30  UU_SOLAR            7610 non-null   object
 31  V_CAT_SOLAR         7610 non-null   object
 32  UU_OFICINAS         7610 non-null   object
 33  V_CAT_OFICINAS      7610 non-null   object
 34  UU_SINGULAR         7610 non-null   int64
 35  V_CAT_SINGULAR      7610 non-null   object
 36  UU_RELIGIOSO        7610 non-null   int64
 37  V_CAT_RELIGIOSO     7610 non-null   object
 38  UU_ESPECTACULOS     7610 non-null   int64
 39  V_CAT_ESPECTACULOS  7610 non-null   object
 40  UU_RES              7610 non-null   object
 41  V_CAT_RES           7610 non-null   object
 42  UU_SANIDAD          7610 non-null   object
 43  V_CAT_SANIDAD       7610 non-null   object
dtypes: int64(10), object(34)
memory usage: 2.6+ MB

In [7]:
usos_suelo[usos_suelo['CODI']==12410]

Empty DataFrame
Columns: [AREF, C_INE, C_COMUNI, CODI, CCAA_C_COMUNI, NOM_COMUNI, C_PROVIN, PROVINCIA, CODIGOYNOMBREPROV, C_TIPOFICH, MUNINENOMBRE, ULT_REVISION, UURBANAS, V_CATASTRAL, V_CONSTRUCCION, V_SUELO, SUPERF_URB, PARCELAS_URB, UU_ALMACEN, V_CAT_ALMACEN, UU_COMERCIAL, V_CAT_COMERCIAL, UU_CULTURAL, V_CAT_CULTURAL, UU_HOSTELERIA, V_CAT_HOSTELERIA, UU_INDUSTRIAL, V_CAT_INDUSTRIAL, UU_DEPORTIVO, V_CAT_DEPORTIVO, UU_SOLAR, V_CAT_SOLAR, UU_OFICINAS, V_CAT_OFICINAS, UU_SINGULAR, V_CAT_SINGULAR, UU_RELIGIOSO, V_CAT_RELIGIOSO, UU_ESPECTACULOS, V_CAT_ESPECTACULOS, UU_RES, V_CAT_RES, UU_SANIDAD, V_CAT_SANIDAD]
Index: []

[0 rows x 44 columns]

In [8]:
usos_suelo[usos_suelo['MUNINENOMBRE']=='Altura']

,AREF,C_INE,C_COMUNI,CODI,CCAA_C_COMUNI,NOM_COMUNI,C_PROVIN,PROVINCIA,CODIGOYNOMBREPROV,C_TIPOFICH,...,UU_SINGULAR,V_CAT_SINGULAR,UU_RELIGIOSO,V_CAT_RELIGIOSO,UU_ESPECTACULOS,V_CAT_ESPECTACULOS,UU_RES,V_CAT_RES,UU_SANIDAD,V_CAT_SANIDAD
1772,2019,12012,15,122012,10,Comunidad Valenciana,12,Castellón,12 Castellón,0,...,3,"756,965",2,"159,087",1,"75,667","2,720","97,624,338",2,"529,644"

In [9]:
# no hay codigo postal

In [10]:
usos_suelo['municipio_limpio'] = usos_suelo['MUNINENOMBRE'].apply(doClean)

In [11]:
usos_suelo['provincia'] = usos_suelo['PROVINCIA'].apply(doClean)

##### Seleccion de campos

In [12]:
usos_suelo['superficie_urbana'] = usos_suelo['SUPERF_URB']

In [13]:
usos_suelo['uds_almacen'] = usos_suelo['UU_ALMACEN']

In [14]:
usos_suelo['uds_comercial'] = usos_suelo['UU_COMERCIAL']

In [15]:
usos_suelo['uds_cultural'] = usos_suelo['UU_CULTURAL']

In [16]:
usos_suelo['uds_hosteleria'] = usos_suelo['UU_HOSTELERIA']

In [17]:
usos_suelo['uds_industrial'] = usos_suelo['UU_INDUSTRIAL']

In [18]:
usos_suelo['uds_deportivo'] = usos_suelo['UU_DEPORTIVO']

In [19]:
usos_suelo['uds_oficinas'] = usos_suelo['UU_OFICINAS']

In [20]:
usos_suelo['uds_religioso'] = usos_suelo['UU_RELIGIOSO']

In [21]:
usos_suelo['uds_espectaculos'] = usos_suelo['UU_ESPECTACULOS']

In [22]:
usos_suelo['uds_sanidad'] = usos_suelo['UU_SANIDAD']

In [23]:
usos_suelo = usos_suelo.iloc[:, 44:56]

In [24]:
usos_suelo[usos_suelo['municipio_limpio']=='altura']

,municipio_limpio,provincia,superficie_urbana,uds_almacen,uds_comercial,uds_cultural,uds_hosteleria,uds_industrial,uds_deportivo,uds_oficinas,uds_religioso,uds_espectaculos
1772,altura,castellon,"751,537",672,40,4,11,221,53,9,2,1

##### Comprobacion duplicados

In [25]:
usos_suelo[usos_suelo.duplicated(subset=['municipio_limpio','provincia'])]

,municipio_limpio,provincia,superficie_urbana,uds_almacen,uds_comercial,uds_cultural,uds_hosteleria,uds_industrial,uds_deportivo,uds_oficinas,uds_religioso,uds_espectaculos
2795,pinar,granada,"223,552",18,7,5,5,145,7,0,4,1

In [26]:
usos_suelo.head()

,municipio_limpio,provincia,superficie_urbana,uds_almacen,uds_comercial,uds_cultural,uds_hosteleria,uds_industrial,uds_deportivo,uds_oficinas,uds_religioso,uds_espectaculos
0,abengibre,albacete,"302,079",13,3,2,1,169,1,2,1,0
1,alatoz,albacete,"339,890",41,2,1,1,140,4,2,2,0
2,albacete,albacete,"29,660,602","38,983","6,164",179,84,"4,363",300,"1,756",56,9
3,albatana,albacete,"372,491",22,2,1,1,87,5,1,1,1
4,alborea,albacete,"200,096",87,7,2,4,102,4,3,1,0

##### Creación y exportación de fichero maestro

In [27]:
usos_suelo.to_csv("sociedad_usos_suelo_2019_limpio.csv")