In [102]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
import unidecode
import os

#### Funciones

In [103]:
def doClean(text):   
    
    # Quitar las expresiones tras la barra /
    a = re.sub('\/.*', '', text)
    # Quitar las aclaraciones entre paréntesis
    a = re.sub('\(.*\)', '', a)
    # Quitar acentos 
    a = unidecode.unidecode(a)
    # Quitar aquello que no sean palabras o cosa que se le parezca
    a = re.sub('\W', ' ', a) 
    # Quitar espacios extra en caso de haber
    a = re.sub('\s+', ' ', a)
    # Pasar el texto a minúsulas
    a = a.lower() 
    a = a.lstrip()
    # Quitar espacio derecha
    a = a.rstrip()
    a = re.sub(' ', '_', a)
    #a = a.strip() 
    
    return a

#### Carga y union de ficheros

In [104]:
os.getcwd()

'/home/patcalsi/projects/Exodus_urbano/data/patri'

In [105]:
os.listdir()

['sociedad_seguridad_guardia_civil_2019_limpio.csv',
 'limpieza_universidades.ipynb',
 'union_ficheros.ipynb',
 'wine-prediction-Plantilla.ipynb',
 'sociedad_educacion_universidad_2018_limpio.csv',
 'sociedad_sanidad_hospitales_2019_limpio.csv',
 '222450592859675.ipynb',
 'sociedad_educacion_colegios_2020_limpio.csv',
 'limpieza_establecimientos.ipynb',
 '.ipynb_checkpoints',
 '.~lock.Empresas-SICTED2.xls#',
 'limpieza_hospitales.ipynb',
 'limpieza_usos_suelo.ipynb',
 'economia_turismo_establecimientos_20XX_limpio.csv',
 'limpieza_bibliotecas.ipynb',
 'Challenge_CityRentals.ipynb',
 'tratamiento',
 'limpieza_guardia_civil.ipynb',
 'fichero_municipios.ipynb',
 'sociedad_usos_suelo_2019_limpio.csv',
 'manual.txt',
 'sociedad_cultura_bibliotecas_2017_limipio.csv',
 'limpieza_colegios.ipynb',
 'sociedad_educacion_nivel_formacion_ccaa_2018.csv']

## Fichero maestro

In [106]:
maestro_municipios = pd.read_csv("../maestro_idiomas_ine.csv", index_col=0, dtype={'postal_code': object})

In [107]:
maestro_municipios2 = maestro_municipios.copy()

In [108]:
maestro_municipios2['province_es'].replace("illes_balears", "islas_baleares", inplace=True )
maestro_municipios2['cities_es/province_es'].replace("illes_balears", "islas_baleares", inplace=True, regex=True)
maestro_municipios2['province'].replace("islas_baleares", "illes_balears", inplace=True )
maestro_municipios2['cities_es/province'].replace("islas_baleares", "illes_balears", inplace=True, regex=True)
maestro_municipios2['ccaa'].replace("islas_baleares", "illes_balears", inplace=True, regex=True)
maestro_municipios2['ccaa'].replace("comunidad_valenciana", "comunitat_valenciana", inplace=True, regex=True)

maestro_municipios2['province'].replace("alicante", "alacant", inplace=True )
maestro_municipios2['cities_es/province'].replace("alicante", "alacant", inplace=True, regex=True)

maestro_municipios2['province'].replace("castellon", "castello", inplace=True )
maestro_municipios2['cities_es/province'].replace("castellon", "castello", inplace=True, regex=True)

In [109]:
maestro_municipios = maestro_municipios2

In [110]:
maestro_municipios.shape

(14729, 17)

In [111]:
maestro_municipios.head()

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,cities_es/ccaa_es,cities_es/ccaa,cities/province_es,province_es/ccaa_es,province_es/ccaa,province/ccaa_es,province/ccaa
0,1001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,alegria_dulantzi/pais_vasco,alegria_dulantzi/pais_vasco,alegria_dulantzi/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco
1,1001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,alegria_dulantzi/pais_vasco,alegria_dulantzi/pais_vasco,alegria_dulantzi/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco
2,1002,01450,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,amurrio/pais_vasco,amurrio/pais_vasco,amurrio/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco
3,1002,01468,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,amurrio/pais_vasco,amurrio/pais_vasco,amurrio/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco
4,1002,01470,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,amurrio/pais_vasco,amurrio/pais_vasco,amurrio/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco

In [112]:
maestro_municipios[maestro_municipios['cities_es']=='benicasim']

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,cities_es/ccaa_es,cities_es/ccaa,cities/province_es,province_es/ccaa_es,province_es/ccaa,province/ccaa_es,province/ccaa
2905,12028,12560,benicasim,benicassim,castellon,castello,comunidad_valenciana,comunitat_valenciana,benicasim/castellon,benicasim/castello,benicasim/comunidad_valenciana,benicasim/comunidad_valenciana,benicassim/castellon,castellon/comunidad_valenciana,castellon/comunidad_valenciana,castellon/comunidad_valenciana,castellon/comunidad_valenciana
2919,12040,12560,benicasim,benicassim,castellon,castello,comunidad_valenciana,comunitat_valenciana,benicasim/castellon,benicasim/castello,benicasim/comunidad_valenciana,benicasim/comunidad_valenciana,benicassim/castellon,castellon/comunidad_valenciana,castellon/comunidad_valenciana,castellon/comunidad_valenciana,castellon/comunidad_valenciana

In [113]:
maestro_municipios[maestro_municipios['province_es']=='castellon'].head(2)

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,cities_es/ccaa_es,cities_es/ccaa,cities/province_es,province_es/ccaa_es,province_es/ccaa,province/ccaa_es,province/ccaa
2875,12001,12132,atzeneta_del_maestrat,atzeneta_del_maestrat,castellon,castello,comunidad_valenciana,comunitat_valenciana,atzeneta_del_maestrat/castellon,atzeneta_del_maestrat/castello,atzeneta_del_maestrat/comunidad_valenciana,atzeneta_del_maestrat/comunidad_valenciana,atzeneta_del_maestrat/castellon,castellon/comunidad_valenciana,castellon/comunidad_valenciana,castellon/comunidad_valenciana,castellon/comunidad_valenciana
2876,12001,12133,atzeneta_del_maestrat,atzeneta_del_maestrat,castellon,castello,comunidad_valenciana,comunitat_valenciana,atzeneta_del_maestrat/castellon,atzeneta_del_maestrat/castello,atzeneta_del_maestrat/comunidad_valenciana,atzeneta_del_maestrat/comunidad_valenciana,atzeneta_del_maestrat/castellon,castellon/comunidad_valenciana,castellon/comunidad_valenciana,castellon/comunidad_valenciana,castellon/comunidad_valenciana

## Ficheros especificos

##### Bibliotecas

In [114]:
bibliotecas = pd.read_csv("sociedad_cultura_bibliotecas_2017_limipio.csv", index_col=0)

In [115]:
bibliotecas.shape

(3323, 4)

In [116]:
bibliotecas.head(2)

  municipio_limpio           ccaa      provincia  total_bibliotecas
0           alaior  illes_balears  illes_balears                  1
1            alaro  illes_balears  illes_balears                  1

In [117]:
bibliotecas[bibliotecas['municipio_limpio']=='segorbe']

,municipio_limpio,ccaa,provincia,total_bibliotecas
3313,segorbe,comunidad_valenciana,castellon_castello,2

In [118]:
bibliotecas[bibliotecas['municipio_limpio']=='palma']
# idioma municipio = es

   municipio_limpio           ccaa      provincia  total_bibliotecas
38            palma  illes_balears  illes_balears                 22

In [119]:
maestro_municipios[maestro_municipios['cities']=='palma']

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,cities_es/ccaa_es,cities_es/ccaa,cities/province_es,province_es/ccaa_es,province_es/ccaa,province/ccaa_es,province/ccaa
1299,7010,07010,palma,palma,islas_baleares,illes_balears,islas_baleares,illes_balears,palma/islas_baleares,palma/illes_balears,palma/islas_baleares,palma/illes_balears,palma/illes_balears,illes_balears/islas_baleares,illes_balears/illes_balears,islas_baleares/islas_baleares,islas_baleares/illes_balears
1343,7031,07600,palma,palma,islas_baleares,illes_balears,islas_baleares,illes_balears,palma/islas_baleares,palma/illes_balears,palma/islas_baleares,palma/illes_balears,palma/illes_balears,illes_balears/islas_baleares,illes_balears/illes_balears,islas_baleares/islas_baleares,islas_baleares/illes_balears
1365,7040,07600,palma,palma,islas_baleares,illes_balears,islas_baleares,illes_balears,palma/islas_baleares,palma/illes_balears,palma/islas_baleares,palma/illes_balears,palma/illes_balears,illes_balears/islas_baleares,illes_balears/illes_balears,islas_baleares/islas_baleares,islas_baleares/illes_balears
1366,7040,07012,palma,palma,islas_baleares,illes_balears,islas_baleares,illes_balears,palma/islas_baleares,palma/illes_balears,palma/islas_baleares,palma/illes_balears,palma/illes_balears,illes_balears/islas_baleares,illes_balears/illes_balears,islas_baleares/islas_baleares,islas_baleares/illes_balears
1368,7040,07199,palma,palma,islas_baleares,illes_balears,islas_baleares,illes_balears,palma/islas_baleares,palma/illes_balears,palma/islas_baleares,palma/illes_balears,palma/illes_balears,illes_balears/islas_baleares,illes_balears/illes_balears,islas_baleares/islas_baleares,islas_baleares/illes_balears
1369,7040,07198,palma,palma,islas_baleares,illes_balears,islas_baleares,illes_balears,palma/islas_baleares,palma/illes_balears,palma/islas_baleares,palma/illes_balears,palma/illes_balears,illes_balears/islas_baleares,illes_balears/illes_balears,islas_baleares/islas_baleares,islas_baleares/illes_balears
1370,7040,07120,palma,palma,islas_baleares,illes_balears,islas_baleares,illes_balears,palma/islas_baleares,palma/illes_balears,palma/islas_baleares,palma/illes_balears,palma/illes_balears,illes_balears/islas_baleares,illes_balears/illes_balears,islas_baleares/islas_baleares,islas_baleares/illes_balears
1371,7040,07071,palma,palma,islas_baleares,illes_balears,islas_baleares,illes_balears,palma/islas_baleares,palma/illes_balears,palma/islas_baleares,palma/illes_balears,palma/illes_balears,illes_balears/islas_baleares,illes_balears/illes_balears,islas_baleares/islas_baleares,islas_baleares/illes_balears
1372,7040,07015,palma,palma,islas_baleares,illes_balears,islas_baleares,illes_balears,palma/islas_baleares,palma/illes_balears,palma/islas_baleares,palma/illes_balears,palma/illes_balears,illes_balears/islas_baleares,illes_balears/illes_balears,islas_baleares/islas_baleares,islas_baleares/illes_balears
1373,7040,07014,palma,palma,islas_baleares,illes_balears,islas_baleares,illes_balears,palma/islas_baleares,palma/illes_balears,palma/islas_baleares,palma/illes_balears,palma/illes_balears,illes_balears/islas_baleares,illes_balears/illes_balears,islas_baleares/islas_baleares,islas_baleares/illes_balears
1374,7040,07013,palma,palma,islas_baleares,illes_balears,islas_baleares,illes_balears,palma/islas_baleares,palma/illes_balears,palma/islas_baleares,palma/illes_balears,palma/illes_balears,illes_balears/islas_baleares,illes_balears/illes_balears,islas_baleares/islas_baleares,islas_baleares/illes_balears
1375,7040,07010,palma,palma,islas_baleares,illes_balears,islas_baleares,illes_balears,palma/islas_baleares,palma/illes_balears,palma/islas_baleares,palma/illes_balears,palma/illes_balears,illes_balears/islas_baleares,illes_balears/illes_balears,islas_baleares/islas_baleares,islas_baleares/illes_balears
1376,7040,07009,palma,palma,islas_baleares,illes_balears,islas_baleares,illes_balears,palma/islas_baleares,palma/illes_balears,palma/islas_baleares,palma/illes_balears,palma/illes_balears,illes_balears/islas_baleares,illes_balears/illes_balears,islas_baleares/islas_baleares,islas_baleares/illes_balears
1377,7040,07008,palma,palma,islas_baleares,illes_balears,islas_baleares,illes_balears,palma/islas_baleares,palma/illes_balears,palma/islas_baleares,palma/illes_balears,palma/illes_balears,illes_balears/islas_baleares,illes_balears/illes_balears,islas_baleares/islas_baleares,islas_baleares/illes_balears
1378,7040,07007,palma,palma,islas_baleares,illes_balears,islas_baleares,illes_balears,palma/islas_baleares,palma/illes_balears,palma/islas_baleares,palma/illes_balears,palma/illes_balears,illes_balears/islas_baleares,illes_balears/illes_balears,islas_baleares/islas_baleares,islas_baleares/illes_balears
1379,7040,07006,palma,palma,islas_baleares,illes_balears,islas_baleares,illes_balears,palma/islas_baleares,palma/illes_balears,palma/islas_baleares,palma/illes_balears,palma/illes_balears,illes_balears/islas_baleares,illes_balears/illes_balears,islas_baleares/islas_baleares,islas_baleares/illes_balears
1380,7040,07005,palma,palma,islas_baleares,illes_balears,islas_baleares,illes_balears,palma/islas_baleares,palma/illes_balears,palma/islas_baleares,palma/illes_balears,palma/illes_balears,illes_balears/islas_baleares,illes_balears/illes_balears,islas_baleares/islas_baleares,islas_baleares/illes_balears
1381,7040,07004,palma,palma,islas_baleares,illes_balears,islas_baleares,illes_balears,palma/islas_baleares,palma/illes_balears,palma/islas_baleares,palma/illes_balears,palma/illes_balears,illes_balears/islas_baleares,illes_balears/illes_balears,islas_baleares/islas_baleares,islas_baleares/illes_balears
1382,7040,07003,palma,palma,islas_baleares,illes_balears,islas_baleares,illes_balears,palma/islas_baleares,palma/illes_balears,palma/islas_baleares,palma/illes_balears,palma/illes_balears,illes_balears/islas_baleares,illes_balears/illes_balears,islas_baleares/islas_baleares,islas_baleares/illes_balears
1383,7040,07610,palma,palma,islas_baleares,illes_balears,islas_baleares,illes_balears,palma/islas_baleares,palma/illes_balears,palma/islas_baleares,palma/illes_balears,palma/illes_balears,illes_balears/islas_baleares,illes_balears/illes_balears,islas_baleares/islas_baleares,islas_baleares/illes_balears
1384,7040,07002,palma,palma,islas_baleares,illes_balears,islas_baleares,illes_balears,palma/islas_baleares,palma/illes_balears,palma/islas_baleares,palma/illes_balears,palma/illes_balears,illes_balears/islas_baleares,illes_balears/illes_balears,islas_baleares/islas_baleares,islas_baleares/illes_balears
1385,7040,07001,palma,palma,islas_baleares,illes_balears,islas_baleares,illes_balears,palma/islas_baleares,palma/illes_balears,palma/islas_baleares,palma/illes_balears,palma/illes_balears,illes_balears/islas_baleares,illes_balears/illes_balears,islas_baleares/islas_baleares,islas_baleares/illes_balears
1386,7040,07011,palma,palma,islas_baleares,illes_balears,islas_baleares,illes_balears,palma/islas_baleares,palma/illes_balears,palma/islas_baleares,palma/illes_balears,palma/illes_balears,illes_balears/islas_baleares,illes_balears/illes_balears,islas_baleares/islas_baleares,islas_baleares/illes_balears

In [120]:
bibliotecas['ccaa'].replace("illes_balears","islas_baleares", inplace=True, regex=True)
bibliotecas['ccaa'].replace("comunidad_valenciana","comunitat_valenciana", inplace=True, regex=True)

In [121]:
bibliotecas['cities_es/ccaa_es'] = bibliotecas['municipio_limpio']+"/"+bibliotecas['ccaa']

In [122]:
bibliotecas = bibliotecas.drop(columns=['municipio_limpio', 'ccaa', 'provincia'])

In [123]:
union = pd.merge(maestro_municipios, bibliotecas, left_on='cities_es/ccaa_es', right_on='cities_es/ccaa_es', how='left')

In [124]:
union[~union['total_bibliotecas'].isnull()].shape

(7350, 18)

In [125]:
union.head(2)

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,cities_es/ccaa_es,cities_es/ccaa,cities/province_es,province_es/ccaa_es,province_es/ccaa,province/ccaa_es,province/ccaa,total_bibliotecas
0,1001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,alegria_dulantzi/pais_vasco,alegria_dulantzi/pais_vasco,alegria_dulantzi/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,1.0
1,1001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,alegria_dulantzi/pais_vasco,alegria_dulantzi/pais_vasco,alegria_dulantzi/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,1.0

In [126]:
union.shape

(14729, 18)

##### Hospitales

In [127]:
hospitales = pd.read_csv("sociedad_sanidad_hospitales_2019_limpio.csv", index_col=0, dtype={'cp': object})

In [128]:
hospitales.shape

(613, 2)

In [129]:
hospitales.head(2)

      cp  uds_hospiatales
0  01002                1
1  01006                1

In [130]:
hospitales[hospitales['cp']=='46010']

        cp  uds_hospiatales
549  46010                2

In [131]:
union = pd.merge(union, hospitales, left_on='postal_code', right_on='cp', how='left')

In [132]:
union[~union['uds_hospiatales'].isnull()].shape

(650, 20)

In [133]:
union.head(2)

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,cities_es/ccaa_es,cities_es/ccaa,cities/province_es,province_es/ccaa_es,province_es/ccaa,province/ccaa_es,province/ccaa,total_bibliotecas,cp,uds_hospiatales
0,1001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,alegria_dulantzi/pais_vasco,alegria_dulantzi/pais_vasco,alegria_dulantzi/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,1.0,NaN,NaN
1,1001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,alegria_dulantzi/pais_vasco,alegria_dulantzi/pais_vasco,alegria_dulantzi/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,1.0,NaN,NaN

In [134]:
union = union.drop(columns=['cp'])

In [135]:
union.shape

(14729, 19)

##### Colegios

In [136]:
colegios = pd.read_csv("sociedad_educacion_colegios_2020_limpio.csv", index_col=0, dtype={'codigo_postal': object})

In [137]:
colegios.shape

(7838, 5)

In [138]:
colegios.head(2)

,codigo_postal,municipio_limpio,provincia,num_colegios_privados,num_colegios_publicos
0,00000,a_coruna,a_coruna,6.0,NaN
1,00000,a_pontenova,lugo,NaN,1.0

In [139]:
colegios[colegios['codigo_postal']=='01450']

Empty DataFrame
Columns: [codigo_postal, municipio_limpio, provincia, num_colegios_privados, num_colegios_publicos]
Index: []

In [140]:
#codigos postales erroneos, se une por municipio/provincia y cambiando de idioma

In [141]:
colegios[colegios['municipio_limpio']=='alegria_dulantzi']
# idioma municipio = es

,codigo_postal,municipio_limpio,provincia,num_colegios_privados,num_colegios_publicos
81,01240,alegria_dulantzi,araba,NaN,3.0

In [142]:
maestro_municipios[maestro_municipios['cities']=='alegria_dulantzi']

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,cities_es/ccaa_es,cities_es/ccaa,cities/province_es,province_es/ccaa_es,province_es/ccaa,province/ccaa_es,province/ccaa
0,1001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,alegria_dulantzi/pais_vasco,alegria_dulantzi/pais_vasco,alegria_dulantzi/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco
1,1001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,alegria_dulantzi/pais_vasco,alegria_dulantzi/pais_vasco,alegria_dulantzi/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco
42,1021,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,alegria_dulantzi/pais_vasco,alegria_dulantzi/pais_vasco,alegria_dulantzi/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco
45,1027,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,alegria_dulantzi/pais_vasco,alegria_dulantzi/pais_vasco,alegria_dulantzi/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco
106,1059,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,alegria_dulantzi/pais_vasco,alegria_dulantzi/pais_vasco,alegria_dulantzi/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco

In [143]:
maestro_municipios['province'].drop_duplicates().sort_values()

305                     alacant
132                    albacete
549                     almeria
0                         araba
9209                   asturias
768                       avila
1063                    badajoz
1463                  barcelona
13776                   bizkaia
1911                     burgos
2455                    caceres
2759                      cadiz
1918                  cantabria
2875                   castello
14718                     ceuta
3044                ciudad_real
3070                    cordoba
3379                     coruna
3801                     cuenca
4087                     girona
3311                    granada
4663                guadalajara
5051                  guipuzcoa
5183                     huelva
5214                     huesca
1283              illes_balears
5738                       jaen
2170                   la_rioja
9962                 las_palmas
3985                       leon
6509                     lleida
7124                       lugo
4739                     madrid
7974                     malaga
14723                   melilla
496                      murcia
8408                    navarra
8789                    ourense
2248                   palencia
10142                pontevedra
10556                 salamanca
11071    santa_cruz_de_tenerife
11607                   segovia
11888                   sevilla
12064                     soria
1536                  tarragona
12612                    teruel
12900                    toledo
13151                  valencia
13509                valladolid
13936                    zamora
8701                   zaragoza
134                         NaN
Name: province, dtype: object

In [144]:
colegios['provincia'].replace("alicante", "alacant", inplace=True )
colegios['provincia'].replace("castellon", "castello", inplace=True )
colegios['provincia'].replace("a_coruna", "coruna", inplace=True, regex=True)

In [145]:
# listado de provincias y ccaa
colegios['provincia'].drop_duplicates().sort_values()

188                    alacant
103                   albacete
378                    almeria
45                       araba
4997                  asturias
14                       avila
577                    badajoz
966                  barcelona
7451                   bizkaia
4                       burgos
9                      caceres
1590                     cadiz
6213                 cantabria
1711                  castello
7827                     ceuta
12                 ciudad_real
1893                   cordoba
0                       coruna
2470                    cuenca
2992                  gipuzkoa
2528                    girona
2708                   granada
18                 guadalajara
3130                    huelva
3228                    huesca
773              illes_balears
3316                      jaen
3779                  la_rioja
5259                las_palmas
2379                      leon
3580                    lleida
1                         lugo
3957                    madrid
4289                    malaga
4491                   melilla
4492                    murcia
4721                   navarra
21                     ourense
38                    palencia
2                   pontevedra
13                   salamanca
5958    santa_cruz_de_tenerife
6367                   segovia
6419                   sevilla
34                       soria
6622                 tarragona
6823                    teruel
35                      toledo
7070                  valencia
5                   valladolid
710                     zamora
7690                  zaragoza
Name: provincia, dtype: object

In [146]:
colegios['cities_es/province'] = colegios['municipio_limpio']+"/"+colegios['provincia']

In [147]:
colegios = colegios.groupby(by='cities_es/province', as_index=False).agg({'num_colegios_privados':'sum', 'num_colegios_publicos':'sum'})

In [148]:
union = pd.merge(union, colegios, left_on='cities_es/province', right_on='cities_es/province', how='left')

In [149]:
union[~union['num_colegios_publicos'].isnull()].shape

(7874, 21)

In [150]:
union.head(10)

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,...,cities_es/ccaa,cities/province_es,province_es/ccaa_es,province_es/ccaa,province/ccaa_es,province/ccaa,total_bibliotecas,uds_hospiatales,num_colegios_privados,num_colegios_publicos
0,1001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,alegria_dulantzi/pais_vasco,alegria_dulantzi/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,1.0,NaN,0.0,3.0
1,1001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,alegria_dulantzi/pais_vasco,alegria_dulantzi/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,1.0,NaN,0.0,3.0
2,1002,01450,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,amurrio/pais_vasco,amurrio/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,1.0,NaN,3.0,6.0
3,1002,01468,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,amurrio/pais_vasco,amurrio/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,1.0,NaN,3.0,6.0
4,1002,01470,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,amurrio/pais_vasco,amurrio/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,1.0,NaN,3.0,6.0
5,1003,01160,aramaio,aramaio,alava,araba,pais_vasco,pais_vasco,aramaio/alava,aramaio/araba,...,aramaio/pais_vasco,aramaio/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,1.0,NaN,NaN,NaN
6,1003,01165,aramaio,aramaio,alava,araba,pais_vasco,pais_vasco,aramaio/alava,aramaio/araba,...,aramaio/pais_vasco,aramaio/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,1.0,NaN,NaN,NaN
7,1003,01169,aramaio,aramaio,alava,araba,pais_vasco,pais_vasco,aramaio/alava,aramaio/araba,...,aramaio/pais_vasco,aramaio/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,1.0,NaN,NaN,NaN
8,1004,01474,artziniega,artziniega,alava,araba,pais_vasco,pais_vasco,artziniega/alava,artziniega/araba,...,artziniega/pais_vasco,artziniega/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,1.0,NaN,1.0,2.0
9,1004,01478,artziniega,artziniega,alava,araba,pais_vasco,pais_vasco,artziniega/alava,artziniega/araba,...,artziniega/pais_vasco,artziniega/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,1.0,NaN,1.0,2.0

In [151]:
union.columns

Index(['ine_code', 'postal_code', 'cities_es', 'cities', 'province_es',
       'province', 'ccaa_es', 'ccaa', 'cities_es/province_es',
       'cities_es/province', 'cities_es/ccaa_es', 'cities_es/ccaa',
       'cities/province_es', 'province_es/ccaa_es', 'province_es/ccaa',
       'province/ccaa_es', 'province/ccaa', 'total_bibliotecas',
       'uds_hospiatales', 'num_colegios_privados', 'num_colegios_publicos'],
      dtype='object')

In [152]:
union.shape

(14729, 21)

##### Guardia Civil

In [153]:
guardia_civil = pd.read_csv("sociedad_seguridad_guardia_civil_2019_limpio.csv", index_col=0, dtype={'cp': object})

In [154]:
guardia_civil.shape

(2237, 4)

In [155]:
guardia_civil.head(2)
#codigo postal no valido

      cp municipio_limpio provincia  uds_guardia_civil
0  10003          caceres   caceres                  1
1   1010          vitoria     alava                  1

In [156]:
guardia_civil[guardia_civil['municipio_limpio']=='benicasim']
# idioma municipio = es

        cp municipio_limpio  provincia  uds_guardia_civil
153  12560        benicasim  castellon                  1

In [157]:
maestro_municipios[maestro_municipios['cities_es']=='benicasim']

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,cities_es/ccaa_es,cities_es/ccaa,cities/province_es,province_es/ccaa_es,province_es/ccaa,province/ccaa_es,province/ccaa
2905,12028,12560,benicasim,benicassim,castellon,castello,comunidad_valenciana,comunitat_valenciana,benicasim/castellon,benicasim/castello,benicasim/comunidad_valenciana,benicasim/comunidad_valenciana,benicassim/castellon,castellon/comunidad_valenciana,castellon/comunidad_valenciana,castellon/comunidad_valenciana,castellon/comunidad_valenciana
2919,12040,12560,benicasim,benicassim,castellon,castello,comunidad_valenciana,comunitat_valenciana,benicasim/castellon,benicasim/castello,benicasim/comunidad_valenciana,benicasim/comunidad_valenciana,benicassim/castellon,castellon/comunidad_valenciana,castellon/comunidad_valenciana,castellon/comunidad_valenciana,castellon/comunidad_valenciana

In [158]:
maestro_municipios['province_es'].drop_duplicates().sort_values()

0                         alava
132                    albacete
305                    alicante
549                     almeria
9209                   asturias
768                       avila
1063                    badajoz
1463                  barcelona
1911                     burgos
2455                    caceres
2759                      cadiz
1918                  cantabria
2875                  castellon
14718                     ceuta
3044                ciudad_real
3070                    cordoba
3379                     coruna
3801                     cuenca
4087                     girona
3311                    granada
4663                guadalajara
5051                  guipuzkoa
5183                     huelva
5214                     huesca
1283             islas_baleares
5738                       jaen
2170                   la_rioja
9962                 las_palmas
3985                       leon
6509                     lleida
7124                       lugo
4739                     madrid
7974                     malaga
14723                   melilla
496                      murcia
8408                    navarra
8789                    ourense
2248                   palencia
10142                pontevedra
10556                 salamanca
11071    santa_cruz_de_tenerife
11607                   segovia
11888                   sevilla
12064                     soria
1536                  tarragona
12612                    teruel
12900                    toledo
13151                  valencia
13509                valladolid
13776                   vizcaya
13936                    zamora
8701                   zaragoza
134                         NaN
Name: province_es, dtype: object

In [159]:
guardia_civil['provincia'].replace("illes_balears", "islas_baleares", inplace=True )

In [160]:
# listado de provincias y ccaa
guardia_civil['provincia'].drop_duplicates().sort_values()

284                   a_coruna
1                        alava
510                   albacete
1032                  alicante
1492                   almeria
1182                  asturias
1944                     avila
2024                   badajoz
2166                 barcelona
2200                    burgos
0                      caceres
75                       cadiz
1449                 cantabria
128                  castellon
1994                     ceuta
164                ciudad_real
231                    cordoba
341                     cuenca
509                   gipuzkoa
388                     girona
400                    granada
477                guadalajara
520                     huelva
585                     huesca
2117            islas_baleares
639                       jaen
777                   la_rioja
1295                las_palmas
711                       leon
759                     lleida
819                       lugo
871                     madrid
973                     malaga
2002                   melilla
1031                    murcia
1080                   navarra
1144                    orense
1253                  palencia
1325                pontevedra
1372                 salamanca
1415    santa_cruz_de_tenerife
1491                   segovia
1526                   sevilla
1603                     soria
1625                 tarragona
1664                    teruel
1699                    toledo
1779                  valencia
1861                valladolid
1896                   vizcaya
1918                    zamora
1942                  zaragoza
Name: provincia, dtype: object

In [161]:
guardia_civil['cities_es/province_es'] = guardia_civil['municipio_limpio']+"/"+guardia_civil['provincia']

In [162]:
guardia_civil = guardia_civil.groupby(by='cities_es/province_es', as_index=False).agg({'uds_guardia_civil':'sum'})

In [163]:
union = pd.merge(union, guardia_civil, left_on='cities_es/province_es', right_on='cities_es/province_es', how='left')

In [164]:
union[~union['uds_guardia_civil'].isnull()].shape

(4763, 22)

In [165]:
union.head(2)

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,...,cities/province_es,province_es/ccaa_es,province_es/ccaa,province/ccaa_es,province/ccaa,total_bibliotecas,uds_hospiatales,num_colegios_privados,num_colegios_publicos,uds_guardia_civil
0,1001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,alegria_dulantzi/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,1.0,NaN,0.0,3.0,NaN
1,1001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,alegria_dulantzi/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,1.0,NaN,0.0,3.0,NaN

In [166]:
union.shape

(14729, 22)

##### Universidades

In [167]:
universidad = pd.read_csv('sociedad_educacion_universidad_2018_limpio.csv', index_col=0, dtype={'cp': object})

In [168]:
universidad.shape

(165, 6)

In [169]:
universidad.head(2)

,municipio_limpio,ccaa,num_universidades_privadas,num_universidades_publicas,num_tit_uni_privadas,num_tit_uni_publicas
0,albacete,castilla_la_mancha,NaN,1.0,NaN,52.0
1,alcala_de_henares,madrid,1.0,1.0,5.0,114.0

In [170]:
universidad[universidad['municipio_limpio']=='alcoy']

,municipio_limpio,ccaa,num_universidades_privadas,num_universidades_publicas,num_tit_uni_privadas,num_tit_uni_publicas
5,alcoy,comunitat_valenciana,NaN,1.0,NaN,12.0

In [171]:
maestro_municipios[maestro_municipios['cities']=='alcoy']

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,cities_es/ccaa_es,cities_es/ccaa,cities/province_es,province_es/ccaa_es,province_es/ccaa,province/ccaa_es,province/ccaa
315,3009,03804,alcoi,alcoy,alicante,alacant,comunidad_valenciana,comunitat_valenciana,alcoi/alicante,alcoi/alacant,alcoi/comunidad_valenciana,alcoi/comunidad_valenciana,alcoy/alicante,alicante/comunidad_valenciana,alicante/comunidad_valenciana,alicante/comunidad_valenciana,alicante/comunidad_valenciana
316,3009,03803,alcoi,alcoy,alicante,alacant,comunidad_valenciana,comunitat_valenciana,alcoi/alicante,alcoi/alacant,alcoi/comunidad_valenciana,alcoi/comunidad_valenciana,alcoy/alicante,alicante/comunidad_valenciana,alicante/comunidad_valenciana,alicante/comunidad_valenciana,alicante/comunidad_valenciana
317,3009,03802,alcoi,alcoy,alicante,alacant,comunidad_valenciana,comunitat_valenciana,alcoi/alicante,alcoi/alacant,alcoi/comunidad_valenciana,alcoi/comunidad_valenciana,alcoy/alicante,alicante/comunidad_valenciana,alicante/comunidad_valenciana,alicante/comunidad_valenciana,alicante/comunidad_valenciana
318,3009,03800,alcoi,alcoy,alicante,alacant,comunidad_valenciana,comunitat_valenciana,alcoi/alicante,alcoi/alacant,alcoi/comunidad_valenciana,alcoi/comunidad_valenciana,alcoy/alicante,alicante/comunidad_valenciana,alicante/comunidad_valenciana,alicante/comunidad_valenciana,alicante/comunidad_valenciana
319,3009,03801,alcoi,alcoy,alicante,alacant,comunidad_valenciana,comunitat_valenciana,alcoi/alicante,alcoi/alacant,alcoi/comunidad_valenciana,alcoi/comunidad_valenciana,alcoy/alicante,alicante/comunidad_valenciana,alicante/comunidad_valenciana,alicante/comunidad_valenciana,alicante/comunidad_valenciana

In [172]:
universidad['ccaa'].drop_duplicates().sort_values()

7                andalucia
11                  aragon
60                asturias
50                 balears
18                canarias
42               cantabria
0       castilla_la_mancha
19         castilla_y_leon
21                cataluna
2     comunitat_valenciana
9              extremadura
45                 galicia
1                   madrid
32                  murcia
22                 navarra
16              pais_vasco
78                   rioja
Name: ccaa, dtype: object

In [173]:
universidad['ccaa'].replace("balears","illes_balears", inplace=True, regex=True)
universidad['ccaa'].replace("madrid","comunidad_de_madrid", inplace=True, regex=True)
universidad['ccaa'].replace("navarra","comunidad_foral_de_navarra", inplace=True, regex=True)
universidad['ccaa'].replace("asturias","principado_de_asturias", inplace=True, regex=True)
universidad['ccaa'].replace("rioja","la_rioja", inplace=True, regex=True)
universidad['ccaa'].replace("murcia","region_de_murcia", inplace=True, regex=True)

In [174]:
maestro_municipios['ccaa'].drop_duplicates().sort_values()

549                       andalucia
5214                         aragon
9962                       canarias
1918                      cantabria
132              castilla_la_mancha
768                 castilla_y_leon
1463                       cataluna
14718                         ceuta
4739            comunidad_de_madrid
8408     comunidad_foral_de_navarra
305            comunitat_valenciana
1063                    extremadura
3379                        galicia
1283                  illes_balears
2170                       la_rioja
14723                       melilla
0                        pais_vasco
9209         principado_de_asturias
496                region_de_murcia
134                             NaN
Name: ccaa, dtype: object

In [175]:
universidad['cities_es/ccaa'] = universidad['municipio_limpio']+"/"+universidad['ccaa']

In [176]:
universidad.head()

,municipio_limpio,ccaa,num_universidades_privadas,num_universidades_publicas,num_tit_uni_privadas,num_tit_uni_publicas,cities_es/ccaa
0,albacete,castilla_la_mancha,NaN,1.0,NaN,52.0,albacete/castilla_la_mancha
1,alcala_de_henares,comunidad_de_madrid,1.0,1.0,5.0,114.0,alcala_de_henares/comunidad_de_madrid
2,alcobendas,comunitat_valenciana,1.0,NaN,6.0,NaN,alcobendas/comunitat_valenciana
3,alcobendas,comunidad_de_madrid,3.0,NaN,26.0,NaN,alcobendas/comunidad_de_madrid
4,alcorcon,comunidad_de_madrid,NaN,1.0,NaN,21.0,alcorcon/comunidad_de_madrid

In [177]:
universidad.drop(columns= ['municipio_limpio','ccaa'], inplace=True)

In [178]:
union = pd.merge(union, universidad, left_on='cities_es/ccaa_es', right_on='cities_es/ccaa', how='left')

In [179]:
union[~union['num_universidades_publicas'].isnull()].shape

(1204, 27)

In [180]:
union.head(2)

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,...,total_bibliotecas,uds_hospiatales,num_colegios_privados,num_colegios_publicos,uds_guardia_civil,num_universidades_privadas,num_universidades_publicas,num_tit_uni_privadas,num_tit_uni_publicas,cities_es/ccaa_y
0,1001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,1.0,NaN,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,1.0,NaN,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN

In [181]:
union.shape

(14729, 27)

##### Establecimientos

In [182]:
establecimientos = pd.read_csv("economia_turismo_establecimientos_20XX_limpio.csv", index_col=0, dtype={'codigo_postal': object})

In [183]:
establecimientos.shape

(2063, 35)

In [184]:
establecimientos.head(2)

,codigo_postal,municipio_limpio,ccaa,agencias_de_viajes,albergues,alojamientos_rurales,artesanos,atraque_de_cruceros_y_ferries,bares_y_cafeterías,bodegas,...,otros_servicios,palacios_de_congresos,playas,puertos_deportivos,restaurantes_y_empresas_turísticas_de_catering,seguridad_ciudadana,servicios_de_limpieza,servicios_turísticos_de_salud,taxis,turismo_industrial
0,00000,aldea_de_cuenca_hinojares,andalucia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,00000,arroyo_frio_la_iruela,andalucia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN

In [185]:
# mas de un codigo postal por municipio, se producen duplicados
establecimientos[establecimientos['codigo_postal']=='01118']

,codigo_postal,municipio_limpio,ccaa,agencias_de_viajes,albergues,alojamientos_rurales,artesanos,atraque_de_cruceros_y_ferries,bares_y_cafeterías,bodegas,...,otros_servicios,palacios_de_congresos,playas,puertos_deportivos,restaurantes_y_empresas_turísticas_de_catering,seguridad_ciudadana,servicios_de_limpieza,servicios_turísticos_de_salud,taxis,turismo_industrial
18,01118,bernedo,euskadi_pais_vasco,NaN,1.0,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,01118,lagran,euskadi_pais_vasco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,01118,urturi,euskadi_pais_vasco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [186]:
establecimientos[establecimientos['municipio_limpio']=='alcoy']
# municipio en 2 idiomas, se cruza por cp

,codigo_postal,municipio_limpio,ccaa,agencias_de_viajes,albergues,alojamientos_rurales,artesanos,atraque_de_cruceros_y_ferries,bares_y_cafeterías,bodegas,...,otros_servicios,palacios_de_congresos,playas,puertos_deportivos,restaurantes_y_empresas_turísticas_de_catering,seguridad_ciudadana,servicios_de_limpieza,servicios_turísticos_de_salud,taxis,turismo_industrial
164,03800,alcoy,comunitat_valenciana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
166,03801,alcoy,comunitat_valenciana,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN
168,03802,alcoy,comunitat_valenciana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN
169,03803,alcoy,comunitat_valenciana,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
171,03804,alcoy,comunitat_valenciana,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN

In [187]:
establecimientos[establecimientos['codigo_postal'].duplicated()]

,codigo_postal,municipio_limpio,ccaa,agencias_de_viajes,albergues,alojamientos_rurales,artesanos,atraque_de_cruceros_y_ferries,bares_y_cafeterías,bodegas,...,otros_servicios,palacios_de_congresos,playas,puertos_deportivos,restaurantes_y_empresas_turísticas_de_catering,seguridad_ciudadana,servicios_de_limpieza,servicios_turísticos_de_salud,taxis,turismo_industrial
1,00000,arroyo_frio_la_iruela,andalucia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
2,00000,cazorla,andalucia,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,00000,la_iruela,andalucia,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,00000,pozo_alcon,andalucia,NaN,1.0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,01117,san_vicente_arana,euskadi_pais_vasco,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2049,50513,los_fayos,aragon,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2050,50513,santa_cruz_de_moncayo,aragon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2051,50513,santa_cruz_del_moncayo,aragon,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2052,50513,torrellas,aragon,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2059,50591,anon_de_moncayo,aragon,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [188]:
# listado de provincias y ccaa
establecimientos[establecimientos['codigo_postal']=='50513']

,codigo_postal,municipio_limpio,ccaa,agencias_de_viajes,albergues,alojamientos_rurales,artesanos,atraque_de_cruceros_y_ferries,bares_y_cafeterías,bodegas,...,otros_servicios,palacios_de_congresos,playas,puertos_deportivos,restaurantes_y_empresas_turísticas_de_catering,seguridad_ciudadana,servicios_de_limpieza,servicios_turísticos_de_salud,taxis,turismo_industrial
2047,50513,anon_de_moncayo,aragon,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2048,50513,grisel,aragon,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2049,50513,los_fayos,aragon,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2050,50513,santa_cruz_de_moncayo,aragon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2051,50513,santa_cruz_del_moncayo,aragon,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2052,50513,torrellas,aragon,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [189]:
establecimientos.drop(columns=['municipio_limpio','ccaa'], inplace=True)

In [190]:
establecimientos = establecimientos.groupby(['codigo_postal'],as_index=False).agg(lambda x : x.sum() if x.dtype=='float64' else x.head(1))

In [191]:
union = pd.merge(union, establecimientos, left_on='postal_code', right_on='codigo_postal', how='left')

In [192]:
union[~union['agencias_de_viajes'].isnull()].shape

(1826, 60)

In [193]:
union.columns

Index(['ine_code', 'postal_code', 'cities_es', 'cities', 'province_es',
       'province', 'ccaa_es', 'ccaa', 'cities_es/province_es',
       'cities_es/province', 'cities_es/ccaa_es', 'cities_es/ccaa_x',
       'cities/province_es', 'province_es/ccaa_es', 'province_es/ccaa',
       'province/ccaa_es', 'province/ccaa', 'total_bibliotecas',
       'uds_hospiatales', 'num_colegios_privados', 'num_colegios_publicos',
       'uds_guardia_civil', 'num_universidades_privadas',
       'num_universidades_publicas', 'num_tit_uni_privadas',
       'num_tit_uni_publicas', 'cities_es/ccaa_y', 'codigo_postal',
       'agencias_de_viajes', 'albergues', 'alojamientos_rurales', 'artesanos',
       'atraque_de_cruceros_y_ferries', 'bares_y_cafeterías', 'bodegas',
       'campings', 'campos_de_golf_y_campos_de_pitch&putt', 'comercios',
       'convention_bureaux',
       'empresas_de_alquiler_de_vehículos_y_embarcaciones',
       'empresas_de_transporte_turístico', 'empresas_de_turismo_activo',
       'escuelas_de_español_para_extranjeros', 'espacios_naturales_protegidos',
       'estaciones_de_esquí_y_montaña', 'guías_turísticos',
       'hoteles_y_apartamentos_turísticos',
       'museos_y_centros_de_interés_turístico_visitable', 'opc',
       'oficinas_de_información_turística', 'otros_servicios',
       'palacios_de_congresos', 'playas', 'puertos_deportivos',
       'restaurantes_y_empresas_turísticas_de_catering', 'seguridad_ciudadana',
       'servicios_de_limpieza', 'servicios_turísticos_de_salud', 'taxis',
       'turismo_industrial'],
      dtype='object')

In [194]:
union.shape

(14729, 60)

##### Usos suelo

In [195]:
usos_suelo = pd.read_csv("sociedad_usos_suelo_2019_limpio.csv", index_col=0)

In [196]:
usos_suelo.shape

(7610, 12)

In [197]:
usos_suelo.head(2)

,municipio_limpio,provincia,superficie_urbana,uds_almacen,uds_comercial,uds_cultural,uds_hosteleria,uds_industrial,uds_deportivo,uds_oficinas,uds_religioso,uds_espectaculos
0,abengibre,albacete,"302,079",13,3,2,1,169,1,2,1,0
1,alatoz,albacete,"339,890",41,2,1,1,140,4,2,2,0

In [198]:
usos_suelo['provincia'].drop_duplicates()
# no esta el pais vasco - se deescarta

0                     albacete
87                    alicante
228                    almeria
331                      avila
579                    badajoz
744                    balears
811                  barcelona
1122                    burgos
1493                   caceres
1716                     cadiz
1761                 castellon
1896               ciudad_real
1998                   cordoba
2075                    coruna
2169                    cuenca
2407                    girona
2628                   granada
2802               guadalajara
3090                    huelva
3170                    huesca
3372                      jaen
3469                      leon
3680                    lleida
3911                     rioja
4085                      lugo
4152                    madrid
4331                    malaga
4434                    murcia
4479                   ourense
4571                  asturias
4649                  palencia
4840                    palmas
4874                pontevedra
4936                 salamanca
5298    santa_cruz_de_tenerife
5352                 cantabria
5454                   segovia
5663                   sevilla
5769                     soria
5952                 tarragona
6136                    teruel
6372                    toledo
6576                  valencia
6842                valladolid
7067                    zamora
7315                  zaragoza
7608                     ceuta
7609                   melilla
Name: provincia, dtype: object

In [199]:
union.shape

(14729, 60)

In [200]:
union.head(3)

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,...,otros_servicios,palacios_de_congresos,playas,puertos_deportivos,restaurantes_y_empresas_turísticas_de_catering,seguridad_ciudadana,servicios_de_limpieza,servicios_turísticos_de_salud,taxis,turismo_industrial
0,1001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1002,01450,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [201]:
union.to_csv("union_patri.csv")