In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
import unidecode
import os

#### Funciones

In [14]:
def doClean(text):   
    
    # Quitar las expresiones tras la barra /
    a = re.sub('\/.*', '', text)
    # Quitar las aclaraciones entre paréntesis
    a = re.sub('\(.*\)', '', a)
    # Quitar acentos 
    a = unidecode.unidecode(a)
    # Quitar aquello que no sean palabras o cosa que se le parezca
    a = re.sub('\W', ' ', a) 
    # Quitar espacios extra en caso de haber
    a = re.sub('\s+', ' ', a)
    # Pasar el texto a minúsulas
    a = a.lower() 
    a = re.sub(' ', '_', a)
    #a = a.strip() 
    
    return a

#### Carga de ficheros

In [2]:
os.getcwd()

'/home/patcalsi/projects/Exodus_urbano/data/patri'

In [8]:
maestro_municipios = pd.read_csv("maestro_municipios.csv", index_col=0)

In [9]:
maestro_municipios.head()

     cp        municipio provincia        ccaa
0  1001  vitoria_gasteiz     araba  pais_vasco
1  1002  vitoria_gasteiz     araba  pais_vasco
2  1003  vitoria_gasteiz     araba  pais_vasco
3  1004  vitoria_gasteiz     araba  pais_vasco
4  1005  vitoria_gasteiz     araba  pais_vasco

##### Bibliotecas

In [71]:
bibliotecas = pd.read_csv("sociedad_cultura_bibliotecas_2017.csv")

In [72]:
bibliotecas.head()

    municipio  total_bib
0       Adeje          5
1       Arafo          1
2       Arona          7
3  Barlovento          1
4  Breña Alta          1

In [73]:
bibliotecas['municipio_limpio'] = bibliotecas['municipio'].apply(doClean)

In [76]:
bibliotecas.columns = ['municipio_original', 'total_bib', 'municipio']

In [77]:
bibliotecas.head()

  municipio_original  total_bib   municipio
0              Adeje          5       adeje
1              Arafo          1       arafo
2              Arona          7       arona
3         Barlovento          1  barlovento
4         Breña Alta          1  brena_alta

In [78]:
hospitales = pd.read_csv("sociedad_sanidad_hospitales_2019_limpio.csv", index_col=0)

In [79]:
hospitales.head()

     cp  num_hosp
0  1002         1
1  1006         1
2  1007         1
3  1008         1
4  1009         1

#### Union ficheros

In [80]:
union = pd.merge(maestro_municipios, bibliotecas, left_on='municipio', right_on='municipio', how='left')

In [81]:
union.head(50)

,cp,municipio,provincia,ccaa,municipio_original,total_bib
0,1001,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0
1,1002,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0
2,1003,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0
3,1004,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0
4,1005,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0
5,1006,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0
6,1007,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0
7,1008,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0
8,1009,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0
9,1010,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0
10,1012,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0
11,1013,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0
12,1015,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0
13,1110,campezo,araba,pais_vasco,Campezo/Kanpezu,1.0
14,1117,campezo,araba,pais_vasco,Campezo/Kanpezu,1.0
15,1118,bernedo,araba,pais_vasco,NaN,NaN
16,1120,arraia_maeztu,araba,pais_vasco,Arraia-Maeztu,1.0
17,1128,bernedo,araba,pais_vasco,NaN,NaN
18,1129,arraia_maeztu,araba,pais_vasco,Arraia-Maeztu,1.0
19,1130,zuia,araba,pais_vasco,Zuia,1.0
20,1138,zigoitia,araba,pais_vasco,Zigoitia,1.0
21,1139,zuia,araba,pais_vasco,Zuia,1.0
22,1160,aramaio,araba,pais_vasco,Aramaio,1.0
23,1165,aramaio,araba,pais_vasco,Aramaio,1.0
24,1169,aramaio,araba,pais_vasco,Aramaio,1.0
25,1170,legutio,araba,pais_vasco,Legutio,1.0
26,1171,legutio,araba,pais_vasco,Legutio,1.0
27,1191,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0
28,1192,elburgo,araba,pais_vasco,NaN,NaN
29,1193,alegria_dulantzi,araba,pais_vasco,Alegría-Dulantzi,1.0
30,1194,bernedo,araba,pais_vasco,NaN,NaN
31,1195,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0
32,1196,zigoitia,araba,pais_vasco,Zigoitia,1.0
33,1200,agurain,araba,pais_vasco,Agurain/Salvatierra,1.0
34,1206,barrundia,araba,pais_vasco,Barrundia,1.0
35,1207,iruraiz_gauna,araba,pais_vasco,NaN,NaN
36,1208,asparrena,araba,pais_vasco,Asparrena,1.0
37,1211,arminon,araba,pais_vasco,NaN,NaN
38,1212,berantevilla,araba,pais_vasco,Berantevilla,1.0
39,1213,erriberagoitia,araba,pais_vasco,NaN,NaN
40,1216,bernedo,araba,pais_vasco,NaN,NaN
41,1220,arminon,araba,pais_vasco,NaN,NaN
42,1230,iruna_oka,araba,pais_vasco,Iruña Oka/Iruña de Oca,1.0
43,1240,alegria_dulantzi,araba,pais_vasco,Alegría-Dulantzi,1.0
44,1250,asparrena,araba,pais_vasco,Asparrena,1.0
45,1260,asparrena,araba,pais_vasco,Asparrena,1.0
46,1300,laguardia,araba,pais_vasco,Laguardia,1.0
47,1306,lapuebla_de_labarca,araba,pais_vasco,NaN,NaN
48,1307,banos_de_ebro,araba,pais_vasco,NaN,NaN
49,1308,kripan,araba,pais_vasco,NaN,NaN

In [82]:
union = pd.merge(union, hospitales, left_on='cp', right_on='cp', how='left')

In [83]:
union.head(50)

,cp,municipio,provincia,ccaa,municipio_original,total_bib,num_hosp
0,1001,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0,NaN
1,1002,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0,1.0
2,1003,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0,NaN
3,1004,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0,NaN
4,1005,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0,NaN
5,1006,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0,1.0
6,1007,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0,1.0
7,1008,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0,1.0
8,1009,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0,1.0
9,1010,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0,NaN
10,1012,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0,NaN
11,1013,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0,NaN
12,1015,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0,NaN
13,1110,campezo,araba,pais_vasco,Campezo/Kanpezu,1.0,NaN
14,1117,campezo,araba,pais_vasco,Campezo/Kanpezu,1.0,NaN
15,1118,bernedo,araba,pais_vasco,NaN,NaN,NaN
16,1120,arraia_maeztu,araba,pais_vasco,Arraia-Maeztu,1.0,NaN
17,1128,bernedo,araba,pais_vasco,NaN,NaN,NaN
18,1129,arraia_maeztu,araba,pais_vasco,Arraia-Maeztu,1.0,NaN
19,1130,zuia,araba,pais_vasco,Zuia,1.0,NaN
20,1138,zigoitia,araba,pais_vasco,Zigoitia,1.0,NaN
21,1139,zuia,araba,pais_vasco,Zuia,1.0,NaN
22,1160,aramaio,araba,pais_vasco,Aramaio,1.0,NaN
23,1165,aramaio,araba,pais_vasco,Aramaio,1.0,NaN
24,1169,aramaio,araba,pais_vasco,Aramaio,1.0,NaN
25,1170,legutio,araba,pais_vasco,Legutio,1.0,NaN
26,1171,legutio,araba,pais_vasco,Legutio,1.0,NaN
27,1191,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0,NaN
28,1192,elburgo,araba,pais_vasco,NaN,NaN,NaN
29,1193,alegria_dulantzi,araba,pais_vasco,Alegría-Dulantzi,1.0,NaN
30,1194,bernedo,araba,pais_vasco,NaN,NaN,NaN
31,1195,vitoria_gasteiz,araba,pais_vasco,Vitoria-Gasteiz,13.0,NaN
32,1196,zigoitia,araba,pais_vasco,Zigoitia,1.0,NaN
33,1200,agurain,araba,pais_vasco,Agurain/Salvatierra,1.0,NaN
34,1206,barrundia,araba,pais_vasco,Barrundia,1.0,NaN
35,1207,iruraiz_gauna,araba,pais_vasco,NaN,NaN,NaN
36,1208,asparrena,araba,pais_vasco,Asparrena,1.0,NaN
37,1211,arminon,araba,pais_vasco,NaN,NaN,NaN
38,1212,berantevilla,araba,pais_vasco,Berantevilla,1.0,NaN
39,1213,erriberagoitia,araba,pais_vasco,NaN,NaN,NaN
40,1216,bernedo,araba,pais_vasco,NaN,NaN,NaN
41,1220,arminon,araba,pais_vasco,NaN,NaN,NaN
42,1230,iruna_oka,araba,pais_vasco,Iruña Oka/Iruña de Oca,1.0,NaN
43,1240,alegria_dulantzi,araba,pais_vasco,Alegría-Dulantzi,1.0,NaN
44,1250,asparrena,araba,pais_vasco,Asparrena,1.0,NaN
45,1260,asparrena,araba,pais_vasco,Asparrena,1.0,NaN
46,1300,laguardia,araba,pais_vasco,Laguardia,1.0,NaN
47,1306,lapuebla_de_labarca,araba,pais_vasco,NaN,NaN,NaN
48,1307,banos_de_ebro,araba,pais_vasco,NaN,NaN,NaN
49,1308,kripan,araba,pais_vasco,NaN,NaN,NaN