In [1]:
# Importar librerías necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn import datasets
from io import StringIO
from sklearn.tree import export_graphviz
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import metrics
%matplotlib inline

In [2]:
# Leer el documento en una variable "dataframe"

municipios = pd.read_excel('lista_municipios_2012.xls')

In [3]:
# Ver qué contiene el dataframe 

municipios

,codine,Municipio,Superficie,Capitalidad,Año,CA,Autonomía,CP,Provincia,CPJ,Partido_Judicial
0,1001,Alegría-Dulantzi,19.95,Alegría-Dulantzi,NaN,16,País Vasco,1,Araba/Álava,102,Vitoria-Gasteiz
1,1002,Amurrio,96.36,Amurrio,NaN,16,País Vasco,1,Araba/Álava,101,Amurrio
2,1003,Aramaio,73.27,Ibarra,NaN,16,País Vasco,1,Araba/Álava,102,Vitoria-Gasteiz
3,1004,Artziniega,27.45,Artziniega,NaN,16,País Vasco,1,Araba/Álava,101,Amurrio
4,1006,Armiñón,12.94,Armiñón,NaN,16,País Vasco,1,Araba/Álava,102,Vitoria-Gasteiz
...,...,...,...,...,...,...,...,...,...,...,...
8111,50901,Biel,130.73,Biel,NaN,2,Aragón,50,Zaragoza,5005,Ejea de los Caballeros
8112,50902,Marracos,16.92,Marracos,1998.0,2,Aragón,50,Zaragoza,5005,Ejea de los Caballeros
8113,50903,Villamayor de Gállego,89.36,Villamayor ...,2006.0,2,Aragón,50,Zaragoza,5003,Zaragoza
8114,51001,Ceuta,19.48,Ceuta,NaN,18,Ceuta (Ciudad de),51,Ceuta,5112,Ceuta
8115,52001,Melilla,13.41,Melilla,NaN,19,Melilla (Ciudad de),52,Melilla,5208,Melilla

In [4]:
# Información del data frame

municipios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8116 entries, 0 to 8115
Data columns (total 11 columns):
codine              8116 non-null int64
Municipio           8116 non-null object
Superficie          8116 non-null float64
Capitalidad         8116 non-null object
Año                 116 non-null float64
CA                  8116 non-null int64
Autonomía           8116 non-null object
CP                  8116 non-null int64
Provincia           8116 non-null object
CPJ                 8116 non-null int64
Partido_Judicial    8116 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 697.6+ KB

In [5]:
# Nombre de las columnas

municipios.columns

Index(['codine', 'Municipio', 'Superficie', 'Capitalidad', 'Año', 'CA',
       'Autonomía', 'CP', 'Provincia', 'CPJ', 'Partido_Judicial'],
      dtype='object')

In [17]:
#elimino las que no me interesan

municipios = municipios.drop(['Año'], axis=1)

In [18]:
# Guardo el documento (en este caso es .xls)

municipios.to_excel('municipios.xls', sheet_name='municipios')

In [19]:
municipios.describe()

             codine   Superficie           CA           CP          CPJ
count   8116.000000  8116.000000  8116.000000  8116.000000  8116.000000
mean   26805.584401    62.133831     7.747782    26.676072  2671.405988
std    14895.587121    92.218606     4.025040    14.896494  1489.454168
min     1001.000000     0.030000     1.000000     1.000000   101.000000
25%    13087.750000    18.360000     7.000000    13.000000  1308.750000
50%    26022.500000    34.890000     7.000000    26.000000  2601.000000
75%    41029.250000    68.907500    10.000000    41.000000  4103.000000
max    52001.000000  1750.330000    19.000000    52.000000  5208.000000

In [20]:
# Prueba para ver qué me ha guardado

municipios_2 = pd.read_excel('municipios.xls')

In [21]:
municipios_2

,Unnamed: 0,codine,Municipio,Superficie,Capitalidad,CA,Autonomía,CP,Provincia,CPJ,Partido_Judicial
0,0,1001,Alegría-Dulantzi,19.95,Alegría-Dulantzi,16,País Vasco,1,Araba/Álava,102,Vitoria-Gasteiz
1,1,1002,Amurrio,96.36,Amurrio,16,País Vasco,1,Araba/Álava,101,Amurrio
2,2,1003,Aramaio,73.27,Ibarra,16,País Vasco,1,Araba/Álava,102,Vitoria-Gasteiz
3,3,1004,Artziniega,27.45,Artziniega,16,País Vasco,1,Araba/Álava,101,Amurrio
4,4,1006,Armiñón,12.94,Armiñón,16,País Vasco,1,Araba/Álava,102,Vitoria-Gasteiz
...,...,...,...,...,...,...,...,...,...,...,...
8111,8111,50901,Biel,130.73,Biel,2,Aragón,50,Zaragoza,5005,Ejea de los Caballeros
8112,8112,50902,Marracos,16.92,Marracos,2,Aragón,50,Zaragoza,5005,Ejea de los Caballeros
8113,8113,50903,Villamayor de Gállego,89.36,Villamayor ...,2,Aragón,50,Zaragoza,5003,Zaragoza
8114,8114,51001,Ceuta,19.48,Ceuta,18,Ceuta (Ciudad de),51,Ceuta,5112,Ceuta
8115,8115,52001,Melilla,13.41,Melilla,19,Melilla (Ciudad de),52,Melilla,5208,Melilla