In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
import unidecode
import os

#### Funciones

In [2]:
def doClean(text):   
    
    # Quitar las expresiones tras la barra /
    a = re.sub('\/.*', '', text)
    # Quitar las aclaraciones entre paréntesis
    a = re.sub('\(.*\)', '', a)
    # Quitar acentos 
    a = unidecode.unidecode(a)
    # Quitar aquello que no sean palabras o cosa que se le parezca
    a = re.sub('\W', ' ', a) 
    # Quitar espacios extra en caso de haber
    a = re.sub('\s+', ' ', a)
    # Pasar el texto a minúsulas
    a = a.lower() 
    a = a.lstrip()
    # Quitar espacio derecha
    a = a.rstrip()
    a = re.sub(' ', '_', a)
    #a = a.strip() 
    
    return a

## Fichero maestro

In [3]:
maestro_municipios = pd.read_csv("maestro_idiomas_ine.csv", index_col=0, dtype={'postal_code': object})

In [4]:
maestro_municipios.shape

(14729, 17)

In [5]:
maestro_municipios.head()

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,cities_es/ccaa_es,cities_es/ccaa,cities/province_es,province_es/ccaa_es,province_es/ccaa,province/ccaa_es,province/ccaa
0,1001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,alegria_dulantzi/pais_vasco,alegria_dulantzi/pais_vasco,alegria_dulantzi/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco
1,1001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,alegria_dulantzi/pais_vasco,alegria_dulantzi/pais_vasco,alegria_dulantzi/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco
2,1002,01450,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,amurrio/pais_vasco,amurrio/pais_vasco,amurrio/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco
3,1002,01468,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,amurrio/pais_vasco,amurrio/pais_vasco,amurrio/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco
4,1002,01470,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,amurrio/pais_vasco,amurrio/pais_vasco,amurrio/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco

## Ficheros especificos

##### Comercios

In [6]:
Comercios = pd.read_csv("Economia_comercios_municipios_2019.csv", dtype={'CP': object})

In [7]:
Comercios.shape

(8189, 13)

In [8]:
Comercios.head(2)

,CP,Municipio,Total Comercios,B_E Industria,F Construcción,"Comercio, transporte y hostelería",J Información y comunicaciones,K Actividades financieras y de seguros,L Actividades inmobiliarias,Actividades profesionales y técnicas,"Educación, sanidad y servicios sociales",Otros servicios personales,Total servicios
0,0,Total Nacional,"3,363,197","199,076","422,350","1,215,680","68,158","77,396","179,484","622,015","272,124","306,914","1,526,091"
1,01,Araba/Álava,"18,678","1,942","2,397","7,099",359,326,221,"3,132","1,493","1,709","7,240"

In [9]:
Comercios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8189 entries, 0 to 8188
Data columns (total 13 columns):
CP                                         8188 non-null object
Municipio                                  8188 non-null object
Total Comercios                            8189 non-null object
B_E Industria                              8189 non-null object
F Construcción                             8189 non-null object
Comercio, transporte y hostelería          8189 non-null object
J Información y comunicaciones             8189 non-null object
K Actividades financieras y de seguros     8189 non-null object
L Actividades inmobiliarias                8189 non-null object
Actividades profesionales y técnicas       8189 non-null object
Educación, sanidad y servicios sociales    8189 non-null object
Otros servicios personales                 8189 non-null object
Total servicios                            8189 non-null object
dtypes: object(13)
memory usage: 831.8+ KB

In [10]:
# Como me da error en doClean porque el tipo del dato de la columna a la que quiero aplicar la funcion 
# no es str, cambio el tipo de data en la columna primero:

Comercios['Municipio'] = Comercios['Municipio'].astype(str)

In [11]:
Comercios['Municipio']=Comercios['Municipio'].apply(doClean)

In [12]:
Comercios

,CP,Municipio,Total Comercios,B_E Industria,F Construcción,"Comercio, transporte y hostelería",J Información y comunicaciones,K Actividades financieras y de seguros,L Actividades inmobiliarias,Actividades profesionales y técnicas,"Educación, sanidad y servicios sociales",Otros servicios personales,Total servicios
0,0,total_nacional,"3,363,197","199,076","422,350","1,215,680","68,158","77,396","179,484","622,015","272,124","306,914","1,526,091"
1,01,araba,"18,678","1,942","2,397","7,099",359,326,221,"3,132","1,493","1,709","7,240"
2,01001,alegria_dulantzi,148,20,26,59,,,,,,,43
3,01002,amurrio,600,63,95,251,6,9,7,90,40,39,191
4,01003,aramaio,50,8,7,16,,,,,,,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8184,50901,biel,10,,,,,,,,,,
8185,50902,marracos,.,,,,,,,,,,
8186,50903,villamayor_de_gallego,166,17,18,62,,,,,,,69
8187,51001,ceuta,"3,789",82,290,"1,956",33,47,129,530,313,409,"1,461"
8188,52001,melilla,"5,304",117,377,"3,201",49,46,97,593,403,421,"1,609"

##### Creo la columnas cp/municipio en ambos ficheros para cruzar por ahí

In [13]:
maestro_municipios['cp/citie']=maestro_municipios['postal_code']+'/'+maestro_municipios['cities_es']

In [14]:
Comercios.columns

Index(['CP', 'Municipio', 'Total Comercios', 'B_E Industria', 'F Construcción',
       'Comercio, transporte y hostelería', 'J Información y comunicaciones',
       'K Actividades financieras y de seguros', 'L Actividades inmobiliarias',
       'Actividades profesionales y técnicas',
       'Educación, sanidad y servicios sociales', 'Otros servicios personales',
       'Total servicios'],
      dtype='object')

In [15]:
Comercios['CP/Municipio'] = Comercios['CP']+'/'+Comercios['Municipio']

In [16]:
## Me quedo con las columnas que necesito del fichero de Comercios, el resto no lo quiero para nada

In [17]:
Comercios = Comercios[['CP', 'Municipio', 'CP/Municipio', 'Total Comercios','Total servicios']]

In [18]:
# Unión ficheros

In [19]:
union = pd.merge(maestro_municipios, Comercios, left_on='cp/citie', right_on='CP/Municipio', how='left')

In [22]:
union.shape

(14729, 23)

In [20]:
union[~union['Total Comercios'].isnull()].shape

(441, 23)

In [21]:
union[~union['Total servicios'].isnull()].shape

(441, 23)

In [23]:
union.head(10)

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,...,province_es/ccaa_es,province_es/ccaa,province/ccaa_es,province/ccaa,cp/citie,CP,Municipio,CP/Municipio,Total Comercios,Total servicios
0,1001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,01240/alegria_dulantzi,NaN,NaN,NaN,NaN,NaN
1,1001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,01193/alegria_dulantzi,NaN,NaN,NaN,NaN,NaN
2,1002,01450,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,01450/amurrio,NaN,NaN,NaN,NaN,NaN
3,1002,01468,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,01468/amurrio,NaN,NaN,NaN,NaN,NaN
4,1002,01470,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,01470/amurrio,NaN,NaN,NaN,NaN,NaN
5,1003,01160,aramaio,aramaio,alava,araba,pais_vasco,pais_vasco,aramaio/alava,aramaio/araba,...,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,01160/aramaio,NaN,NaN,NaN,NaN,NaN
6,1003,01165,aramaio,aramaio,alava,araba,pais_vasco,pais_vasco,aramaio/alava,aramaio/araba,...,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,01165/aramaio,NaN,NaN,NaN,NaN,NaN
7,1003,01169,aramaio,aramaio,alava,araba,pais_vasco,pais_vasco,aramaio/alava,aramaio/araba,...,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,01169/aramaio,NaN,NaN,NaN,NaN,NaN
8,1004,01474,artziniega,artziniega,alava,araba,pais_vasco,pais_vasco,artziniega/alava,artziniega/araba,...,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,01474/artziniega,NaN,NaN,NaN,NaN,NaN
9,1004,01478,artziniega,artziniega,alava,araba,pais_vasco,pais_vasco,artziniega/alava,artziniega/araba,...,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,01478/artziniega,NaN,NaN,NaN,NaN,NaN

##### IRPF / Salario

In [27]:
IRPF = pd.read_csv("Economia_IRPF_municipios_2017.csv", dtype={'CP_AT': object})

#, index_col=0, dtype={'cp': object}

In [28]:
IRPF.shape

(2897, 7)

In [29]:
IRPF.head(2)

,Unnamed: 0,n_habitantes,Renta_disponible,CCAA,PROVINCIA,MUNICIPIO,CP_AT
0,57,1005.0,8092773.17,aragon,zaragoza,bujaraloz,50059.0
1,58,1047.0,8434679.97,comunitat_valenciana,valencia,palmera,46188.0

In [30]:
IRPF.columns

Index(['Unnamed: 0', 'n_habitantes', 'Renta_disponible', 'CCAA', 'PROVINCIA',
       'MUNICIPIO', 'CP_AT'],
      dtype='object')

In [31]:
IRPF=IRPF[['n_habitantes', 'Renta_disponible', 'CCAA', 'PROVINCIA',
       'MUNICIPIO', 'CP_AT']]

In [32]:
# Voy a cruzar por la combinacion municipio/provincia

In [33]:
IRPF['mun/pro'] = IRPF['MUNICIPIO']+'/'+IRPF['PROVINCIA']

In [34]:
union['mun/pro']=union['cities_es']+'/'+union['province_es']

In [35]:
# concatenación ficheros

In [36]:
union_2 = pd.merge(union, IRPF, left_on='mun/pro', right_on='mun/pro', how='left')

In [37]:
union_2.shape

(16052, 30)

In [38]:
union_2[~union_2['Renta_disponible'].isnull()].shape

(6725, 30)

In [ ]:
##!! han aumentado las filas de la unión. +1323

# ¿?

##### PIB

In [39]:
PIB = pd.read_csv("Economia_PIB_provincias_2017.csv")

#, index_col=0, dtype={'codigo_postal': object}

In [40]:
PIB.shape

(52, 3)

In [41]:
PIB.head(2)

   Unnamed: 0 provincia    PIB pm
0           0  albacete   7762548
1           1  alicante  35061866

In [42]:
PIB.columns

Index(['Unnamed: 0', 'provincia', 'PIB pm'], dtype='object')

In [43]:
PIB=PIB[['provincia', 'PIB pm']]

In [44]:
# Concatenación ficheros

In [45]:
union_3 = pd.merge(union_2, PIB, left_on='province_es', right_on='provincia', how='left')

In [46]:
union_3.shape

(16052, 32)

In [47]:
union_3[~union_3['PIB pm'].isnull()].shape

(12895, 32)

In [48]:
union_3.columns

Index(['ine_code', 'postal_code', 'cities_es', 'cities', 'province_es',
       'province', 'ccaa_es', 'ccaa', 'cities_es/province_es',
       'cities_es/province', 'cities_es/ccaa_es', 'cities_es/ccaa',
       'cities/province_es', 'province_es/ccaa_es', 'province_es/ccaa',
       'province/ccaa_es', 'province/ccaa', 'cp/citie', 'CP', 'Municipio',
       'CP/Municipio', 'Total Comercios', 'Total servicios', 'mun/pro',
       'n_habitantes', 'Renta_disponible', 'CCAA', 'PROVINCIA', 'MUNICIPIO',
       'CP_AT', 'provincia', 'PIB pm'],
      dtype='object')

In [49]:
union_3=union_3[['ine_code','CP_AT', 'postal_code', 'cities_es', 'cities', 'province_es',
       'province', 'ccaa_es', 'ccaa', 'cities_es/province_es',
       'cities_es/province', 'cities_es/ccaa_es', 'cities_es/ccaa',
       'cities/province_es', 'province_es/ccaa_es', 'province_es/ccaa',
       'province/ccaa_es', 'province/ccaa', 'cp/citie', 'CP', 'Municipio',
       'CP/Municipio', 'Total Comercios', 'Total servicios', 
       'n_habitantes', 'Renta_disponible', 'PIB pm']]

In [50]:
union_3.shape

(16052, 27)

# Exportación fichero unión Sandra

In [51]:
union_3.to_csv("union_ficheros_sandra.csv")