In [1]:
# Importar librer√≠as necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from sklearn import datasets
from io import StringIO
from sklearn.tree import export_graphviz
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import metrics
%matplotlib inline

In [3]:
Salarios = pd.read_csv('modelo190_salarios.csv', encoding='utf-8', sep=',')

In [4]:
Salarios

,M190_1,M190_2,M190_3,M190_4,M190_5,M190_6,M190_7,M190_8,M190_9,M190_10,...,M190_18,M190_19,M190_20,M190_21,CCAA,PROV,SECTOR,SEXO,EJER,MODELO
0,34068,1.127109e+08,22188.98708,4.864775e+07,6893.78582,64063197.50,15295.20126,369910.26,122.19582,13204320.74,...,6.320128e+06,885.05481,204310.94,28.94710,1,4,1,1,2009,190
1,35952,1.163547e+08,23559.56931,4.503074e+07,5899.00326,71323953.32,17660.56605,252441.77,96.12102,12544673.00,...,5.992126e+06,899.92044,211426.48,31.19744,1,4,1,1,2010,190
2,38269,1.262990e+08,24949.47313,4.343910e+07,6295.46790,82859935.95,18654.00523,249251.58,100.27231,13459515.15,...,6.255264e+06,1005.45038,261286.59,31.85878,1,4,1,1,2011,190
3,39105,1.419904e+08,26410.36781,4.933342e+07,7049.92380,92656946.72,19360.44401,226287.42,92.49698,13344917.54,...,7.709233e+06,1148.04281,258656.35,28.51181,1,4,1,1,2012,190
4,43501,1.532372e+08,28963.20191,5.416736e+07,8130.90171,99069832.81,20832.30020,300278.99,110.43127,12704417.73,...,8.663512e+06,1275.30904,327097.47,39.71208,1,4,1,1,2013,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9395,5584,5.197318e+07,3859.57207,4.966846e+07,3580.58023,2304713.30,278.99184,NaN,NaN,1868674.28,...,8.907289e+06,509.02791,210662.56,20.96408,77,99,8,2,2018,190
9396,19835,5.525784e+08,17541.49853,5.483398e+08,17147.85357,4238653.20,393.64496,100652.84,7.00000,12539438.26,...,1.436575e+08,3561.34214,7953699.32,231.15235,77,99,9,1,2018,190
9397,15368,3.089088e+08,12740.65435,3.054435e+08,12267.91034,3465374.19,472.74401,7252.73,6.82985,4520080.07,...,6.888736e+07,2177.36250,3386508.97,120.46150,77,99,9,2,2018,190
9398,6005,3.771976e+07,3528.99870,3.084493e+07,2780.85526,6874825.73,748.14344,40134.94,46.23868,4702739.47,...,5.510865e+06,280.38334,203131.84,21.00000,77,99,10,1,2018,190
9399,4714,2.594196e+07,2973.42115,2.289333e+07,2534.14159,3048627.19,439.27956,41056.90,43.38816,3244728.60,...,2.669261e+06,183.98837,139955.93,12.15209,77,99,10,2,2018,190

In [6]:
Salarios.columns

Index(['M190_1', 'M190_2', 'M190_3', 'M190_4', 'M190_5', 'M190_6', 'M190_7',
       'M190_8', 'M190_9', 'M190_10', 'M190_11', 'M190_12', 'M190_13',
       'M190_14', 'M190_15', 'M190_16', 'M190_17', 'M190_18', 'M190_19',
       'M190_20', 'M190_21', 'CCAA', 'PROV', 'SECTOR', 'SEXO', 'EJER',
       'MODELO'],
      dtype='object')

In [7]:
Salarios.describe()

,M190_1,M190_2,M190_3,M190_4,M190_5,M190_6,M190_7,M190_8,M190_9,M190_10,...,M190_18,M190_19,M190_20,M190_21,CCAA,PROV,SECTOR,SEXO,EJER,MODELO
count,9400.000000,9.400000e+03,9400.000000,9.400000e+03,9400.000000,9.375000e+03,9375.000000,7.809000e+03,7809.000000,9.396000e+03,...,9.400000e+03,9400.000000,8.910000e+03,8910.000000,9400.000000,9400.000000,9400.000000,9400.000000,9400.000000,9400.0
mean,24840.648404,3.574564e+08,18870.161809,3.368354e+08,16946.575638,2.067601e+07,1928.712748,2.189356e+05,65.836855,1.284992e+07,...,5.414374e+07,2180.045213,2.854883e+06,185.239169,8.446809,27.106383,5.500000,1.500000,2013.500000,190.0
std,47097.518179,8.640241e+08,36944.279754,8.147809e+08,33174.707207,6.147529e+07,4854.740143,4.326263e+05,126.563059,2.901332e+07,...,1.475906e+08,4880.945482,1.016015e+07,510.468898,10.880599,17.581430,2.872434,0.500027,2.872434,0.0
min,44.000000,6.183329e+05,35.131160,5.926042e+05,34.131160,1.067600e+02,0.110370,1.570000e+01,0.005640,2.714600e+02,...,2.070938e+04,2.943110,2.320300e+02,0.116840,1.000000,2.000000,1.000000,1.000000,2009.000000,190.0
25%,3162.250000,3.635981e+07,2400.789293,3.362736e+07,2102.620028,9.729789e+05,100.287640,2.771689e+04,8.197660,1.113452e+06,...,3.740379e+06,231.742572,1.837262e+05,19.037143,3.000000,13.000000,3.000000,1.000000,2011.000000,190.0
50%,9397.000000,1.070368e+08,7123.893915,9.922294e+07,6258.280145,4.213198e+06,467.676320,8.426771e+04,25.371230,4.202090e+06,...,1.275117e+07,701.666090,5.364629e+05,54.235975,7.000000,26.000000,5.500000,1.500000,2013.500000,190.0
75%,28392.000000,3.129789e+08,21154.552212,2.960343e+08,18802.978433,1.379789e+07,1490.626190,2.274918e+05,66.614280,1.307380e+07,...,4.146253e+07,2150.908390,1.784015e+06,163.671307,10.000000,39.000000,8.000000,2.000000,2016.000000,190.0
max,550724.000000,1.013832e+10,416868.842090,9.645635e+09,390052.523490,8.137069e+08,73580.317940,5.283227e+06,2004.376430,4.250007e+08,...,2.364083e+09,83894.516290,1.892401e+08,12985.928870,77.000000,99.000000,10.000000,2.000000,2018.000000,190.0

In [8]:
Salarios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9400 entries, 0 to 9399
Data columns (total 27 columns):
M190_1     9400 non-null int64
M190_2     9400 non-null float64
M190_3     9400 non-null float64
M190_4     9400 non-null float64
M190_5     9400 non-null float64
M190_6     9375 non-null float64
M190_7     9375 non-null float64
M190_8     7809 non-null float64
M190_9     7809 non-null float64
M190_10    9396 non-null float64
M190_11    9396 non-null float64
M190_12    9400 non-null float64
M190_13    9400 non-null float64
M190_14    9400 non-null float64
M190_15    9400 non-null float64
M190_16    9400 non-null float64
M190_17    9400 non-null float64
M190_18    9400 non-null float64
M190_19    9400 non-null float64
M190_20    8910 non-null float64
M190_21    8910 non-null float64
CCAA       9400 non-null int64
PROV       9400 non-null int64
SECTOR     9400 non-null int64
SEXO       9400 non-null int64
EJER       9400 non-null int64
MODELO     9400 non-null int64
dtypes: float64(20), int64(7)
memory usage: 1.9 MB

In [9]:
Salarios['EJER'].value_counts()

2015    940
2014    940
2013    940
2012    940
2011    940
2018    940
2010    940
2017    940
2009    940
2016    940
Name: EJER, dtype: int64

In [ ]:
# Tenemos un historico de 2009-2018, 
## m√°s adelante nos quedaremos √∫nicamente con el 2018, ahora estamos viendo que tenemos

In [15]:
Salarios.groupby('CCAA')['CCAA'].unique()

CCAA
1      [1]
2      [2]
3      [3]
4      [4]
5      [5]
6      [6]
7      [7]
8      [8]
9      [9]
10    [10]
11    [11]
12    [12]
13    [13]
14    [14]
17    [17]
77    [77]
Name: CCAA, dtype: object

In [13]:
# En Espa√±a hay 17 CCAA, faltarian la 15 y la 16.
# Adem√°s, tenemos una 77 que no sabemos a qui√©n hace referencia. 

# Si nos vamos a nuestro maestro de municipios,observamos que son 17 las CCAA + Ceuta (18) y Melilla (19)
## la 15 es Navarra y la 16 el Pa√≠s Vasco

In [16]:
# Vamos a ver qui√©n es 77:

Salarios[Salarios['CCAA']==77]

,M190_1,M190_2,M190_3,M190_4,M190_5,M190_6,M190_7,M190_8,M190_9,M190_10,...,M190_18,M190_19,M190_20,M190_21,CCAA,PROV,SECTOR,SEXO,EJER,MODELO
7360,448,1.583854e+06,177.56165,1.182773e+06,79.09872,401080.62,98.46293,NaN,NaN,52666.27,...,7.943413e+04,4.64423,NaN,NaN,77,99,1,1,2009,190
7361,428,3.062341e+06,242.99016,2.631426e+06,151.59158,430914.94,91.39858,NaN,NaN,72198.02,...,1.562606e+05,12.29148,NaN,NaN,77,99,1,1,2010,190
7362,327,1.838784e+06,180.85234,1.521406e+06,88.92267,317378.19,91.92967,NaN,NaN,103768.68,...,7.306947e+04,9.00000,8965.51,1.05118,77,99,1,1,2011,190
7363,305,1.511599e+06,156.22196,1.246556e+06,88.11141,265043.02,68.11055,NaN,NaN,43667.64,...,6.101026e+04,7.93430,NaN,NaN,77,99,1,1,2012,190
7364,339,1.601292e+06,182.68582,1.376427e+06,108.17033,224865.37,74.51549,NaN,NaN,60591.43,...,5.487901e+04,9.64014,NaN,NaN,77,99,1,1,2013,190
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9395,5584,5.197318e+07,3859.57207,4.966846e+07,3580.58023,2304713.30,278.99184,NaN,NaN,1868674.28,...,8.907289e+06,509.02791,210662.56,20.96408,77,99,8,2,2018,190
9396,19835,5.525784e+08,17541.49853,5.483398e+08,17147.85357,4238653.20,393.64496,100652.84,7.00000,12539438.26,...,1.436575e+08,3561.34214,7953699.32,231.15235,77,99,9,1,2018,190
9397,15368,3.089088e+08,12740.65435,3.054435e+08,12267.91034,3465374.19,472.74401,7252.73,6.82985,4520080.07,...,6.888736e+07,2177.36250,3386508.97,120.46150,77,99,9,2,2018,190
9398,6005,3.771976e+07,3528.99870,3.084493e+07,2780.85526,6874825.73,748.14344,40134.94,46.23868,4702739.47,...,5.510865e+06,280.38334,203131.84,21.00000,77,99,10,1,2018,190
9399,4714,2.594196e+07,2973.42115,2.289333e+07,2534.14159,3048627.19,439.27956,41056.90,43.38816,3244728.60,...,2.669261e+06,183.98837,139955.93,12.15209,77,99,10,2,2018,190

In [17]:
# No tenemos ning√∫n maestro de provincias para saber qui√©n es 99, en internet no hay ning√∫n CP con este d√≠gito
## Si nos vamos a nuestro maestro de municipios tenemos CP hasta el 52 que son las provincias de Espa√±a

## CONCLUSI√ìN: ¬°¬°No tenemos ni idea de 77 pero tenemos dos CCAA perdidas: Pa√≠s Vasco y Navarra

In [18]:
# Seguimos con nuestro estudio de variables:

Salarios.groupby('PROV')['PROV'].unique()

PROV
2      [2]
3      [3]
4      [4]
5      [5]
6      [6]
7      [7]
8      [8]
9      [9]
10    [10]
11    [11]
12    [12]
13    [13]
14    [14]
15    [15]
16    [16]
17    [17]
18    [18]
19    [19]
21    [21]
22    [22]
23    [23]
24    [24]
25    [25]
26    [26]
27    [27]
28    [28]
29    [29]
30    [30]
32    [32]
33    [33]
34    [34]
35    [35]
36    [36]
37    [37]
38    [38]
39    [39]
40    [40]
41    [41]
42    [42]
43    [43]
44    [44]
45    [45]
46    [46]
47    [47]
49    [49]
50    [50]
99    [99]
Name: PROV, dtype: object

In [19]:
Salarios['PROV'].nunique()

47

In [20]:
# Missing value: 1, 20, 31, 51, 52

# Consultamos en nuestro maestro de municipios:

# 1 -> Araba/√Ålava (Pa√≠s Vasco)
# 20 -> Gipuzcua (Pa√≠s Vasco)
# 31 -> Navarra
# 51 -> Ceuta 
# 52 -> Melilla

In [ ]:
# Seguimos con nuestro estudio de variables:
## 'SECTOR', 'SEXO', 'MODELO']

## RESUMEN HASTA AHORA:

# ¬∑ Tenemos un hist√≥rico de 2009 a 2018 que todavia tenemos que tratar (quedarnos √∫nicamente con 2018)
# ¬∑ Tenemos cuatro CCAA sin datos: Pa√≠s Vasco, Navarra, Ceuta y Melilla
#    y un valor "77" que no tenemos ni idea a qu√© comunidad se refiere

In [21]:
Salarios[Salarios['CCAA']==77].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 7360 to 9399
Data columns (total 27 columns):
M190_1     200 non-null int64
M190_2     200 non-null float64
M190_3     200 non-null float64
M190_4     200 non-null float64
M190_5     200 non-null float64
M190_6     196 non-null float64
M190_7     196 non-null float64
M190_8     101 non-null float64
M190_9     101 non-null float64
M190_10    199 non-null float64
M190_11    199 non-null float64
M190_12    200 non-null float64
M190_13    200 non-null float64
M190_14    200 non-null float64
M190_15    200 non-null float64
M190_16    200 non-null float64
M190_17    200 non-null float64
M190_18    200 non-null float64
M190_19    200 non-null float64
M190_20    172 non-null float64
M190_21    172 non-null float64
CCAA       200 non-null int64
PROV       200 non-null int64
SECTOR     200 non-null int64
SEXO       200 non-null int64
EJER       200 non-null int64
MODELO     200 non-null int64
dtypes: float64(20), int64(7)
memory usage: 43.8 KB

In [22]:
Salarios[Salarios['CCAA']==77].describe()

,M190_1,M190_2,M190_3,M190_4,M190_5,M190_6,M190_7,M190_8,M190_9,M190_10,...,M190_18,M190_19,M190_20,M190_21,CCAA,PROV,SECTOR,SEXO,EJER,MODELO
count,200.000000,2.000000e+02,200.000000,2.000000e+02,200.000000,1.960000e+02,196.000000,101.000000,101.000000,1.990000e+02,...,2.000000e+02,200.000000,1.720000e+02,172.000000,200.0,200.0,200.000000,200.000000,200.000000,200.0
mean,3615.255000,6.310810e+07,2914.765004,6.124454e+07,2703.025006,1.901406e+06,216.040814,60786.301485,14.089109,2.686104e+06,...,1.116269e+07,347.280000,6.962812e+05,42.819767,77.0,99.0,5.500000,1.500000,2013.500000,190.0
std,4845.435564,1.257541e+08,4360.849152,1.246825e+08,4236.805764,2.422604e+06,245.470393,80798.759041,12.472773,5.665986e+06,...,2.755754e+07,723.643126,1.489723e+06,74.255535,0.0,0.0,2.879489,0.501255,2.879489,0.0
min,44.000000,6.183329e+05,35.131160,5.926042e+05,34.131160,7.603800e+02,0.309780,15.700000,0.242810,2.714600e+02,...,5.487901e+04,4.039220,1.906810e+03,0.116840,77.0,99.0,1.000000,1.000000,2009.000000,190.0
25%,461.500000,7.039033e+06,361.051517,6.820255e+06,327.230382,1.719964e+05,18.739140,7252.730000,4.197340,1.733963e+05,...,5.155174e+05,27.725743,7.502773e+04,8.084373,77.0,99.0,3.000000,1.000000,2011.000000,190.0
50%,1088.500000,1.863026e+07,731.335895,1.783395e+07,676.877500,1.073027e+06,114.353075,40134.940000,9.000000,6.147823e+05,...,2.173351e+06,93.512365,1.584337e+05,15.718825,77.0,99.0,5.500000,1.500000,2013.500000,190.0
75%,4727.250000,4.968203e+07,3350.119080,4.751986e+07,3093.748400,2.591365e+06,315.389475,67589.900000,22.747930,2.860814e+06,...,6.688475e+06,277.486847,4.523203e+05,34.917593,77.0,99.0,8.000000,2.000000,2016.000000,190.0
max,20590.000000,5.601530e+08,18360.983490,5.558554e+08,17964.058450,1.087631e+07,1078.185800,417898.710000,50.913610,4.428255e+07,...,1.436575e+08,3610.412930,7.953699e+06,608.672060,77.0,99.0,10.000000,2.000000,2018.000000,190.0

In [25]:
Salarios['SECTOR'].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64)

In [ ]:
# No sabemos la leyenda de sectores

In [26]:
Salarios['SEXO'].unique()

array([1, 2], dtype=int64)

In [ ]:
# intuimos que 1 es hombre y 2 mujer pero no lo sabemos a ciencia cierta

In [27]:
Salarios['MODELO'].unique()

array([190], dtype=int64)

In [ ]:
# El csv ya nos lo hemos descargado en el modelo 190, ¬øhay m√°s? ¬øqu√© los diferencia?

In [28]:
# Vamos a borrar la columna de MODELO que no nos da ning√∫n tipo de explicaci√≥n, 
# y a quedarnos √∫nicamente con los datos del ejercicio 2018

In [29]:
Salarios = Salarios.drop(['MODELO'], axis=1)

In [32]:
Salarios = Salarios[Salarios['EJER']==2018]

In [33]:
Salarios

,M190_1,M190_2,M190_3,M190_4,M190_5,M190_6,M190_7,M190_8,M190_9,M190_10,...,M190_17,M190_18,M190_19,M190_20,M190_21,CCAA,PROV,SECTOR,SEXO,EJER
8460,67632,2.457496e+08,32725.44777,8.183376e+07,9068.00585,1.639159e+08,23657.44192,406241.86,152.83810,17363321.94,...,6706.00351,1.842800e+07,2318.92261,695339.80,92.12466,1,4,1,1,2018
8461,19358,7.376204e+07,11400.67915,3.222562e+07,4628.54007,4.153642e+07,6772.13908,102158.57,48.31592,6895935.46,...,2394.40780,5.138458e+06,961.49156,161891.10,51.76342,1,4,1,2,2018
8462,5223,1.193763e+08,4572.24294,1.159855e+08,4364.74071,3.390858e+06,207.50223,NaN,NaN,2967323.09,...,1312.27607,2.298969e+07,774.54837,496737.43,19.12652,1,4,2,1,2018
8463,998,1.925821e+07,894.91862,1.867805e+07,854.61049,5.801611e+05,40.30813,NaN,NaN,474503.45,...,251.33814,2.320578e+06,99.91202,29020.42,5.00000,1,4,2,2,2018
8464,11128,1.672276e+08,8728.21163,1.512016e+08,7442.83247,1.602606e+07,1285.37916,52915.61,25.66532,7125737.78,...,2047.40111,2.626400e+07,1029.38063,612663.92,39.77764,1,4,3,1,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9395,5584,5.197318e+07,3859.57207,4.966846e+07,3580.58023,2.304713e+06,278.99184,NaN,NaN,1868674.28,...,1039.93824,8.907289e+06,509.02791,210662.56,20.96408,77,99,8,2,2018
9396,19835,5.525784e+08,17541.49853,5.483398e+08,17147.85357,4.238653e+06,393.64496,100652.84,7.00000,12539438.26,...,3876.26094,1.436575e+08,3561.34214,7953699.32,231.15235,77,99,9,1,2018
9397,15368,3.089088e+08,12740.65435,3.054435e+08,12267.91034,3.465374e+06,472.74401,7252.73,6.82985,4520080.07,...,3240.59817,6.888736e+07,2177.36250,3386508.97,120.46150,77,99,9,2,2018
9398,6005,3.771976e+07,3528.99870,3.084493e+07,2780.85526,6.874826e+06,748.14344,40134.94,46.23868,4702739.47,...,487.28707,5.510865e+06,280.38334,203131.84,21.00000,77,99,10,1,2018
9399,4714,2.594196e+07,2973.42115,2.289333e+07,2534.14159,3.048627e+06,439.27956,41056.90,43.38816,3244728.60,...,410.00676,2.669261e+06,183.98837,139955.93,12.15209,77,99,10,2,2018

In [34]:
# Guardamos:

Salarios.to_csv('Economia_salario_2018.csv')