In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split  
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler

In [188]:
union = pd.read_csv('union_todo.csv')

In [189]:
union.shape

(6066, 152)

In [159]:
union.head()

,Unnamed: 0,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province,provincia_original,municipio_original,...,f_construccion,comercio_transporte_y_hosteleria,j_informacion_y_comunicaciones,k_actividades_financieras_y_de_seguros,l_actividades_inmobiliarias,actividades_profesionales_y_tecnicas,educacion_sanidad_y_servicios_sociales,otros_servicios_personales,total_servicios,prov_pib
0,0,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/araba,Araba/Álava,Alegría-Dulantzi,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11983377
1,1,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/araba,Araba/Álava,Amurrio,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11983377
2,2,aramaio,aramaio,alava,araba,pais_vasco,pais_vasco,aramaio/araba,Araba/Álava,Aramaio,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11983377
3,3,artziniega,artziniega,alava,araba,pais_vasco,pais_vasco,artziniega/araba,Araba/Álava,Artziniega,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11983377
4,4,arminon,arminon,alava,araba,pais_vasco,pais_vasco,arminon/araba,Araba/Álava,Armiñón,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11983377

In [160]:
union.describe()

,Unnamed: 0,num_bibliotecas,num_hospitales,num_centros_salud,num_colegios_privados,num_colegios_publicos,num_guardia_civil,num_universidades_privadas,num_universidades_publicas,num_tit_uni_privadas,...,f_construccion,comercio_transporte_y_hosteleria,j_informacion_y_comunicaciones,k_actividades_financieras_y_de_seguros,l_actividades_inmobiliarias,actividades_profesionales_y_tecnicas,educacion_sanidad_y_servicios_sociales,otros_servicios_personales,total_servicios,prov_pib
count,6066.000000,6066.000000,6066.000000,6066.000000,6066.000000,6066.000000,6066.000000,6066.000000,6066.000000,6066.000000,...,6066.000000,6066.000000,6066.000000,6066.000000,6066.000000,6066.000000,6066.000000,6066.000000,6066.000000,6.066000e+03
mean,3032.500000,0.512529,0.147379,2.129245,17.229146,17.000824,0.948071,-0.944609,-0.870755,-0.411062,...,18.662216,55.374052,3.507748,3.391691,9.103693,29.912793,12.910979,13.417573,75.424003,2.718132e+07
std,1751.247698,2.094060,1.354802,3.263091,67.383287,46.894973,2.005542,0.362138,0.519158,5.410795,...,324.157839,1031.495460,109.474392,74.408845,242.304763,796.748260,315.061748,281.461272,1834.193391,4.468276e+07
min,0.000000,-1.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.520977e+06
25%,1516.250000,-1.000000,0.000000,1.000000,0.000000,1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.905532e+06
50%,3032.500000,1.000000,0.000000,1.000000,0.000000,2.000000,1.000000,-1.000000,-1.000000,-1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.243523e+07
75%,4548.750000,1.000000,0.000000,2.000000,6.000000,12.000000,1.000000,-1.000000,-1.000000,-1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.374248e+07
max,6065.000000,74.000000,63.000000,129.000000,1041.000000,615.000000,17.000000,5.000000,7.000000,140.000000,...,19307.000000,64191.000000,7831.000000,4602.000000,16966.000000,54793.000000,20983.000000,17697.000000,124306.000000,2.214326e+08

In [161]:
union.dtypes

Unnamed: 0                                  int64
cities_es                                  object
cities                                     object
province_es                                object
province                                   object
                                           ...
actividades_profesionales_y_tecnicas      float64
educacion_sanidad_y_servicios_sociales    float64
otros_servicios_personales                float64
total_servicios                           float64
prov_pib                                    int64
Length: 152, dtype: object

In [162]:
union['prov_ta_min_anual'].dtypes

dtype('O')

In [163]:
union['prov_ta_max_anual'].dtypes

dtype('O')

In [164]:
union.columns.tolist()

['Unnamed: 0',
 'cities_es',
 'cities',
 'province_es',
 'province',
 'ccaa_es',
 'ccaa',
 'cities_es/province',
 'provincia_original',
 'municipio_original',
 'num_bibliotecas',
 'num_hospitales',
 'num_centros_salud',
 'num_colegios_privados',
 'num_colegios_publicos',
 'num_guardia_civil',
 'num_universidades_privadas',
 'num_universidades_publicas',
 'num_tit_uni_privadas',
 'num_tit_uni_publicas',
 'num_establec_agencias_de_viajes',
 'num_establec_albergues',
 'num_establec_alojamientos_rurales',
 'num_establec_artesanos',
 'num_establec_atraque_de_cruceros_y_ferries',
 'num_establec_bares_y_cafeterías',
 'num_establec_bodegas',
 'num_establec_campings',
 'num_establec_campos_de_golf_y_campos_de_pitch&putt',
 'num_establec_comercios',
 'num_establec_convention_bureaux',
 'num_establec_empresas_de_alquiler_de_vehículos_y_embarcaciones',
 'num_establec_empresas_de_transporte_turístico',
 'num_establec_empresas_de_turismo_activo',
 'num_establec_escuelas_de_español_para_extranjeros',
 'num_establec_espacios_naturales_protegidos',
 'num_establec_estaciones_de_esquí_y_montaña',
 'num_establec_guías_turísticos',
 'num_establec_hoteles_y_apartamentos_turísticos',
 'num_establec_museos_y_centros_de_interés_turístico_visitable',
 'num_establec_opc',
 'num_establec_oficinas_de_información_turística',
 'num_establec_otros_servicios',
 'num_establec_palacios_de_congresos',
 'num_establec_playas',
 'num_establec_puertos_deportivos',
 'num_establec_restaurantes_y_empresas_turísticas_de_catering',
 'num_establec_seguridad_ciudadana',
 'num_establec_servicios_de_limpieza',
 'num_establec_servicios_turísticos_de_salud',
 'num_establec_taxis',
 'num_establec_turismo_industrial',
 'hombres_total',
 'hombres_de_0_4',
 'hombres_de_5_9',
 'hombres_de_10_4',
 'hombres_de_15_19',
 'hombres_de_20_24',
 'hombres_de_25_29',
 'hombres_de_30_34',
 'hombres_de_35_39',
 'hombres_de_40_44',
 'hombres_de_45_49',
 'hombres_de_50_54',
 'hombres_de_55_59',
 'hombres_de_60_64',
 'hombres_de_65_69',
 'hombres_de_70_74',
 'hombres_de_75_79',
 'hombres_de_80_84',
 'hombres_de_85_89',
 'hombres_de_90_94',
 'hombres_de_95_99',
 'hombres_de_100_y_mas',
 'mujeres_total',
 'mujeres_de_0_4',
 'mujeres_de_5_9',
 'mujeres_de_10_4',
 'mujeres_de_15_19',
 'mujeres_de_20_24',
 'mujeres_de_25_29',
 'mujeres_de_30_34',
 'mujeres_de_35_39',
 'mujeres_de_40_44',
 'mujeres_de_45_49',
 'mujeres_de_50_54',
 'mujeres_de_55_59',
 'mujeres_de_60_64',
 'mujeres_de_65_69',
 'mujeres_de_70_74',
 'mujeres_de_75_79',
 'mujeres_de_80_84',
 'mujeres_de_85_89',
 'mujeres_de_90_94',
 'mujeres_de_95_99',
 'mujeres_de_100_y_mas',
 'prov_camiones',
 'prov_furgonetas',
 'prov_autobuses',
 'prov_turismos',
 'prov_motocicletas',
 'prov_tractores_industriales',
 'prov_r_y_s',
 'prov_otros_vehiculos',
 'prov_total_vehiculos',
 'latitud',
 'longitud',
 'altitud',
 'distanica_km_ciudad_cercana',
 'cuidad_mas_cercana',
 'prov_n_llu_anual',
 'prov_n_nub_anual',
 'prov_n_nie_anual',
 'prov_n_gra_anual',
 'prov_n_fog_anual',
 'prov_n_des_anual',
 'prov_n_cub_anual',
 'prov_n_tor_anual',
 'prov_nt_00_anual',
 'prov_nt_30_anual',
 'prov_nw_55_anual',
 'prov_nw_91_anual',
 'prov_w_med_anual',
 'prov_ta_max_anual',
 'prov_ta_min_anual',
 'prov_co',
 'prov_no2',
 'prov_o3',
 'prov_pm10',
 'prov_pm25',
 'prov_so2',
 'bus_based_companies_count',
 'prov_total_millones_vehiculos_km',
 'prov_porcentaje_carreteras_ccaa_y_estado',
 'perc_calidad_cobertura_fija_movil',
 'ccaa_accessibility_mean',
 'tiene_cercanias',
 'tiene_feve',
 'tiene_ave',
 'nume_estaciones_tren',
 'total_comercios',
 'b_e_industria',
 'f_construccion',
 'comercio_transporte_y_hosteleria',
 'j_informacion_y_comunicaciones',
 'k_actividades_financieras_y_de_seguros',
 'l_actividades_inmobiliarias',
 'actividades_profesionales_y_tecnicas',
 'educacion_sanidad_y_servicios_sociales',
 'otros_servicios_personales',
 'total_servicios',
 'prov_pib']

In [4]:
## NO EJECUTAR, lo guarda como una lista

[['num_bibliotecas',
 'num_hospitales',
 'num_centros_salud',
 'num_colegios_privados',
 'num_colegios_publicos',
 'num_guardia_civil',
 'num_universidades_privadas',
 'num_universidades_publicas',
 'num_tit_uni_privadas',
 'num_tit_uni_publicas',
 'num_establec_agencias_de_viajes',
 'num_establec_albergues',
 'num_establec_alojamientos_rurales',
 'num_establec_artesanos',
 'num_establec_atraque_de_cruceros_y_ferries',
 'num_establec_bares_y_cafeterías',
 'num_establec_bodegas',
 'num_establec_campings',
 'num_establec_campos_de_golf_y_campos_de_pitch&putt',
 'num_establec_comercios',
 'num_establec_convention_bureaux',
 'num_establec_empresas_de_alquiler_de_vehículos_y_embarcaciones',
 'num_establec_empresas_de_transporte_turístico',
 'num_establec_empresas_de_turismo_activo',
 'num_establec_escuelas_de_español_para_extranjeros',
 'num_establec_espacios_naturales_protegidos',
 'num_establec_estaciones_de_esquí_y_montaña',
 'num_establec_guías_turísticos',
 'num_establec_hoteles_y_apartamentos_turísticos',
 'num_establec_museos_y_centros_de_interés_turístico_visitable',
 'num_establec_opc',
 'num_establec_oficinas_de_información_turística',
 'num_establec_otros_servicios',
 'num_establec_palacios_de_congresos',
 'num_establec_playas',
 'num_establec_puertos_deportivos',
 'num_establec_restaurantes_y_empresas_turísticas_de_catering',
 'num_establec_seguridad_ciudadana',
 'num_establec_servicios_de_limpieza',
 'num_establec_servicios_turísticos_de_salud',
 'num_establec_taxis',
 'num_establec_turismo_industrial',
 'hombres_total',
 'hombres_de_0_4',
 'hombres_de_5_9',
 'hombres_de_10_4',
 'hombres_de_15_19',
 'hombres_de_20_24',
 'hombres_de_25_29',
 'hombres_de_30_34',
 'hombres_de_35_39',
 'hombres_de_40_44',
 'hombres_de_45_49',
 'hombres_de_50_54',
 'hombres_de_55_59',
 'hombres_de_60_64',
 'hombres_de_65_69',
 'hombres_de_70_74',
 'hombres_de_75_79',
 'hombres_de_80_84',
 'hombres_de_85_89',
 'hombres_de_90_94',
 'hombres_de_95_99',
 'hombres_de_100_y_mas',
 'mujeres_total',
 'mujeres_de_0_4',
 'mujeres_de_5_9',
 'mujeres_de_10_4',
 'mujeres_de_15_19',
 'mujeres_de_20_24',
 'mujeres_de_25_29',
 'mujeres_de_30_34',
 'mujeres_de_35_39',
 'mujeres_de_40_44',
 'mujeres_de_45_49',
 'mujeres_de_50_54',
 'mujeres_de_55_59',
 'mujeres_de_60_64',
 'mujeres_de_65_69',
 'mujeres_de_70_74',
 'mujeres_de_75_79',
 'mujeres_de_80_84',
 'mujeres_de_85_89',
 'mujeres_de_90_94',
 'mujeres_de_95_99',
 'mujeres_de_100_y_mas',
 'prov_camiones',
 'prov_furgonetas',
 'prov_autobuses',
 'prov_turismos',
 'prov_motocicletas',
 'prov_tractores_industriales',
 'prov_r_y_s',
 'prov_otros_vehiculos',
 'prov_total_vehiculos',
 'latitud',
 'longitud',
 'altitud',
 'distanica_km_ciudad_cercana',
 'cuidad_mas_cercana',
 'prov_n_llu_anual',
 'prov_n_nub_anual',
 'prov_n_nie_anual',
 'prov_n_gra_anual',
 'prov_n_fog_anual',
 'prov_n_des_anual',
 'prov_n_cub_anual',
 'prov_n_tor_anual',
 'prov_nt_00_anual',
 'prov_nt_30_anual',
 'prov_nw_55_anual',
 'prov_nw_91_anual',
 'prov_w_med_anual',
 'prov_ta_max_anual',
 'prov_ta_min_anual',
 'prov_co',
 'prov_no2',
 'prov_o3',
 'prov_pm10',
 'prov_pm25',
 'prov_so2',
 'bus_based_companies_count',
 'prov_total_millones_vehiculos_km',
 'prov_porcentaje_carreteras_ccaa_y_estado',
 'perc_calidad_cobertura_fija_movil',
 'ccaa_accessibility_mean',
 'tiene_cercanias',
 'tiene_feve',
 'tiene_ave',
 'nume_estaciones_tren',
 'total_comercios',
 'b_e_industria',
 'f_construccion',
 'comercio_transporte_y_hosteleria',
 'j_informacion_y_comunicaciones',
 'k_actividades_financieras_y_de_seguros',
 'l_actividades_inmobiliarias',
 'actividades_profesionales_y_tecnicas',
 'educacion_sanidad_y_servicios_sociales',
 'otros_servicios_personales',
 'total_servicios',
 'prov_pib']]

# PCA Economia

In [190]:
# Separating out the features
features_economia = ['total_comercios',
 'b_e_industria',
 'f_construccion',
 'comercio_transporte_y_hosteleria',
 'j_informacion_y_comunicaciones',
 'k_actividades_financieras_y_de_seguros',
 'l_actividades_inmobiliarias',
 'actividades_profesionales_y_tecnicas',
 'educacion_sanidad_y_servicios_sociales',
 'otros_servicios_personales',
 'total_servicios',
 'prov_pib']
x_e = union.loc[:, features_economia].values

In [191]:
# Separating out the target
y = union.loc[:,['cities_es/province']].values

In [192]:
# Standardizing the features
x_e = StandardScaler().fit_transform(x_e)

In [193]:
pd.DataFrame(data = x_e, columns = features_economia).head()

,total_comercios,b_e_industria,f_construccion,comercio_transporte_y_hosteleria,j_informacion_y_comunicaciones,k_actividades_financieras_y_de_seguros,l_actividades_inmobiliarias,actividades_profesionales_y_tecnicas,educacion_sanidad_y_servicios_sociales,otros_servicios_personales,total_servicios,prov_pib
0,-0.048835,-0.065013,-0.057576,-0.053688,-0.032044,-0.045586,-0.037574,-0.037547,-0.040983,-0.047675,-0.041124,-0.340158
1,-0.048835,-0.065013,-0.057576,-0.053688,-0.032044,-0.045586,-0.037574,-0.037547,-0.040983,-0.047675,-0.041124,-0.340158
2,-0.048835,-0.065013,-0.057576,-0.053688,-0.032044,-0.045586,-0.037574,-0.037547,-0.040983,-0.047675,-0.041124,-0.340158
3,-0.048835,-0.065013,-0.057576,-0.053688,-0.032044,-0.045586,-0.037574,-0.037547,-0.040983,-0.047675,-0.041124,-0.340158
4,-0.048835,-0.065013,-0.057576,-0.053688,-0.032044,-0.045586,-0.037574,-0.037547,-0.040983,-0.047675,-0.041124,-0.340158

### Proyección variables

In [194]:
pca_e = PCA(n_components=2)

In [195]:
principalComponents_e = pca_e.fit_transform(x_e)

In [196]:
pca_e.explained_variance_ratio_

array([0.90020926, 0.08294432])

In [197]:
principalDf_e = pd.DataFrame(data = principalComponents_e
             , columns = ['PC1_e', 'PC2_e'])

In [198]:
principalDf_e.head(5)

      PC1_e     PC2_e
0 -0.160765 -0.337149
1 -0.160765 -0.337149
2 -0.160765 -0.337149
3 -0.160765 -0.337149
4 -0.160765 -0.337149

In [199]:
union[['cities_es/province']].head()

       cities_es/province
0  alegria_dulantzi/araba
1           amurrio/araba
2           aramaio/araba
3        artziniega/araba
4           arminon/araba

In [200]:
finalDf_e = pd.concat([principalDf_e, union['cities_es/province']], axis = 1)
finalDf_e.head(5)

      PC1_e     PC2_e      cities_es/province
0 -0.160765 -0.337149  alegria_dulantzi/araba
1 -0.160765 -0.337149           amurrio/araba
2 -0.160765 -0.337149           aramaio/araba
3 -0.160765 -0.337149        artziniega/araba
4 -0.160765 -0.337149           arminon/araba

In [201]:
finalDf_e.shape

(6066, 3)

# PCA climatología

In [202]:
features_climatologia = [ 'prov_n_llu_anual',
 'prov_n_nub_anual',
 'prov_n_nie_anual',
 'prov_n_gra_anual',
 'prov_n_fog_anual',
 'prov_n_des_anual',
 'prov_n_cub_anual',
 'prov_n_tor_anual',
 'prov_nt_00_anual',
 'prov_nt_30_anual',
 'prov_nw_55_anual',
 'prov_nw_91_anual',
# 'prov_w_med_anual', (string)
# 'prov_ta_max_anual',(string)
# 'prov_ta_min_anual',(string)
 'prov_co',
 'prov_no2',
 'prov_o3',
 'prov_pm10',
 'prov_pm25',
 'prov_so2']

x_c = union.loc[:, features_climatologia].values

In [203]:
# Standardizing the features
x_c = StandardScaler().fit_transform(x_c)

In [204]:
pd.DataFrame(data = x_c, columns = features_climatologia).head()

,prov_n_llu_anual,prov_n_nub_anual,prov_n_nie_anual,prov_n_gra_anual,prov_n_fog_anual,prov_n_des_anual,prov_n_cub_anual,prov_n_tor_anual,prov_nt_00_anual,prov_nt_30_anual,prov_nw_55_anual,prov_nw_91_anual,prov_co,prov_no2,prov_o3,prov_pm10,prov_pm25,prov_so2
0,0.627145,0.34835,-0.12395,-0.778833,1.02135,-0.365116,1.46908,0.515503,0.379218,-0.39608,-0.37641,0.037629,-0.214925,-0.438093,0.661678,0.190733,0.96992,-0.776849
1,0.627145,0.34835,-0.12395,-0.778833,1.02135,-0.365116,1.46908,0.515503,0.379218,-0.39608,-0.37641,0.037629,-0.214925,-0.438093,0.661678,0.190733,0.96992,-0.776849
2,0.627145,0.34835,-0.12395,-0.778833,1.02135,-0.365116,1.46908,0.515503,0.379218,-0.39608,-0.37641,0.037629,-0.214925,-0.438093,0.661678,0.190733,0.96992,-0.776849
3,0.627145,0.34835,-0.12395,-0.778833,1.02135,-0.365116,1.46908,0.515503,0.379218,-0.39608,-0.37641,0.037629,-0.214925,-0.438093,0.661678,0.190733,0.96992,-0.776849
4,0.627145,0.34835,-0.12395,-0.778833,1.02135,-0.365116,1.46908,0.515503,0.379218,-0.39608,-0.37641,0.037629,-0.214925,-0.438093,0.661678,0.190733,0.96992,-0.776849

### Proyección Variables

In [205]:
pca_c = PCA(n_components=4)

In [206]:
principalComponents_c = pca_c.fit_transform(x_c)

In [207]:
pca_c.explained_variance_ratio_

array([0.43440845, 0.09966181, 0.09840187, 0.08100297])

In [208]:
principalDf_c = pd.DataFrame(data = principalComponents_c
             , columns = ['PC1_c', 'PC2_c', 'PC3_c', 'PC4_c'])

In [209]:
principalDf_c.head(5)

      PC1_c     PC2_c    PC3_c     PC4_c
0  0.647078 -1.486068  0.72729  0.232404
1  0.647078 -1.486068  0.72729  0.232404
2  0.647078 -1.486068  0.72729  0.232404
3  0.647078 -1.486068  0.72729  0.232404
4  0.647078 -1.486068  0.72729  0.232404

In [262]:
finalDf_c = pd.concat([principalDf_c , union['cities_es/province']], axis = 1)
finalDf_c.head(5)

      PC1_c     PC2_c    PC3_c     PC4_c      cities_es/province
0  0.647078 -1.486068  0.72729  0.232404  alegria_dulantzi/araba
1  0.647078 -1.486068  0.72729  0.232404           amurrio/araba
2  0.647078 -1.486068  0.72729  0.232404           aramaio/araba
3  0.647078 -1.486068  0.72729  0.232404        artziniega/araba
4  0.647078 -1.486068  0.72729  0.232404           arminon/araba

In [211]:
finalDf_c.shape

(6066, 5)

# PCA Demografia

In [212]:
features_demografia = [ 'hombres_total',
 'hombres_de_0_4',
 'hombres_de_5_9',
 'hombres_de_10_4',
 'hombres_de_15_19',
 'hombres_de_20_24',
 'hombres_de_25_29',
 'hombres_de_30_34',
 'hombres_de_35_39',
 'hombres_de_40_44',
 'hombres_de_45_49',
 'hombres_de_50_54',
 'hombres_de_55_59',
 'hombres_de_60_64',
 'hombres_de_65_69',
 'hombres_de_70_74',
 'hombres_de_75_79',
 'hombres_de_80_84',
 'hombres_de_85_89',
 'hombres_de_90_94',
 'hombres_de_95_99',
 'hombres_de_100_y_mas',
 'mujeres_total',
 'mujeres_de_0_4',
 'mujeres_de_5_9',
 'mujeres_de_10_4',
 'mujeres_de_15_19',
 'mujeres_de_20_24',
 'mujeres_de_25_29',
 'mujeres_de_30_34',
 'mujeres_de_35_39',
 'mujeres_de_40_44',
 'mujeres_de_45_49',
 'mujeres_de_50_54',
 'mujeres_de_55_59',
 'mujeres_de_60_64',
 'mujeres_de_65_69',
 'mujeres_de_70_74',
 'mujeres_de_75_79',
 'mujeres_de_80_84',
 'mujeres_de_85_89',
 'mujeres_de_90_94',
 'mujeres_de_95_99',
 'mujeres_de_100_y_mas']

x_d = union.loc[:, features_demografia].values

In [213]:
# Standardizing the features
x_d = StandardScaler().fit_transform(x_d)

### Proyección variables

In [214]:
pca_d = PCA(n_components=2)

In [215]:
principalComponents_d = pca_d.fit_transform(x_d)

In [216]:
pca_d.explained_variance_ratio_

array([0.98067107, 0.00987979])

In [217]:
principalDf_d = pd.DataFrame(data = principalComponents_d
             , columns = ['PC1_d', 'PC2_d'])

In [218]:
principalDf_d.head(5)

       PC1_d     PC2_d
0  24.930752 -0.691866
1   0.608683 -0.026037
2  -0.976419  0.053009
3  -0.645927  0.026926
4  -0.663376  0.048320

In [219]:
finalDf_d = pd.concat([principalDf_d, union['cities_es/province']], axis = 1)
finalDf_d.head(5)

       PC1_d     PC2_d      cities_es/province
0  24.930752 -0.691866  alegria_dulantzi/araba
1   0.608683 -0.026037           amurrio/araba
2  -0.976419  0.053009           aramaio/araba
3  -0.645927  0.026926        artziniega/araba
4  -0.663376  0.048320           arminon/araba

In [220]:
finalDf_d.shape

(6066, 3)

# PCA Geografia

In [221]:
# Separating out the features
features_geografia = [ 'latitud',
 'longitud',
 'altitud',
 'distanica_km_ciudad_cercana',
 # 'cuidad_mas_cercana' (string)
                     ]
x_g = union.loc[:, features_geografia].values

In [222]:
# Standardizing the features
x_g = StandardScaler().fit_transform(x_g)

In [223]:
pd.DataFrame(data = x_g, columns = features_geografia).head()

    latitud  longitud   altitud  distanica_km_ciudad_cercana
0  0.538223  0.190072  0.055615                    -0.262321
1  0.578331  0.039198 -0.928652                    -0.271654
2  0.578588  0.173826 -0.461870                    -1.148541
3  0.591542 -0.000163 -0.994013                    -0.498493
4  0.515727  0.078950 -0.226731                     0.120206

### Proyección variables

In [224]:
pca_g = PCA(n_components=3)

In [225]:
principalComponents_g = pca_g.fit_transform(x_g)

In [226]:
pca_g.explained_variance_ratio_

array([0.35611895, 0.27274325, 0.20950668])

In [227]:
principalDf_g = pd.DataFrame(data = principalComponents_g
             , columns = ['PC1_g', 'PC2_g','PC3_g'])

In [228]:
principalDf_g.head(5)

      PC1_g     PC2_g     PC3_g
0 -0.128416 -0.338092 -0.506805
1  0.476018 -0.506285 -0.583155
2  0.708734 -0.416839 -1.094188
3  0.643944 -0.477536 -0.745111
4 -0.172121 -0.345537 -0.281665

In [229]:
finalDf_g = pd.concat([principalDf_g, union['cities_es/province']], axis = 1)
finalDf_g.head(5)

      PC1_g     PC2_g     PC3_g      cities_es/province
0 -0.128416 -0.338092 -0.506805  alegria_dulantzi/araba
1  0.476018 -0.506285 -0.583155           amurrio/araba
2  0.708734 -0.416839 -1.094188           aramaio/araba
3  0.643944 -0.477536 -0.745111        artziniega/araba
4 -0.172121 -0.345537 -0.281665           arminon/araba

# PCA Recursos

In [230]:
# Separating out the features
features_recursos = [ 'num_bibliotecas',
 'num_hospitales',
 'num_centros_salud',
 'num_colegios_privados',
 'num_colegios_publicos',
 'num_guardia_civil',
 'num_universidades_privadas',
 'num_universidades_publicas',
 'num_tit_uni_privadas',
 'num_tit_uni_publicas', 
 'perc_calidad_cobertura_fija_movil',
 'ccaa_accessibility_mean']

x_r = union.loc[:, features_recursos].values

In [231]:
# Standardizing the features
x_r = StandardScaler().fit_transform(x_r)

In [232]:
pd.DataFrame(data = x_r, columns = features_recursos).head()

,num_bibliotecas,num_hospitales,num_centros_salud,num_colegios_privados,num_colegios_publicos,num_guardia_civil,num_universidades_privadas,num_universidades_publicas,num_tit_uni_privadas,num_tit_uni_publicas,perc_calidad_cobertura_fija_movil,ccaa_accessibility_mean
0,0.232807,-0.108792,-0.346095,-0.255710,-0.298582,-0.971424,-0.152967,-0.248971,-0.108854,-0.152182,0.017140,-2.189024
1,0.232807,-0.108792,-0.346095,-0.211185,-0.234604,-0.971424,-0.152967,-0.248971,-0.108854,-0.152182,-0.081327,-2.189024
2,0.232807,-0.108792,-0.346095,-0.270551,-0.383886,-0.971424,-0.152967,-0.248971,-0.108854,-0.152182,-0.104522,-2.189024
3,0.232807,-0.108792,-0.346095,-0.240868,-0.319908,-0.971424,-0.152967,-0.248971,-0.108854,-0.152182,-0.076513,-2.189024
4,-0.722355,-0.108792,-0.346095,-0.270551,-0.383886,-0.971424,-0.152967,-0.248971,-0.108854,-0.152182,0.090224,-2.189024

### Proyección variables

In [233]:
pca_r = PCA(n_components=3)

In [234]:
principalComponents_r = pca_r.fit_transform(x_r)

In [235]:
pca_r.explained_variance_ratio_

array([0.30111137, 0.16992984, 0.11097924])

In [236]:
principalDf_r = pd.DataFrame(data = principalComponents_r
             , columns = ['PC1_r', 'PC2_r','PC3_r'])

In [237]:
principalDf_r.head(5)

      PC1_r     PC2_r     PC3_r
0 -0.403848 -0.616851 -0.757227
1 -0.388877 -0.549736 -0.732898
2 -0.434298 -0.677047 -0.723399
3 -0.412496 -0.620077 -0.732426
4 -0.797164 -0.564153 -1.002424

In [238]:
finalDf_r = pd.concat([principalDf_r, union['cities_es/province']], axis = 1)
finalDf_r.head(5)

      PC1_r     PC2_r     PC3_r      cities_es/province
0 -0.403848 -0.616851 -0.757227  alegria_dulantzi/araba
1 -0.388877 -0.549736 -0.732898           amurrio/araba
2 -0.434298 -0.677047 -0.723399           aramaio/araba
3 -0.412496 -0.620077 -0.732426        artziniega/araba
4 -0.797164 -0.564153 -1.002424           arminon/araba

In [239]:
finalDf_r.shape

(6066, 4)

# PCA Transportes

In [240]:
# Separating out the features
features_transportes = [ 'bus_based_companies_count',
 'prov_total_millones_vehiculos_km',
# 'prov_porcentaje_carreteras_ccaa_y_estado' (NaN)
 'tiene_cercanias',
 'tiene_feve',
 'tiene_ave',
# 'nume_estaciones_tren' (NaN)
 'prov_camiones',
 'prov_furgonetas',
 'prov_autobuses',
 'prov_turismos',
 'prov_motocicletas',
 'prov_tractores_industriales',
 'prov_r_y_s',
 'prov_otros_vehiculos',
 'prov_total_vehiculos']
                       
x_tr = union.loc[:, features_transportes].values

In [241]:
# Standardizing the features
x_tr = StandardScaler().fit_transform(x_tr)

In [242]:
pd.DataFrame(data = x_tr, columns = features_transportes).head()

,bus_based_companies_count,prov_total_millones_vehiculos_km,tiene_cercanias,tiene_feve,tiene_ave,prov_camiones,prov_furgonetas,prov_autobuses,prov_turismos,prov_motocicletas,prov_tractores_industriales,prov_r_y_s,prov_otros_vehiculos,prov_total_vehiculos
0,-0.099328,-0.711471,0.282693,0.685067,0.050771,-0.68031,-0.53426,-0.413954,-0.515381,-0.484735,-0.703269,-0.650255,-0.526766,-0.534211
1,-0.099328,-0.711471,1.660054,0.685067,0.050771,-0.68031,-0.53426,-0.413954,-0.515381,-0.484735,-0.703269,-0.650255,-0.526766,-0.534211
2,-0.099328,-0.711471,-1.094668,-1.203849,-1.120246,-0.68031,-0.53426,-0.413954,-0.515381,-0.484735,-0.703269,-0.650255,-0.526766,-0.534211
3,-0.099328,-0.711471,-1.094668,-1.203849,-1.120246,-0.68031,-0.53426,-0.413954,-0.515381,-0.484735,-0.703269,-0.650255,-0.526766,-0.534211
4,-0.099328,-0.711471,-1.094668,-1.203849,-1.120246,-0.68031,-0.53426,-0.413954,-0.515381,-0.484735,-0.703269,-0.650255,-0.526766,-0.534211

### Proyección variables

In [243]:
pca_tr = PCA(n_components=2)

In [244]:
principalComponents_tr = pca_tr.fit_transform(x_tr)

In [245]:
pca_tr.explained_variance_ratio_

array([0.66324852, 0.18357356])

In [246]:
principalDf_tr = pd.DataFrame(data = principalComponents_tr
             , columns = ['PC1_tr', 'PC2_tr'])

In [247]:
principalDf_tr.head(5)

     PC1_tr    PC2_tr
0 -1.732643 -0.796543
1 -1.561783 -1.547514
2 -2.040873  1.740233
3 -2.040873  1.740233
4 -2.040873  1.740233

In [248]:
finalDf_tr = pd.concat([principalDf_tr, union['cities_es/province']], axis = 1)
finalDf_tr.head(5)

     PC1_tr    PC2_tr      cities_es/province
0 -1.732643 -0.796543  alegria_dulantzi/araba
1 -1.561783 -1.547514           amurrio/araba
2 -2.040873  1.740233           aramaio/araba
3 -2.040873  1.740233        artziniega/araba
4 -2.040873  1.740233           arminon/araba

In [249]:
finalDf_tr.shape

(6066, 3)

# PCA Turismo

In [250]:
# Separating out the features
features_turismo = ['num_establec_agencias_de_viajes',
 'num_establec_albergues',
 'num_establec_alojamientos_rurales',
 'num_establec_artesanos',
 'num_establec_atraque_de_cruceros_y_ferries',
 'num_establec_bares_y_cafeterías',
 'num_establec_bodegas',
 'num_establec_campings',
 'num_establec_campos_de_golf_y_campos_de_pitch&putt',
 'num_establec_comercios',
 'num_establec_convention_bureaux',
 'num_establec_empresas_de_alquiler_de_vehículos_y_embarcaciones',
 'num_establec_empresas_de_transporte_turístico',
 'num_establec_empresas_de_turismo_activo',
 'num_establec_escuelas_de_español_para_extranjeros',
 'num_establec_espacios_naturales_protegidos',
 'num_establec_estaciones_de_esquí_y_montaña',
 'num_establec_guías_turísticos',
 'num_establec_hoteles_y_apartamentos_turísticos',
 'num_establec_museos_y_centros_de_interés_turístico_visitable',
 'num_establec_opc',
 'num_establec_oficinas_de_información_turística',
 'num_establec_otros_servicios',
 'num_establec_palacios_de_congresos',
 'num_establec_playas',
 'num_establec_puertos_deportivos',
 'num_establec_restaurantes_y_empresas_turísticas_de_catering',
 'num_establec_seguridad_ciudadana',
 'num_establec_servicios_de_limpieza',
 'num_establec_servicios_turísticos_de_salud',
 'num_establec_taxis',
 'num_establec_turismo_industrial']

x_t = union.loc[:, features_turismo].values

In [251]:
# Standardizing the features
x_t = StandardScaler().fit_transform(x_t)

In [252]:
pd.DataFrame(data = x_t, columns = features_turismo).head()

,num_establec_agencias_de_viajes,num_establec_albergues,num_establec_alojamientos_rurales,num_establec_artesanos,num_establec_atraque_de_cruceros_y_ferries,num_establec_bares_y_cafeterías,num_establec_bodegas,num_establec_campings,num_establec_campos_de_golf_y_campos_de_pitch&putt,num_establec_comercios,...,num_establec_otros_servicios,num_establec_palacios_de_congresos,num_establec_playas,num_establec_puertos_deportivos,num_establec_restaurantes_y_empresas_turísticas_de_catering,num_establec_seguridad_ciudadana,num_establec_servicios_de_limpieza,num_establec_servicios_turísticos_de_salud,num_establec_taxis,num_establec_turismo_industrial
0,-0.097941,-0.099651,1.26072,-0.070763,-0.017229,-0.10742,-0.085814,-0.098936,-0.0485,-0.090691,...,-0.103268,-0.05164,-0.08003,-0.06667,-0.131645,-0.100356,-0.040636,-0.076056,-0.030821,-0.057415
1,-0.097941,-0.099651,1.26072,-0.070763,-0.017229,-0.10742,7.350595,-0.098936,-0.0485,-0.090691,...,-0.103268,-0.05164,-0.08003,-0.06667,0.515486,-0.100356,-0.040636,-0.076056,-0.030821,-0.057415
2,-0.097941,-0.099651,1.26072,19.007043,-0.017229,-0.10742,-0.085814,-0.098936,-0.0485,-0.090691,...,-0.103268,-0.05164,-0.08003,-0.06667,0.515486,-0.100356,-0.040636,-0.076056,-0.030821,-0.057415
3,-0.097941,-0.099651,1.26072,-0.070763,-0.017229,-0.10742,-0.085814,-0.098936,-0.0485,-0.090691,...,-0.103268,-0.05164,-0.08003,-0.06667,-0.131645,-0.100356,-0.040636,-0.076056,-0.030821,-0.057415
4,-0.097941,-0.099651,-0.19512,-0.070763,-0.017229,-0.10742,-0.085814,-0.098936,-0.0485,-0.090691,...,-0.103268,-0.05164,-0.08003,-0.06667,-0.131645,-0.100356,-0.040636,-0.076056,-0.030821,-0.057415

### Proyección variables

In [253]:
pca_t = PCA(n_components=2)

In [254]:
principalComponents_t = pca_t.fit_transform(x_t)

In [255]:
pca_t.explained_variance_ratio_

array([0.26274691, 0.07599214])

In [256]:
principalDf_t = pd.DataFrame(data = principalComponents_t
             , columns = ['PC1_t', 'PC2_t'])

In [257]:
principalDf_t.head(5)

      PC1_t     PC2_t
0 -0.345004 -0.099934
1  1.319165 -1.752318
2  1.426462 -0.087477
3  0.660243  0.043856
4 -0.477241  0.160344

In [258]:
finalDf_t = pd.concat([principalDf_t, union['cities_es/province']], axis = 1)
finalDf_t.head(5)

      PC1_t     PC2_t      cities_es/province
0 -0.345004 -0.099934  alegria_dulantzi/araba
1  1.319165 -1.752318           amurrio/araba
2  1.426462 -0.087477           aramaio/araba
3  0.660243  0.043856        artziniega/araba
4 -0.477241  0.160344           arminon/araba

In [259]:
finalDf_t.shape

(6066, 3)

# Merge finalDf_PCA

In [263]:
union_PCA_e_c = pd.merge(finalDf_e, finalDf_c, left_on='cities_es/province',right_on='cities_es/province', how='inner')

In [264]:
union_PCA_e_c.shape

(6066, 7)

In [265]:
union_PCA_e_c.head(10)

,PC1_e,PC2_e,cities_es/province,PC1_c,PC2_c,PC3_c,PC4_c
0,-0.160765,-0.337149,alegria_dulantzi/araba,0.647078,-1.486068,0.72729,0.232404
1,-0.160765,-0.337149,amurrio/araba,0.647078,-1.486068,0.72729,0.232404
2,-0.160765,-0.337149,aramaio/araba,0.647078,-1.486068,0.72729,0.232404
3,-0.160765,-0.337149,artziniega/araba,0.647078,-1.486068,0.72729,0.232404
4,-0.160765,-0.337149,arminon/araba,0.647078,-1.486068,0.72729,0.232404
5,-0.160765,-0.337149,arratzua_ubarrundia/araba,0.647078,-1.486068,0.72729,0.232404
6,-0.160765,-0.337149,asparrena/araba,0.647078,-1.486068,0.72729,0.232404
7,-0.160765,-0.337149,ayala/araba,0.647078,-1.486068,0.72729,0.232404
8,-0.160765,-0.337149,banos_de_ebro/araba,0.647078,-1.486068,0.72729,0.232404
9,-0.160765,-0.337149,barrundia/araba,0.647078,-1.486068,0.72729,0.232404

In [266]:
union_PCA_e_c.isnull().sum()

PC1_e                 0
PC2_e                 0
cities_es/province    0
PC1_c                 0
PC2_c                 0
PC3_c                 0
PC4_c                 0
dtype: int64

In [267]:
union_PCA_ec_d = pd.merge(union_PCA_e_c, finalDf_d, left_on='cities_es/province',right_on='cities_es/province', how='inner')

In [268]:
union_PCA_ec_d.shape

(6066, 9)

In [269]:
union_PCA_ec_d.isnull().sum()

PC1_e                 0
PC2_e                 0
cities_es/province    0
PC1_c                 0
PC2_c                 0
PC3_c                 0
PC4_c                 0
PC1_d                 0
PC2_d                 0
dtype: int64

In [270]:
union_PCA_ecd_g = pd.merge(union_PCA_ec_d, finalDf_g, left_on='cities_es/province',right_on='cities_es/province', how='inner')

In [271]:
union_PCA_ecd_g.shape

(6066, 12)

In [272]:
union_PCA_ecd_g.isnull().sum()

PC1_e                 0
PC2_e                 0
cities_es/province    0
PC1_c                 0
PC2_c                 0
PC3_c                 0
PC4_c                 0
PC1_d                 0
PC2_d                 0
PC1_g                 0
PC2_g                 0
PC3_g                 0
dtype: int64

In [273]:
union_PCA_ecdg_r = pd.merge(union_PCA_ecd_g, finalDf_r, left_on='cities_es/province',right_on='cities_es/province', how='inner')

In [274]:
union_PCA_ecdg_r.shape

(6066, 15)

In [275]:
union_PCA_ecdg_r.isnull().sum()

PC1_e                 0
PC2_e                 0
cities_es/province    0
PC1_c                 0
PC2_c                 0
PC3_c                 0
PC4_c                 0
PC1_d                 0
PC2_d                 0
PC1_g                 0
PC2_g                 0
PC3_g                 0
PC1_r                 0
PC2_r                 0
PC3_r                 0
dtype: int64

In [276]:
union_PCA_ecdgr_tr = pd.merge(union_PCA_ecdg_r, finalDf_tr, left_on='cities_es/province',right_on='cities_es/province', how='inner')

In [277]:
union_PCA_ecdgr_tr.shape

(6066, 17)

In [278]:
union_PCA_ecdgr_tr.isnull().sum()

PC1_e                 0
PC2_e                 0
cities_es/province    0
PC1_c                 0
PC2_c                 0
PC3_c                 0
PC4_c                 0
PC1_d                 0
PC2_d                 0
PC1_g                 0
PC2_g                 0
PC3_g                 0
PC1_r                 0
PC2_r                 0
PC3_r                 0
PC1_tr                0
PC2_tr                0
dtype: int64

In [279]:
union_PCA_total = pd.merge(union_PCA_ecdgr_tr, finalDf_t, left_on='cities_es/province',right_on='cities_es/province', how='inner')

In [280]:
union_PCA_total.shape

(6066, 19)

In [281]:
union_PCA_total.isnull().sum()

PC1_e                 0
PC2_e                 0
cities_es/province    0
PC1_c                 0
PC2_c                 0
PC3_c                 0
PC4_c                 0
PC1_d                 0
PC2_d                 0
PC1_g                 0
PC2_g                 0
PC3_g                 0
PC1_r                 0
PC2_r                 0
PC3_r                 0
PC1_tr                0
PC2_tr                0
PC1_t                 0
PC2_t                 0
dtype: int64

# Exportacion fichero PCA final

In [282]:
union_PCA_total.to_csv('union_PCA_total.csv')