In [239]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
import unidecode
import os

#### Funciones

In [240]:
def doClean(a):   
    a = str(a)
    # Quitar las expresiones tras la barra /
    a = re.sub('\/.*', '', a)
    # Quitar las aclaraciones entre paréntesis
    a = re.sub('\(.*\)', '', a)
    # Quitar acentos 
    a = unidecode.unidecode(a)
    # Quitar aquello que no sean palabras o cosa que se le parezca
    a = re.sub('\W', ' ', a) 
    # Quitar espacios extra en caso de haber
    a = re.sub('\s+', ' ', a)
    # Pasar el texto a minúsulas
    a = a.lower() 
    a = a.lstrip()
    # Quitar espacio derecha
    a = a.rstrip()
    a = re.sub(' ', '_', a)
    #a = a.strip() 
    
    return a

#### Carga y union de ficheros

In [241]:
os.getcwd()

'/home/patcalsi/projects/Exodus_urbano/data'

In [242]:
os.listdir()

['patri',
 'Sandra',
 'union_bloques.csv',
 '.ipynb_checkpoints',
 'maestro_idiomas.csv',
 'maestro_idiomas_ine.csv',
 'union_bloques.ipynb',
 '.DS_Store',
 'Guille',
 'mar']

## Fichero maestro

In [243]:
maestro_municipios = pd.read_csv("patri/maestro_nuevo.csv", index_col=0, dtype={'postal_code': object, 'ine_code':object})
maestro_municipios.shape

(14288, 20)

In [244]:
maestro_municipios.drop(columns='muni_agrup', inplace=True)
maestro_municipios.rename(columns={'provincia': 'provincia_original', 'poblacion': 'municipio_original'}, inplace=True)

In [245]:
maestro_municipios.head(2)

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,cities_es/ccaa_es,cities_es/ccaa,cities/province_es,province_es/ccaa_es,province_es/ccaa,province/ccaa_es,province/ccaa,provincia_original,municipio_original
0,1001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,alegria_dulantzi/pais_vasco,alegria_dulantzi/pais_vasco,alegria_dulantzi/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,Araba/Álava,Alegría-Dulantzi
1,1001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,alegria_dulantzi/pais_vasco,alegria_dulantzi/pais_vasco,alegria_dulantzi/alava,alava/pais_vasco,alava/pais_vasco,araba/pais_vasco,araba/pais_vasco,Araba/Álava,Alegría-Dulantzi

In [246]:
maestro_municipios_dupli = maestro_municipios.drop_duplicates(subset=['ine_code', 'postal_code', 'cities', 'province'])
maestro_municipios_dupli.shape

(14241, 19)

### Bloques

#### Patri

In [247]:
union_patri = pd.read_csv("patri/union_patri.csv", index_col=0, dtype={'postal_code': object, 'ine_code':object})
union_patri.shape

(14729, 61)

In [248]:
union_patri.head(2)

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,...,otros_servicios,palacios_de_congresos,playas,puertos_deportivos,restaurantes_y_empresas_turísticas_de_catering,seguridad_ciudadana,servicios_de_limpieza,servicios_turísticos_de_salud,taxis,turismo_industrial
0,1001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [249]:
union_patri.rename(columns={'cities_es/ccaa_x': 'cities_es/ccaa'}, inplace=True)

In [250]:
union_patri_dup = union_patri.drop_duplicates(subset=['postal_code', 'cities', 'province'])
union_patri_dup = union_patri_dup[~union_patri_dup['postal_code'].isnull()]

In [251]:
union_patri_dup.columns

Index(['ine_code', 'postal_code', 'cities_es', 'cities', 'province_es',
       'province', 'ccaa_es', 'ccaa', 'cities_es/province_es',
       'cities_es/province', 'cities_es/ccaa_es', 'cities_es/ccaa',
       'cities/province_es', 'province_es/ccaa_es', 'province_es/ccaa',
       'province/ccaa_es', 'province/ccaa', 'total_bibliotecas',
       'uds_hospiatales', 'num_centros_salud', 'num_colegios_privados',
       'num_colegios_publicos', 'uds_guardia_civil',
       'num_universidades_privadas', 'num_universidades_publicas',
       'num_tit_uni_privadas', 'num_tit_uni_publicas', 'cities_es/ccaa_y',
       'codigo_postal', 'agencias_de_viajes', 'albergues',
       'alojamientos_rurales', 'artesanos', 'atraque_de_cruceros_y_ferries',
       'bares_y_cafeterías', 'bodegas', 'campings',
       'campos_de_golf_y_campos_de_pitch&putt', 'comercios',
       'convention_bureaux',
       'empresas_de_alquiler_de_vehículos_y_embarcaciones',
       'empresas_de_transporte_turístico', 'empresas_de_turismo_activo',
       'escuelas_de_español_para_extranjeros', 'espacios_naturales_protegidos',
       'estaciones_de_esquí_y_montaña', 'guías_turísticos',
       'hoteles_y_apartamentos_turísticos',
       'museos_y_centros_de_interés_turístico_visitable', 'opc',
       'oficinas_de_información_turística', 'otros_servicios',
       'palacios_de_congresos', 'playas', 'puertos_deportivos',
       'restaurantes_y_empresas_turísticas_de_catering', 'seguridad_ciudadana',
       'servicios_de_limpieza', 'servicios_turísticos_de_salud', 'taxis',
       'turismo_industrial'],
      dtype='object')

In [252]:
union_patri_dup.drop(columns=['ine_code', 'cities_es', 'cities', 'province_es',
       'province', 'ccaa_es', 'ccaa', 'cities_es/province_es',
       'cities_es/province', 'cities_es/ccaa_es', 'cities_es/ccaa',
       'cities/province_es', 'province_es/ccaa_es', 'province_es/ccaa',
       'province/ccaa_es', 'province/ccaa'], inplace=True)

In [253]:
union_patri_dup.fillna(-1, inplace=True)
union_patri_dup.shape

(10672, 45)

In [254]:
union = pd.merge(maestro_municipios_dupli, union_patri_dup, left_on='postal_code', right_on='postal_code', how='left')

In [255]:
union.shape

(14265, 63)

In [256]:
union.head()

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,...,otros_servicios,palacios_de_congresos,playas,puertos_deportivos,restaurantes_y_empresas_turísticas_de_catering,seguridad_ciudadana,servicios_de_limpieza,servicios_turísticos_de_salud,taxis,turismo_industrial
0,1001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,1001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1002,01450,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,1002,01468,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1002,01470,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

#### Mar

In [257]:
union_mar = pd.read_csv("mar/union_parametros_mar.csv", index_col=0, dtype={'postal_code': object, 'ine_code':object})
union_mar.shape

(14969, 91)

In [258]:
union_mar.head(2)

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,...,n_des_anual,n_cub_anual,n_tor_anual,nt_00_anual,nt_30_anual,nw_55_anual,nw_91_anual,w_med_anual,ta_max_anual,ta_min_anual
0,01001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,27.0,120.0,19.0,48.0,34.0,3.5,0.25,12.545455,39.7(29/jun),-7.7(06/ene)
1,01001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,27.0,120.0,19.0,48.0,34.0,3.5,0.25,12.545455,39.7(29/jun),-7.7(06/ene)

In [259]:
union_mar_dup = union_mar.drop_duplicates(subset=['postal_code', 'cities', 'province'])
union_mar_dup = union_mar_dup[~union_mar_dup['postal_code'].isnull()]

In [260]:
union_mar_dup.shape

(10672, 91)

In [261]:
union_mar_dup.columns

Index(['ine_code', 'postal_code', 'cities_es', 'cities', 'province_es',
       'province', 'ccaa_es', 'ccaa', 'cities_es/province_es',
       'cities_es/province', 'cities_es/ccaa_es', 'cities_es/ccaa',
       'cities/province_es', 'province_es/ccaa_es', 'province_es/ccaa',
       'province/ccaa_es', 'province/ccaa', 'hombres total', 'hombres de 0-4 ',
       'hombres de 5-9', 'hombres de 10-4 ', 'hombres de 15-19 ',
       'hombres de 20-24', 'hombres de 25-29', 'hombres de 30-34',
       'hombres de 35-39', 'hombres de 40-44', 'hombres de 45-49',
       'hombres de 50-54', 'hombres de 55-59', 'hombres de 60-64',
       'hombres de 65-69', 'hombres de 70-74', 'hombres de 75-79',
       'hombres de 80-84', 'hombres de 85-89', 'hombres de 90-94',
       'hombres de 95-99', 'hombres de 100 y más', 'mujeres total',
       'mujeres de 0-4 ', 'mujeres de 5-9', 'mujeres de 10-4 ',
       'mujeres de 15-19 ', 'mujeres de 20-24', 'mujeres de 25-29',
       'mujeres de 30-34', 'mujeres de 35-39', 'mujeres de 40-44',
       'mujeres de 45-49', 'mujeres de 50-54', 'mujeres de 55-59',
       'mujeres de 60-64', 'mujeres de 65-69', 'mujeres de 70-74',
       'mujeres de 75-79', 'mujeres de 80-84', 'mujeres de 85-89',
       'mujeres de 90-94', 'mujeres de 95-99', 'mujeres de 100 y más',
       'camiones_provincia', 'furgonetas_provincia', 'autobuses_provincia',
       'turismos_provincia', 'motocicletas_provincia',
       'tractores_industriales_provincia', 'r_y_s_provincia',
       'otros_vehiculos_provincia', 'total_provincia', 'comunidad', 'latitud',
       'longitud', 'altitud', 'distanica_km', 'cuidad_mas_cercana',
       'n_llu_anual', 'n_nub_anual', 'n_nie_anual', 'n_gra_anual',
       'n_fog_anual', 'n_des_anual', 'n_cub_anual', 'n_tor_anual',
       'nt_00_anual', 'nt_30_anual', 'nw_55_anual', 'nw_91_anual',
       'w_med_anual', 'ta_max_anual', 'ta_min_anual'],
      dtype='object')

In [262]:
union_mar_dup.drop(columns=['ine_code', 'cities_es', 'cities', 'province_es',
       'province', 'ccaa_es', 'ccaa', 'cities_es/province_es',
       'cities_es/province', 'cities_es/ccaa_es', 'cities_es/ccaa',
       'cities/province_es', 'province_es/ccaa_es', 'province_es/ccaa',
       'province/ccaa_es', 'province/ccaa'], inplace=True)

In [263]:
union_mar_dup.fillna(-1, inplace=True)
union_mar_dup.shape

(10672, 75)

In [264]:
union2 = pd.merge(union, union_mar_dup, left_on='postal_code', right_on='postal_code', how='left')

In [265]:
union2.shape

(14313, 137)

In [266]:
union2.head()

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,...,n_des_anual,n_cub_anual,n_tor_anual,nt_00_anual,nt_30_anual,nw_55_anual,nw_91_anual,w_med_anual,ta_max_anual,ta_min_anual
0,1001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,27.0,120.0,19.0,48.0,34.0,3.5,0.25,12.545455,39.7(29/jun),-7.7(06/ene)
1,1001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,27.0,120.0,19.0,48.0,34.0,3.5,0.25,12.545455,39.7(29/jun),-7.7(06/ene)
2,1002,01450,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,27.0,120.0,19.0,48.0,34.0,3.5,0.25,12.545455,39.7(29/jun),-7.7(06/ene)
3,1002,01468,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,27.0,120.0,19.0,48.0,34.0,3.5,0.25,12.545455,39.7(29/jun),-7.7(06/ene)
4,1002,01470,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,27.0,120.0,19.0,48.0,34.0,3.5,0.25,12.545455,39.7(29/jun),-7.7(06/ene)

#### Sandra

In [267]:
union_sandra = pd.read_csv("Sandra/union_ficheros_sandra.csv", index_col=0, dtype={'postal_code': object, 'ine_code':object})
union_sandra.shape

(16052, 27)

In [268]:
union_sandra.head(2)

,ine_code,CP_AT,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,...,province/ccaa,cp/citie,CP,Municipio,CP/Municipio,Total Comercios,Total servicios,n_habitantes,Renta_disponible,PIB pm
0,1001,NaN,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,...,araba/pais_vasco,01240/alegria_dulantzi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001,NaN,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,...,araba/pais_vasco,01193/alegria_dulantzi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [269]:
union_sandra_dup = union_sandra.drop_duplicates(subset=['postal_code', 'cities', 'province'])
#union_sandra_dup = union_sandra_dup[~union_mar_dup['postal_code'].isnull()]

In [270]:
union_sandra_dup.shape

(10673, 27)

In [271]:
union_sandra_dup.columns

Index(['ine_code', 'CP_AT', 'postal_code', 'cities_es', 'cities',
       'province_es', 'province', 'ccaa_es', 'ccaa', 'cities_es/province_es',
       'cities_es/province', 'cities_es/ccaa_es', 'cities_es/ccaa',
       'cities/province_es', 'province_es/ccaa_es', 'province_es/ccaa',
       'province/ccaa_es', 'province/ccaa', 'cp/citie', 'CP', 'Municipio',
       'CP/Municipio', 'Total Comercios', 'Total servicios', 'n_habitantes',
       'Renta_disponible', 'PIB pm'],
      dtype='object')

In [272]:
union_sandra_dup.drop(columns=['ine_code', 'cities_es', 'cities', 'province_es',
       'province', 'ccaa_es', 'ccaa', 'cities_es/province_es',
       'cities_es/province', 'cities_es/ccaa_es', 'cities_es/ccaa',
       'cities/province_es', 'province_es/ccaa_es', 'province_es/ccaa',
       'province/ccaa_es', 'province/ccaa', 'CP_AT', 'Municipio', 'CP/Municipio', 'CP'], inplace=True)

/home/patcalsi/miniconda/envs/exodus/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [273]:
union_sandra_dup.fillna(-1, inplace=True)
union_sandra_dup.shape

/home/patcalsi/miniconda/envs/exodus/lib/python3.8/site-packages/pandas/core/frame.py:4147: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

(10673, 7)

In [274]:
union3 = pd.merge(union2, union_sandra_dup, left_on='postal_code', right_on='postal_code', how='left')

In [290]:
union3.shape

(10672, 143)

In [288]:
union3 = union3.drop_duplicates(subset=['postal_code', 'cities', 'province'])

In [289]:
union3.head()

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,...,nw_91_anual,w_med_anual,ta_max_anual,ta_min_anual,cp/citie,Total Comercios,Total servicios,n_habitantes,Renta_disponible,PIB pm
0,1001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,0.25,12.545455,39.7(29/jun),-7.7(06/ene),01240/alegria_dulantzi,-1.0,-1,-1.0,-1.0,-1.0
1,1001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,0.25,12.545455,39.7(29/jun),-7.7(06/ene),01193/alegria_dulantzi,-1.0,-1,-1.0,-1.0,-1.0
2,1002,01450,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,0.25,12.545455,39.7(29/jun),-7.7(06/ene),01450/amurrio,-1.0,-1,-1.0,-1.0,-1.0
3,1002,01468,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,0.25,12.545455,39.7(29/jun),-7.7(06/ene),01468/amurrio,-1.0,-1,-1.0,-1.0,-1.0
4,1002,01470,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,0.25,12.545455,39.7(29/jun),-7.7(06/ene),01470/amurrio,-1.0,-1,-1.0,-1.0,-1.0

#### Guille

In [302]:
union_guille = pd.read_csv("Guille/union_guille.csv", dtype={'postal_code': object, 'ine_code':object})
union_guille.shape

(15473, 26)

In [303]:
union_guille.head(2)

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,...,province/ccaa,Total: Millones vehículos-km,porcentaje_carreteras_ccaa_y_estado,bus_based_companies_count,Calidad_Cobertura_fija&movil_%,accessibility_mean,numero_estaciones,ave,cercanias,feve
0,1001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,araba/pais_vasco,1869.3,0.832942,NaN,65.0,18.406372,1.0,NO,NO,NO
1,1001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,araba/pais_vasco,1869.3,0.832942,NaN,65.0,18.406372,1.0,NO,NO,NO

In [304]:
union_guille_dup = union_guille.drop_duplicates(subset=['postal_code', 'cities', 'province'])
union_guille_dup = union_guille[~union_guille['postal_code'].isnull()]

In [305]:
union_guille_dup.shape

(15032, 26)

In [306]:
union_guille_dup.columns

Index(['ine_code', 'postal_code', 'cities_es', 'cities', 'province_es',
       'province', 'ccaa_es', 'ccaa', 'cities_es/province_es',
       'cities_es/province', 'cities_es/ccaa_es', 'cities_es/ccaa',
       'cities/province_es', 'province_es/ccaa_es', 'province_es/ccaa',
       'province/ccaa_es', 'province/ccaa', 'Total: Millones vehículos-km',
       'porcentaje_carreteras_ccaa_y_estado', 'bus_based_companies_count',
       'Calidad_Cobertura_fija&movil_%', 'accessibility_mean',
       'numero_estaciones', 'ave', 'cercanias', 'feve'],
      dtype='object')

In [307]:
union_guille_dup.fillna(-1, inplace=True)
union_guille_dup.shape

/home/patcalsi/miniconda/envs/exodus/lib/python3.8/site-packages/pandas/core/frame.py:4147: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

(15032, 26)

In [308]:
union_guille_dup.drop(columns=['ine_code', 'cities_es', 'cities', 'province_es',
       'province', 'ccaa_es', 'ccaa', 'cities_es/province_es',
       'cities_es/province', 'cities_es/ccaa_es', 'cities_es/ccaa',
       'cities/province_es', 'province_es/ccaa_es', 'province_es/ccaa',
       'province/ccaa_es', 'province/ccaa'], inplace=True)

/home/patcalsi/miniconda/envs/exodus/lib/python3.8/site-packages/pandas/core/frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [315]:
union4 = pd.merge(union3, union_guille_dup, left_on='postal_code', right_on='postal_code', how='left')

In [316]:
union4.shape

(15056, 152)

In [317]:
union4 = union4.drop_duplicates(subset=['postal_code', 'cities', 'province'])

In [318]:
union4.shape

(10672, 152)

In [319]:
union4.head()

,ine_code,postal_code,cities_es,cities,province_es,province,ccaa_es,ccaa,cities_es/province_es,cities_es/province,...,PIB pm,Total: Millones vehículos-km,porcentaje_carreteras_ccaa_y_estado,bus_based_companies_count,Calidad_Cobertura_fija&movil_%,accessibility_mean,numero_estaciones,ave,cercanias,feve
0,1001,01240,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,-1.0,1869.3,0.832942,-1.0,65.00,18.406372,1.0,NO,NO,NO
1,1001,01193,alegria_dulantzi,alegria_dulantzi,alava,araba,pais_vasco,pais_vasco,alegria_dulantzi/alava,alegria_dulantzi/araba,...,-1.0,1869.3,0.832942,-1.0,65.00,18.406372,1.0,NO,NO,NO
5,1002,01450,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,-1.0,1869.3,0.832942,-1.0,62.75,18.406372,4.0,NO,SI,NO
8,1002,01468,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,-1.0,1869.3,0.832942,-1.0,62.75,18.406372,4.0,NO,SI,NO
9,1002,01470,amurrio,amurrio,alava,araba,pais_vasco,pais_vasco,amurrio/alava,amurrio/araba,...,-1.0,1869.3,0.832942,-1.0,62.75,18.406372,4.0,NO,SI,NO

In [320]:
union4.to_csv("union_bloques.csv")

In [321]:
union4.isnull().sum()

ine_code              0
postal_code           0
cities_es             0
cities                0
province_es           0
                     ..
accessibility_mean    0
numero_estaciones     0
ave                   0
cercanias             0
feve                  0
Length: 152, dtype: int64

In [322]:
print(union4.columns)

Index(['ine_code', 'postal_code', 'cities_es', 'cities', 'province_es',
       'province', 'ccaa_es', 'ccaa', 'cities_es/province_es',
       'cities_es/province',
       ...
       'PIB pm', 'Total: Millones vehículos-km',
       'porcentaje_carreteras_ccaa_y_estado', 'bus_based_companies_count',
       'Calidad_Cobertura_fija&movil_%', 'accessibility_mean',
       'numero_estaciones', 'ave', 'cercanias', 'feve'],
      dtype='object', length=152)