In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
import unidecode
import os

#### Funciones

In [2]:
def doClean(a):   
    
    # Quitar las expresiones tras la barra /
    a = re.sub('\/.*', '', a)
    # Quitar las aclaraciones entre paréntesis
    a = re.sub('\(.*\)', '', a)
    # Quitar acentos 
    a = unidecode.unidecode(a)
    # Quitar aquello que no sean palabras o cosa que se le parezca
    a = re.sub('\W', ' ', a) 
    # Quitar espacios extra en caso de haber
    a = re.sub('\s+', ' ', a)
    # Pasar el texto a minúsulas
    a = a.lower() 
    # Quitar espacio izq
    a = a.lstrip()
    # Quitar espacio derecha
    a = a.rstrip()
    a = re.sub(' ', '_', a)
    #a = a.strip() 
    
    return a

In [3]:
def doClean_ccaa(text):   
    
    # Quitar las expresiones tras la barra -
    a = re.sub('\ -.*', '', text)
    # Quitar las aclaraciones entre paréntesis
    a = re.sub('\(.*\)', '', a)
    # Quitar acentos 
    a = unidecode.unidecode(a)
    # Quitar aquello que no sean palabras o cosa que se le parezca
    a = re.sub('\W', ' ', a) 
    # Quitar espacios extra en caso de haber
    a = re.sub('\s+', ' ', a)
    # Pasar el texto a minúsulas
    a = a.lower() 
    a = re.sub(' ', '_', a)
    #a = a.strip() 
    
    return a

In [13]:
def doClean_prov(text):   
    
    # Quitar las expresiones tras la barra -
    a = re.sub('.*\- ', '', text)
    # Quitar las aclaraciones entre paréntesis
    a = re.sub('\(.*\)', '', a)
    # Quitar acentos 
    a = unidecode.unidecode(a)
    # Quitar aquello que no sean palabras o cosa que se le parezca
    a = re.sub('\W', ' ', a) 
    # Quitar espacios extra en caso de haber
    a = re.sub('\s+', ' ', a)
    # Pasar el texto a minúsulas
    a = a.lower() 
    # Quitar espacio izq
    a = a.lstrip()
    # Quitar espacio derecha
    a = a.rstrip()
    a = re.sub(' ', '_', a)
    #a = a.strip() 
    
    return a

#### Carga de ficheros

In [14]:
os.getcwd()

'/home/patcalsi/projects/Exodus_urbano/data/patri'

In [15]:
bibliotecas = pd.read_csv("sociedad_cultura_bibliotecas_2017.csv")

In [16]:
bibliotecas.head(5)

                       ccaa_prov municipio  total_bib
0  Illes Balears - Illes Balears    Alaior          1
1  Illes Balears - Illes Balears     Alaró          1
2  Illes Balears - Illes Balears   Alcúdia          1
3  Illes Balears - Illes Balears   Algaida          1
4  Illes Balears - Illes Balears   Andratx          1

In [17]:
bibliotecas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3323 entries, 0 to 3322
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ccaa_prov  3323 non-null   object
 1   municipio  3323 non-null   object
 2   total_bib  3323 non-null   int64
dtypes: int64(1), object(2)
memory usage: 78.0+ KB

In [18]:
bibliotecas[bibliotecas['municipio']=='Altura']

                                      ccaa_prov municipio  total_bib
3274  Comunidad Valenciana - Castellón/Castelló    Altura          1

In [19]:
bibliotecas['municipio_limpio'] = bibliotecas['municipio'].apply(doClean)

In [20]:
bibliotecas['ccaa'] = bibliotecas['ccaa_prov'].apply(doClean_ccaa)

In [21]:
bibliotecas['provincia'] = bibliotecas['ccaa_prov'].apply(doClean_prov)

In [22]:
bibliotecas['total_bibliotecas'] = bibliotecas['total_bib']

In [23]:
bibliotecas.head()

,ccaa_prov,municipio,total_bib,municipio_limpio,ccaa,provincia,total_bibliotecas
0,Illes Balears - Illes Balears,Alaior,1,alaior,illes_balears,illes_balears,1
1,Illes Balears - Illes Balears,Alaró,1,alaro,illes_balears,illes_balears,1
2,Illes Balears - Illes Balears,Alcúdia,1,alcudia,illes_balears,illes_balears,1
3,Illes Balears - Illes Balears,Algaida,1,algaida,illes_balears,illes_balears,1
4,Illes Balears - Illes Balears,Andratx,1,andratx,illes_balears,illes_balears,1

##### Comprobacion duplicados

In [24]:
bibliotecas[bibliotecas.duplicated(subset=['municipio_limpio','provincia'])]

Empty DataFrame
Columns: [ccaa_prov, municipio, total_bib, municipio_limpio, ccaa, provincia, total_bibliotecas]
Index: []

In [25]:
bibliotecas.head()

,ccaa_prov,municipio,total_bib,municipio_limpio,ccaa,provincia,total_bibliotecas
0,Illes Balears - Illes Balears,Alaior,1,alaior,illes_balears,illes_balears,1
1,Illes Balears - Illes Balears,Alaró,1,alaro,illes_balears,illes_balears,1
2,Illes Balears - Illes Balears,Alcúdia,1,alcudia,illes_balears,illes_balears,1
3,Illes Balears - Illes Balears,Algaida,1,algaida,illes_balears,illes_balears,1
4,Illes Balears - Illes Balears,Andratx,1,andratx,illes_balears,illes_balears,1

##### Creación y exportación de fichero maestro

In [26]:
bibliotecas = bibliotecas[['municipio_limpio','ccaa','provincia','total_bibliotecas']]

In [27]:
bibliotecas.to_csv("sociedad_cultura_bibliotecas_2017_limipio.csv")