In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
import unidecode
import os

#### Funciones

In [2]:
def doClean(a):   
    
    # Quitar las expresiones tras la barra /
    a = re.sub('\/.*', '', a)
    # Quitar las aclaraciones entre paréntesis
    a = re.sub('\(.*\)', '', a)
    # Quitar acentos 
    a = unidecode.unidecode(a)
    # Quitar aquello que no sean palabras o cosa que se le parezca
    a = re.sub('\W', ' ', a) 
    # Quitar espacios extra en caso de haber
    a = re.sub('\s+', ' ', a)
    # Pasar el texto a minúsulas
    a = a.lower() 
    # Quitar espacio izq
    a = a.lstrip()
    # Quitar espacio derecha
    a = a.rstrip()
    a = re.sub(' ', '_', a)
    #a = a.strip() 
    
    return a

#### Carga de ficheros

In [3]:
os.getcwd()

'/home/patcalsi/projects/Exodus_urbano/data/patri'

In [4]:
guardia_civil = pd.read_csv("sociedad_seguridad_guardia_civil_2019.csv", sep=';', encoding='latin1', dtype={'CODIGO POSTAL': object})

In [5]:
guardia_civil.head(5)

,UNIDAD,COMUNIDAD AUTONOMA,PROVINCIA,LOCALIDAD,DOMICILIO,CODIGO POSTAL,TELEFONO,OBSERVACIONES
0,A. R. S. (JEFATURA),MADRID,MADRID,MADRID,"C/ BATALLA DEL SALADO, 35",28045,915146900,NaN
1,ACADEMIA DE EL ESCORIAL,MADRID,MADRID,SAN LORENZO DE EL ESCORIAL,CTRA. DE GUADARRAMA KM. 33,28200,918969538-918906011-918906001,NaN
2,ACADEMIA DE OFICIALES GUA. CIVIL,MADRID,MADRID,ARANJUEZ,"C/ PRINCESA, S/N",28300,918912145,NaN
3,ACUARTELAMIENTO DE BARAJAS,MADRID,MADRID,BARAJAS,"CAMINO DEL CUARTEL, 4",28042,917470055 EXT.12,NaN
4,AGRUPACION DE TRAFICO,MADRID,MADRID,MADRID,"C/ EMILIO MUÑOZ, 41",28003,915357846,NaN

In [6]:
guardia_civil.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3125 entries, 0 to 3124
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   UNIDAD              3125 non-null   object
 1   COMUNIDAD AUTONOMA  3125 non-null   object
 2   PROVINCIA           3125 non-null   object
 3   LOCALIDAD           3123 non-null   object
 4   DOMICILIO           3123 non-null   object
 5   CODIGO POSTAL       3119 non-null   object
 6   TELEFONO            3121 non-null   object
 7   OBSERVACIONES       42 non-null     object
dtypes: object(8)
memory usage: 195.4+ KB

##### tratamiento

In [7]:
guardia_civil[guardia_civil['LOCALIDAD'].isnull()]

,UNIDAD,COMUNIDAD AUTONOMA,PROVINCIA,LOCALIDAD,DOMICILIO,CODIGO POSTAL,TELEFONO,OBSERVACIONES
2156,PUESTO DE ONDARROA,PAIS VASCO,VIZCAYA,NaN,PUESTO SUPRIMIDO,NaN,NaN,NaN
2160,SECCION FISCAL DE LA RIBERA-BILBAO,PAIS VASCO,VIZCAYA,NaN,SECCIÓN SUPRIMIDA,NaN,NaN,NaN

In [8]:
guardia_civil['LOCALIDAD'].fillna("", inplace=True)

In [9]:
guardia_civil['municipio_limpio'] = guardia_civil['LOCALIDAD'].apply(doClean)

In [10]:
guardia_civil['cp'] = guardia_civil['CODIGO POSTAL']

In [11]:
guardia_civil.isnull().sum()

UNIDAD                   0
COMUNIDAD AUTONOMA       0
PROVINCIA                0
LOCALIDAD                0
DOMICILIO                2
CODIGO POSTAL            6
TELEFONO                 4
OBSERVACIONES         3083
municipio_limpio         0
cp                       6
dtype: int64

In [12]:
guardia_civil[guardia_civil['cp'].isnull()].head()

,UNIDAD,COMUNIDAD AUTONOMA,PROVINCIA,LOCALIDAD,DOMICILIO,CODIGO POSTAL,TELEFONO,OBSERVACIONES,municipio_limpio,cp
165,SECCION ADUANA DE ABRO´IGAL,MADRID,MADRID,MADRID,"C/ MENDEZ ALVARO, 84",NaN,914685904,NaN,madrid,NaN
1131,PUESTO DE TORRE DEL LORO,ANDALUCIA,HUELVA,UNIDAD SUPRIMIDA CON FECHA 10-02-2012,NaN,NaN,NaN,NaN,unidad_suprimida_con_fecha_10_02_2012,NaN
2156,PUESTO DE ONDARROA,PAIS VASCO,VIZCAYA,,PUESTO SUPRIMIDO,NaN,NaN,NaN,,NaN
2160,SECCION FISCAL DE LA RIBERA-BILBAO,PAIS VASCO,VIZCAYA,,SECCIÓN SUPRIMIDA,NaN,NaN,NaN,,NaN
2944,AEROPUERTO DE GRAN CANARIA,CANARIAS,LAS PALMAS,OJOS DE GARZA GANDO (TELDE),C/ AEROPUERTO DE GRAN CANARIA,NaN,928578993,NaN,ojos_de_garza_gando,NaN

In [13]:
# al haber cp nulls, tambien se carga la provincia

In [14]:
guardia_civil['provincia'] = guardia_civil['PROVINCIA'].apply(doClean)

In [15]:
guardia_civil[guardia_civil['provincia'].isnull()].head()

Empty DataFrame
Columns: [UNIDAD, COMUNIDAD AUTONOMA, PROVINCIA, LOCALIDAD, DOMICILIO, CODIGO POSTAL, TELEFONO, OBSERVACIONES, municipio_limpio, cp, provincia]
Index: []

In [16]:
guardia_civil.head()

,UNIDAD,COMUNIDAD AUTONOMA,PROVINCIA,LOCALIDAD,DOMICILIO,CODIGO POSTAL,TELEFONO,OBSERVACIONES,municipio_limpio,cp,provincia
0,A. R. S. (JEFATURA),MADRID,MADRID,MADRID,"C/ BATALLA DEL SALADO, 35",28045,915146900,NaN,madrid,28045,madrid
1,ACADEMIA DE EL ESCORIAL,MADRID,MADRID,SAN LORENZO DE EL ESCORIAL,CTRA. DE GUADARRAMA KM. 33,28200,918969538-918906011-918906001,NaN,san_lorenzo_de_el_escorial,28200,madrid
2,ACADEMIA DE OFICIALES GUA. CIVIL,MADRID,MADRID,ARANJUEZ,"C/ PRINCESA, S/N",28300,918912145,NaN,aranjuez,28300,madrid
3,ACUARTELAMIENTO DE BARAJAS,MADRID,MADRID,BARAJAS,"CAMINO DEL CUARTEL, 4",28042,917470055 EXT.12,NaN,barajas,28042,madrid
4,AGRUPACION DE TRAFICO,MADRID,MADRID,MADRID,"C/ EMILIO MUÑOZ, 41",28003,915357846,NaN,madrid,28003,madrid

##### Comprobacion duplicados por nombre unico

In [17]:
guardia_civil[guardia_civil.duplicated(subset=['UNIDAD', 'cp', 'municipio_limpio', 'provincia'])].head()

,UNIDAD,COMUNIDAD AUTONOMA,PROVINCIA,LOCALIDAD,DOMICILIO,CODIGO POSTAL,TELEFONO,OBSERVACIONES,municipio_limpio,cp,provincia
922,U.H.E.L.- 23 (CADIZ),ANDALUCIA,CADIZ,ROTA (3? ESCUADRILLA DE LA BASE NAVAL),BASE NAVAL DE ROTA,11530,956810569,NaN,rota,11530,cadiz
1722,COMPAÑIA DE SEGURIDAD AEROPUERTO-BARCELONA,CATALUÑA,BARCELONA,EL PRAT DE LLOBREGAT,"AERPUERTO BARCELONA, PARQUE SERVICIOS AEROPOR...",8820,932983357-932984956-932983613,ELIMINAR DEFINITIVAMENTE,el_prat_de_llobregat,8820,barcelona
2123,U.H.E.L.- 51 (LOGROÑO),LA RIOJA,LA RIOJA,LOGRO´O,COMANDANCIA (TARDES),26005,941229900,NaN,logro_o,26005,la_rioja
2268,PUESTO DE TREVI´O,CASTILLA Y LEON,BURGOS,CONDADO DE TREVI´O,"CTRA. MIRANDA DE EBRO, 32",9215,945360004,NaN,condado_de_trevi_o,9215,burgos
2272,PUESTO PRINCIPAL DE ALFOZ DE BURGOS,CASTILLA Y LEON,BURGOS,BURGOS,"AVDA. DE CANTABRIA, 87-95",9006,947244820EXT. 423/427/477/482,NaN,burgos,9006,burgos

In [18]:
guardia_civil[guardia_civil['UNIDAD']=='PUESTO PRINCIPAL DE ALFOZ DE BURGOS']

,UNIDAD,COMUNIDAD AUTONOMA,PROVINCIA,LOCALIDAD,DOMICILIO,CODIGO POSTAL,TELEFONO,OBSERVACIONES,municipio_limpio,cp,provincia
2244,PUESTO PRINCIPAL DE ALFOZ DE BURGOS,CASTILLA Y LEON,BURGOS,BURGOS,"AVDA. DE CANTABRIA, 87-95",9006,947244820\nEXT. 423/427/477/482,NaN,burgos,9006,burgos
2272,PUESTO PRINCIPAL DE ALFOZ DE BURGOS,CASTILLA Y LEON,BURGOS,BURGOS,"AVDA. DE CANTABRIA, 87-95",9006,947244820EXT. 423/427/477/482,NaN,burgos,9006,burgos

In [19]:
guardia_civil.drop_duplicates(subset=['cp', 'municipio_limpio', 'provincia'], inplace=True)

In [20]:
guardia_civil = guardia_civil.groupby(by=['cp', 'municipio_limpio', 'provincia'], as_index=False)['UNIDAD'].count()

In [21]:
guardia_civil.head()

      cp municipio_limpio provincia  UNIDAD
0  10003          caceres   caceres       1
1   1010          vitoria     alava       1
2  10100         miajadas   caceres       1
3  10110      madrigalejo   caceres       1
4  10120         logrosan   caceres       1

In [22]:
guardia_civil.columns = ['cp', 'municipio_limpio', 'provincia','uds_guardia_civil']

##### Creación y exportación de fichero maestro

In [23]:
guardia_civil.head()

      cp municipio_limpio provincia  uds_guardia_civil
0  10003          caceres   caceres                  1
1   1010          vitoria     alava                  1
2  10100         miajadas   caceres                  1
3  10110      madrigalejo   caceres                  1
4  10120         logrosan   caceres                  1

In [24]:
guardia_civil.to_csv("sociedad_seguridad_guardia_civil_2019_limpio.csv")